@{
    int loginMemberId = ViewBag.VerifyMemberId;
    ViewData["Title"] = "參團管理";
}
<partial name="_BreadcrumbPartial" />
<partial name="_DashboardMenuPartial" />
<div b-q7camsv0h8="" class="container">
    <main b-q7camsv0h8="" role="main" class="pb-3">
        <!-- Page Content -->
        <div class="content">
            <div class="container">
                <!-- Dashboard Table -->
                <!-- 參團區塊標題欄_報名紀錄/心願單 -->
                <div class="row">
                    <!--報名紀錄-->
                    <div class="col-xl-7 col-lg-12 d-flex" id="idNowJoinAGroupCard">
                        <div class="card dashboard-card flex-fill">
                            <div class="card-header card-header-info">
                                <div class="card-header-inner">
                                    <h4>報名紀錄</h4>
                                </div>
                                <div class="card-header-btns">
                                    <nav>
                                        <div class="nav nav-tabs" role="tablist">
                                        </div>
                                    </nav>
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-footer" id="tablepage">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                            <!--報名紀錄_分頁按鈕-->
                                            <paginate :page-count="total"
                                                      :click-handler="pageClick"
                                                      :prev-text="'<'"
                                                      :next-text="'>'"
                                                      :container-class="'pagination'">
                                                <span slot="prevContent">
                                                    <i class="feather-chevrons-left"></i>
                                                </span>
                                                <span slot="nextContent">
                                                    <i class="feather-chevrons-right"></i>
                                                </span>
                                            </paginate>
                                            <!--/報名紀錄_分頁按鈕-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 參團區塊標題欄_報名紀錄展示卡片 -->
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="nav-Court" role="tabpanel" aria-labelledby="nav-Court-tab" tabindex="0">
                                    <div class="table-responsive dashboard-table-responsive">
                                        <table class="table dashboard-card-table">
                                            <tbody>
                                                <tr v-if="nowJoinAGroupCard.length === 0 || nowJoinAGroupCard[0].activityUserId === 0">
                                                    <td class="sorting_1" style="display: flex;justify-content: center;">
                                                        <h2 class="table-avatar">
                                                            <span class="table-head-name flex-grow-1">
                                                                <a>目前您沒有報名任何揪團喔!快來一起愛地球吧!</a>
                                                            </span>
                                                        </h2>
                                                    </td>
                                                </tr>
                                                <tr v-else
                                                    v-for="(card, index) in filterCard"
                                                    :key="index">
                                                    <td>
                                                        <div class="academy-info">
                                                            <a class="academy-img"
                                                               :href="`/Activity/ActivityPage/${pictureActivityId}`"
                                                               @@click="pictureLinkToGroupPage(filterCard[index])">
                                                                <img :src="`${card.imageName}`"
                                                                     style="height: 80px; width: 80px"
                                                                     alt="Activity Picture">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6>
                                                                    <a @@click="titleLinkToGroupPage(filterCard[index])"
                                                                       :href="`/Activity/ActivityPage/${titleActivityId}`">
                                                                        {{card.activityName}}
                                                                    </a>
                                                                </h6>
                                                                <span>團主: {{card.nickName}}</span>
                                                                <ul>
                                                                    <li>活動人數上限 : {{card.maxPeople}}人</li>
                                                                    <li>目前人數: {{card.currentPeople}}人</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <h6>活動時間</h6>
                                                        <p>{{card.dateConvert}}</p>
                                                        <p>{{card.timeConvert}}</p>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> {{card.reviewStatus}}</span>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown dropdown-action">
                                                            <a href="#"
                                                               class="action-icon dropdown-toggle"
                                                               data-bs-toggle="dropdown"
                                                               aria-expanded="false"
                                                               @@click="setCurrentCard(filterCard[index])">
                                                                <i class="fas fa-ellipsis"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                 data-popper-placement="bottom-end"
                                                                 data-popper-escaped=""
                                                                 style="
                                                                         position: absolute;
                                                                         inset: 0px 0px auto auto;
                                                                         margin: 0px;
                                                                         transform: translate3d(
                                                                           -1440px,
                                                                           2px,
                                                                           0px
                                                                         );
                                                                       "
                                                                 data-popper-reference-hidden="">
                                                                <a class="dropdown-item"
                                                                   :href="`/Activity/ActivityPage/${activityId}`"
                                                                   @@click="linkToGroupPage">
                                                                    <i class="feather-chevron-right"></i>
                                                                    前往頁面
                                                                </a>
                                                                <a class="dropdown-item"
                                                                   data-bs-toggle="modal"
                                                                   data-bs-target="#request-cancel-join">
                                                                    <i class="feather-corner-down-left"></i>
                                                                    取消報名
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- /參團區塊標題欄_報名紀錄展示卡片 -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 取消報名的彈跳視窗V1.0 -->
                        <div class="modal custom-modal fade request-modal"
                             id="request-cancel-join"
                             style="display: none"
                             aria-hidden="true"
                             ref="modal">
                            <div class="modal-dialog modal-dialog-centered modal-md"
                                 style="max-width: 675px">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <div class="form-header modal-header-title">
                                            <h4 class="mb-0">取消報名</h4>
                                        </div>
                                        <a class="close"
                                           data-bs-dismiss="modal"
                                           aria-label="Close">
                                            <span class="align-center" aria-hidden="true">
                                                <i class="feather-x"></i>
                                            </span>
                                        </a>
                                    </div>
                                    <div class="modal-body">
                                        <!-- Court Request -->
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="card dashboard-card court-information">
                                                    <div class="d-flex align-items-center justify-content-between">
                                                        <div class="card-header">
                                                            <h4>取消報名注意事項:</h4>
                                                            <p>1.送出後就無法再進行更改</p>
                                                            <p>2.取消後無法再次報名</p>
                                                        </div>
                                                        <div class="appointment-info">
                                                            <!-- 訊息欄位 -->
                                                            <ul>
                                                                <li>
                                                                    <div class="appointment-item">
                                                                        <div class="appointment-img">
                                                                            <img :src="`${currentCard.imageName}`"
                                                                                 alt="User" />
                                                                        </div>
                                                                        <div class="appointment-content">
                                                                            <h6>
                                                                                {{currentCard.activityName}}
                                                                            </h6>
                                                                            <p class="color-green">
                                                                                目前人數:
                                                                                {{currentCard.currentPeople}}人
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                </li>
                                                                <li>
                                                                    <h6>活動時間</h6>
                                                                    <p>{{currentCard.dateConvert}}</p>
                                                                    <p>{{currentCard.timeConvert}}</p>
                                                                </li>
                                                            </ul>
                                                            <!-- 訊息欄位 -->
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /Court Request -->
                                    </div>
                                    <div class="modal-footer">
                                        <div class="table-accept-btn">
                                            <a href="javascript:;"
                                               class="btn cancel-table-btn"
                                               @@click="joinAGroupCancel">確定取消報名</a>
                                        </div>
                                        <div class="table-accept-btn">
                                            <a href="javascript:;"
                                               class="btn accept-btn"
                                               data-bs-toggle="modal"
                                               data-bs-target="#request-reject">上一頁</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- 取消報名的彈跳視窗V1.0  -->
                    </div>
                    <!--/報名紀錄-->
                    <!-- 心願單 -->
                    <div class="col-xl-5 col-lg-12 d-flex flex-fill" id="idWishListCard">
                        <div class="card dashboard-card academy-card.flex-fill">
                            <div class="card-header card-header-info">
                                <div class="card-header-inner">
                                    <h4>心願單</h4>
                                </div>
                                <div class="card-header-btns">
                                    <nav>
                                        <div class="nav nav-tabs" role="tablist">
                                        </div>
                                    </nav>
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-footer" id="tablepage">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                            <!-- 心願單分頁功能 -->
                                            <paginate :page-count="total"
                                                      :click-handler="pageClick"
                                                      :prev-text="'<'"
                                                      :next-text="'>'"
                                                      :container-class="'pagination'">
                                                <span slot="prevContent">
                                                    <i class="feather-chevrons-left"></i>
                                                </span>
                                                <span slot="nextContent">
                                                    <i class="feather-chevrons-right"></i>
                                                </span>
                                            </paginate>
                                            <!-- /心願單分頁功能 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="nav-Favourites" role="tabpanel" aria-labelledby="nav-Favourites-tab" tabindex="0">
                                    <div class="table-responsive dashboard-table-responsive">
                                        <table class="table dashboard-card-table">
                                            <tbody>
                                                <tr v-if="wishListCard.length === 0 || wishListCard[0].wishId === 0">
                                                    <td class="sorting_1"
                                                        style=" display: flex;
                                                                justify-content: center;
                                                               ">
                                                        <h2 class="table-avatar">
                                                            <span class="table-head-name flex-grow-1">
                                                                <a>
                                                                    目前您沒有蒐藏任何揪團喔!!看看大家都在找那些好康的吧!
                                                                </a>
                                                            </span>
                                                        </h2>
                                                    </td>
                                                </tr>
                                                <tr v-else
                                                    v-for="(card, index) in filterCard"
                                                    :key="index">
                                                    <td>
                                                        <div class="academy-info academy-info">
                                                            <a class="academy-img"
                                                               @@click="pictureLinkToGroupPage(filterCard[index])"
                                                               :href="`/Activity/ActivityPage/${pictureActivityId}`">
                                                                <img :src="`${card.imageName}`"
                                                                     style="height: 80px; width: 80px"
                                                                     alt="Activity Picture">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6>
                                                                    <a @@click="titleLinkToGroupPage(filterCard[index])"
                                                                       :href="`/Activity/ActivityPage/${titleActivityId}`">
                                                                        {{card.activityName}}
                                                                    </a>
                                                                </h6>
                                                                <p>尚餘可參加人數 : {{card.surplusQuota}}人</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i>{{card.activityStatus}}</span>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown dropdown-action">
                                                            <a href="#"
                                                               class="action-icon dropdown-toggle"
                                                               data-bs-toggle="dropdown"
                                                               aria-expanded="false"
                                                               @@click="setCurrentCard(filterCard[index])">
                                                                <i class="fas fa-ellipsis"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                 data-popper-placement="bottom-end"
                                                                 data-popper-escaped=""
                                                                 style="
                                                                       position: absolute;
                                                                       inset: 0px 0px auto auto;
                                                                       margin: 0px;
                                                                       transform: translate3d(
                                                                         -1440px,
                                                                         2px,
                                                                         0px
                                                                       );
                                                                     "
                                                                 data-popper-reference-hidden="">
                                                                <a class="dropdown-item"
                                                                   :href="`/Activity/ActivityPage/${activityId}`"
                                                                   @@click="linkToGroupPage">
                                                                    <i class="feather-chevron-right"></i>
                                                                    前往頁面
                                                                </a>
                                                                <a class="dropdown-item"
                                                                   href="javascript:void(0)"
                                                                   @@click="collectAGroupCancel(filterCard[index])">
                                                                    <i class="feather-trash"></i>
                                                                    刪除收藏
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /心願單 -->
                </div>
                <!-- /參團區塊標題欄_報名紀錄/心願單 -->
                <!-- 參團區塊標題欄_過去活動-->
                <!--分頁選單過去活動-->
                <div class="row" id="idPastJoinAGroupCard">
                    <div class="col-lg-12">
                        <div class="card dashboard-card mb-0">
                            <div class="card-header card-header-info border-0">
                                <div class="card-header-inner">
                                    <h4>參團紀錄</h4>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="nav-Recent" role="tabpanel" aria-labelledby="nav-Recent-tab" tabindex="0">
                                    <div class="table-responsive table-datatble">
                                        <table class="table table-borderless dashboard-card-table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>過去活動</th>
                                                    <th>日期 &amp; 時間</th>
                                                    <th>參加人數</th>
                                                    <th>活動地區</th>
                                                    <th>開團狀態</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <!-- /參團區塊標題欄-->
                                            <!-- 過去參團卡片-->
                                            <tbody>
                                                <tr v-for="(card, index) in filterCard" :key="index">
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a @@click="pictureLinkToGroupPage(filterCard[index])"
                                                               :href="`/Activity/ActivityPage/${pictureActivityId}`"
                                                               class="avatar avatar-sm flex-shrink-0">
                                                                <img class="avatar-img"
                                                                     :src="`${card.imageName}`"
                                                                     alt="Activity Picture">
                                                            </a>
                                                            <span class="table-head-name flex-grow-1">
                                                                <a @@click="titleLinkToGroupPage(filterCard[index])"
                                                                   :href="`/Activity/ActivityPage/${titleActivityId}`">
                                                                    {{card.activityName}}
                                                                </a>
                                                                <span>團主: {{card.nickName}}</span>
                                                            </span>
                                                        </h2>
                                                    </td>
                                                    <td>
                                                        <p>{{card.dateConvert}}</p>
                                                        <p>{{card.timeConvert}}</p>
                                                    </td>
                                                    <td>
                                                        <h6>{{card.currentPeople}}人</h6>
                                                    </td>
                                                    <td>{{card.activityCity}}</td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i>{{card.activityStatus}}</span>
                                                    </td>
                                                    <td>
                                                        <!-- 下拉圓形選單評團主 -->
                                                        <div class="dropdown dropdown-action">
                                                            <a href="#"
                                                               class="action-icon dropdown-toggle"
                                                               data-bs-toggle="dropdown"
                                                               aria-expanded="false"
                                                               @@click="setCurrentCard(filterCard[index])">
                                                                <i class="fas fa-ellipsis"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end"
                                                                 data-popper-placement="bottom-end"
                                                                 style="
                                                                        position: absolute;
                                                                        inset: 0px 0px auto auto;
                                                                        margin: 0px;
                                                                        transform: translate3d(
                                                                          -1440px,
                                                                          2px,
                                                                          0px
                                                                        );
                                                                      ">
                                                                <a class="dropdown-item"
                                                                   @@click="linkToGroupPage"
                                                                   :href="`/Activity/ActivityPage/${activityId}`">
                                                                    <i class="feather-chevron-right"></i>
                                                                    前往頁面
                                                                </a>
                                                                <a href="javascript:;"
                                                                   class="dropdown-item"
                                                                   data-bs-toggle="modal"
                                                                   data-bs-target="#request-coche">
                                                                    <i class="fa-regular fa-star"></i>
                                                                    團主評分
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- 下拉圓形選單評團主 -->
                                                    </td>
                                                </tr>
                                                <!-- /過去參團卡片-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- 分頁選單-參團-->
                            <div class="tab-footer" style="margin-top: 10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="tablepage">
                                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                                <!--分頁按鈕-->
                                                <paginate :page-count="total"
                                                          :prev-text="'<'"
                                                          :next-text="'>'"
                                                          :click-handler="pageClick">
                                                    <span slot="prevContent"><i class="feather-chevrons-left"></i></span>
                                                    <span slot="nextContent"><i class="feather-chevrons-right"></i></span>
                                                </paginate>
                                                <!--/分頁按鈕-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/分業選單-參團-->
                        </div>
                    </div>
                    <!-- 有分數星星的彈跳視窗V1.1 -->
                    <div class="modal custom-modal fade request-modal"
                         id="request-coche"
                         style="display: none;"
                         aria-hidden="true"
                         ref="modal">
                        <div class="modal-dialog modal-dialog-centered modal-md">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <div class="form-header modal-header-title">
                                        <h4 class="mb-0">團主評分</h4>
                                    </div>
                                    <a class="close" data-bs-dismiss="modal" aria-label="Close">
                                        <span class="align-center" aria-hidden="true"><i class="feather-x"></i></span>
                                    </a>
                                </div>
                                <div class="modal-body">
                                    <!-- Court Request -->
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card dashboard-card court-information">
                                                <div class="d-flex align-items-center justify-content-between">
                                                    <div class="card-header">
                                                        <h5>評分注意事項:</h5>
                                                        <p>1.請點擊進行評分星星。</p>
                                                        <p>2.送出後就無法再進行更改。</p>
                                                    </div>
                                                    <div class="appointment-info">
                                                        <!-- 訊息欄位 -->
                                                        <ul>
                                                            <li>
                                                                <div class="appointment-item">
                                                                    <div class="appointment-img">
                                                                        <img :src="`${currentCard.imageName}`"
                                                                             alt="Activity Picture">
                                                                    </div>
                                                                    <div class="appointment-content">
                                                                        <h6>{{currentCard.activityName}}</h6>
                                                                        <p class="color-green">參加人數: {{currentCard.currentPeople}}人</p>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <h6>活動時間</h6>
                                                                <p>{{currentCard.dateConvert}}</p>
                                                                <p>{{currentCard.timeConvert}}</p>
                                                            </li>
                                                            <li>
                                                                <h6>活動地點</h6>
                                                                <p>{{currentCard.activityCity}}</p>
                                                            </li>
                                                        </ul>
                                                        <!-- 訊息欄位 -->
                                                    </div>
                                                    <div class="ratings-info corner-radius-10 text-center">
                                                        <!-- 分數星星 -->
                                                        <div class="ratings-info corner-radius-10 text-center venue-coach-details">
                                                            <div class="ratings-info corner-radius-10 text-center">
                                                                <div class="rating"
                                                                     v-if="checkFraction === null">
                                                                    <i v-for="index in 5"
                                                                       :key="index"
                                                                       :class="getClass(index)"
                                                                       @@click="selectScore(index)"></i>
                                                                    <span>({{ tempStar }})</span>
                                                                </div>
                                                                <div class="rating" v-else>
                                                                    <i class="fas fa-star filled"
                                                                       v-for="n in Math.floor(checkFraction)"></i>
                                                                    <i class="fa-regular fa-star filled"
                                                                       v-for="x in 5-Math.ceil(checkFraction)"></i>
                                                                    <span>({{checkFraction}})</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- 分數星星 -->
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- /Court Request -->
                                </div>
                                <div class="modal-footer">
                                    <div class="table-accept-btn">
                                        <a href="javascript:;"
                                           class="btn accept-btn me-0"
                                           @@click="submitScore">
                                            送出
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 有分數星星的彈跳視窗V1.1  -->
                </div>
                <!--分頁選單過去活動-->
                <!-- /參團區塊標題欄_過去活動 -->
            </div>
        </div>
        <!-- /Page Content -->

    </main>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vuejs-paginate-next@latest/dist/vuejs-paginate-next.umd.js"></script>
    <script>
        //現在報名活動顯示
        const nowJoinAGroup = Vue.createApp({
            data() {
                return {
                    nowJoinAGroupCard: [],
                    pageNumber: 1,
                    total: 0,
                    memberId: @loginMemberId,
                    currentCard: "",
                    activityId: "",
                    pictureActivityId: "",
                    titleActivityId: ""
                };
            },
            mounted() {
                this.axiosNowJoinAGroupCard();
            },
            computed: {
                filterCard() {
                    return this.nowJoinAGroupCard;
                },
            },
            methods: {
                axiosNowJoinAGroupCard: function () {
                    let _this = this;
                    axios
                        .get(`/NowJoinAGroupApi/GetNowJoinAGroupById?memberId=${_this.memberId}&pageNumber=${_this.pageNumber}`)
                        .then(response => {
                            _this.nowJoinAGroupCard = response.data.items;
                            _this.total = response.data.totalPages;
                            _this.pageNumber = response.data.pageNumber;
                        })
                        .catch(erro => Swal.fire({
                            text: "報名紀錄出了點錯!",
                            icon: "error",
                            confirmButtonColor: "#097E52",
                            confirmButtonText: "確認"
                        }));
                },
                pageClick(num) {
                    this.pageNumber = num;
                    this.axiosNowJoinAGroupCard();
                },
                joinAGroupCancel() {
                    let _this = this;
                    var form = new FormData();
                    form.append("ReviewStatus", 3);
                    axios
                        .put(
                            `/NowJoinAGroupApi/NowJoinAGroupCancel/${_this.currentCard.activityId}/${_this.currentCard.memberId}`,
                            form,
                            {
                                headers: { "Content-Type": "multipart/Formdata" },
                            }
                        )
                        .then((response) => {
                            if (response.status === 200) {
                                // 直接從現有的 nowJoinAGroupCard 中移除該項目
                                _this.nowJoinAGroupCard = _this.nowJoinAGroupCard.filter(
                                    (card) =>
                                        !(
                                            card.activityUserId === _this.currentCard.activityUserId &&
                                            card.memberId === _this.currentCard.memberId
                                        )
                                );
                                if (_this.filterCard.length === 0 && _this.pageNumber > 1) {
                                    _this.pageClick(_this.pageNumber - 1);
                                };
                            } else {
                                Swal.fire({
                                    text: "取消參加失敗",
                                    icon: "warning",
                                    confirmButtonColor: "#097E52",
                                    confirmButtonText: "確認"
                                });
                            };
                        })
                        .catch(erro => Swal.fire({
                            text: "取消報名出了點錯!請洽本站客服!",
                            icon: "error",
                            confirmButtonColor: "#097E52",
                            confirmButtonText: "確認"
                        }));
                    $("#request-cancel-join").modal("hide");
                },
                setCurrentCard(card) {
                    this.currentCard = card;
                },
                linkToGroupPage() {
                    this.activityId = this.currentCard.activityId;
                },
                pictureLinkToGroupPage(card) {
                    this.pictureActivityId = card.activityId;
                },
                titleLinkToGroupPage(card) {
                    this.titleActivityId = card.activityId;
                }
            },
        })
            .component("paginate", VuejsPaginateNext)
            .mount("#idNowJoinAGroupCard");

        //心願單活動顯示
        const wishListCardApp = Vue.createApp({
            data() {
                return {
                    wishListCard: [],
                    countPerPage: 5,
                    pageNumber: 1,
                    memberId: @loginMemberId,
                    activityId: "",
                    pictureActivityId: "",
                    titleActivityId: ""
                }
            },
            mounted() {
                this.axiosWishListCard();
            },
            computed: {
                filterCard() {
                    return this.wishListCard;
                }
            },
            methods:
            {
                axiosWishListCard: function () {
                    var _this = this;
                    axios
                        .get(`/WishListApi/GetWishListById?memberId=${_this.memberId}&pageNumber=${_this.pageNumber}`)
                        .then(response => {
                            _this.wishListCard = response.data.items;
                            _this.total = response.data.totalPages;
                            _this.pageNumber = response.data.pageNumber;
                        })
                        .catch(error => Swal.fire({
                            text: "心願單出了點錯!請洽本站客服!",
                            icon: "error",
                            confirmButtonColor: "#097E52",
                            confirmButtonText: "確認"
                        }))
                },
                pageClick(num) {
                    this.pageNumber = num;
                    this.axiosWishListCard();
                },
                collectAGroupCancel(card) {
                    let _this = this;
                    axios.delete(`/WishListApi/WishListDelete?memberId=${card.memberId}&wishId=${card.wishId}`)
                        .then(response => {
                            if (response.status === 200) {
                                _this.wishListCard = _this.wishListCard.filter(card =>
                                    !(card.activityId === _this.currentCard.activityId
                                        && card.memberId === _this.currentCard.memberId))
                            }
                            if (_this.filterCard.length === 0 && _this.pageNumber > 1) {
                                _this.pageClick(_this.pageNumber - 1);
                            }
                            ; Swal.fire({
                                text: "已取消收藏",
                                icon: "warning",
                                confirmButtonColor: "#097E52",
                                confirmButtonText: "確認"
                            });
                        })
                        .catch(erro => Swal.fire({
                            text: "取消心願單出了點錯!請洽本站客服!",
                            icon: "error",
                            confirmButtonColor: "#097E52",
                            confirmButtonText: "確認"
                        }))
                },
                setCurrentCard(card) {
                    this.currentCard = card;
                },
                linkToGroupPage() {
                    this.activityId = this.currentCard.activityId;
                },
                pictureLinkToGroupPage(card) {
                    this.pictureActivityId = card.activityId;
                },
                titleLinkToGroupPage(card) {
                    this.titleActivityId = card.activityId;
                }
            }
        })
            .component("paginate", VuejsPaginateNext)
            .mount("#idWishListCard");

        // 過去活動卡片顯示
        const pastJoinAGroupApp = Vue.createApp({
            data() {
                return {
                    pastJoinAGroupCard: [],
                    pageNumber: 1,
                    total: 0,
                    memberId: @loginMemberId, //會員Id
                    currentCard: "",
                    activityId: "",
                    pictureActivityId: "",
                    titleActivityId: "",
                    scorePoint: "",
                    Star: 0,
                    tempStar: 0, // 初始星星數為0
                    checkFraction: "",
                };
            },
            mounted() {
                this.axiosPastJoinAGroupCard();
                $(this.$refs.modal).on("hidden.bs.modal", this.resetStarRating);
            },
            computed: {
                total() {
                    return Math.ceil(this.pastJoinAGroupCard.length / this.countPerPage);
                },
                filterCard() {
                    return this.pastJoinAGroupCard;
                },
            },
            methods: {
                axiosPastJoinAGroupCard: function () {
                    let _this = this;
                    axios
                        .get(
                            `/PastJoinAGroupApi/GetPastJoinAGroupById?memberId=${_this.memberId}&pageNumber=${_this.pageNumber}`
                        )
                        .then(response => {
                            _this.pastJoinAGroupCard = response.data.items;
                            _this.total = response.data.totalPages;
                            _this.pageNumber = response.data.currentPage
                        })
                        .catch(error => Swal.fire({
                            text: "過去參團紀錄出了點錯!請洽本站客服!",
                            icon: "error",
                            confirmButtonColor: "#097E52",
                            confirmButtonText: "確認"
                        }));
                },
                pageClick(num) {
                    this.pageNumber = num;
                    this.axiosPastJoinAGroupCard();
                },
                setCurrentCard(card) {
                    let _this = this;
                    _this.currentCard = card;
                    _this.showStartScore(card);
                },
                linkToGroupPage() {
                    this.activityId = this.currentCard.activityId;
                },
                pictureLinkToGroupPage(card) {
                    this.pictureActivityId = card.activityId;
                },
                titleLinkToGroupPage(card) {
                    this.titleActivityId = card.activityId;
                },
                submitScore() {
                    let _this = this;
                    _this.star = _this.tempStar;
                    const payload = {
                        fraction: _this.star,
                        activityId: _this.currentCard.activityId,
                        memberId: @loginMemberId, //會員Id
                    };
                    axios
                        .post(
                            `/InputScoreApi/NewInputScoreById`,
                            payload,
                            {
                                headers: { "Content-Type": "application/json" },
                            }
                        )
                        .then((response) => {
                            if (response.data === false) {
                                Swal.fire({
                                    text: "無法重複評分",
                                    icon: "warning",
                                    confirmButtonColor: "#097E52",
                                    confirmButtonText: "確認"
                                });
                            }
                            else {
                                let cardListChange = _this.pastJoinAGroupCard.findIndex(
                                    (id) => id.activityId === _this.currentCard.activityId
                                );

                                if (cardListChange != null) {
                                    _this.pastJoinAGroupCard[cardListChange].fraction = _this.star;
                                }
                                Swal.fire({
                                    text: "評分成功",
                                    icon: "success",
                                    confirmButtonColor: "#097E52",
                                    confirmButtonText: "確認"
                                });
                            }
                        })
                        .catch(erro => Swal.fire({
                            text: "送出評分有點錯!請洽網站客服!",
                            icon: "error",
                            confirmButtonColor: "#097E52",
                            confirmButtonText: "確認"
                        }));
                    $("#request-coche").modal("hide");
                },
                getClass(index) {
                    if (index <= this.tempStar) {
                        return "fas fa-star filled"; // 如果該星星的索引小於等於當前分數，則為填滿狀態
                    } else {
                        return "fa-regular fa-star"; // 否則為空星星狀態
                    }
                },
                selectScore(index) {
                    if (this.checkFraction === null) {
                        // 只有當 checkFraction 為 0 時才允許選擇分數
                        this.tempStar = index;
                    } // 只更新暫存分數
                },
                resetStarRating() {
                    this.tempStar = 0;
                    this.star = 0;
                },
                showStartScore() {
                    let _this = this;
                    _this.checkFraction = _this.currentCard.fraction;
                },
            },
        })
            .component("paginate", VuejsPaginateNext)
            .mount("#idPastJoinAGroupCard");
    </script>
}
