
<partial name="_BreadcrumbPartial" />
<partial name="_DashboardMenuPartail" />
<div b-q7camsv0h8="" class="container">
    <main b-q7camsv0h8="" role="main" class="pb-3">
        <!-- Page Content -->
        <div class="content">
            <div class="container">
                <!-- Dashboard Table -->
                <!-- 參團區塊標題欄_報名紀錄 -->
                <div class="row">
                    <div class="col-xl-7 col-lg-12 d-flex">
                        <div class="card dashboard-card flex-fill">
                            <div class="card-header card-header-info">
                                <div class="card-header-inner">
                                    <h4>報名紀錄</h4>
                                    <p>Court Reservations Made Easy</p>
                                </div>
                                <div class="card-header-btns">
                                    <nav>
                                        <div class="nav nav-tabs" role="tablist">
                                        </div>
                                    </nav>
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-footer" id="tablepage">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                            <!--分頁按鈕-->
                                            <!--/分頁按鈕-->
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- 參團區塊標題欄_報名紀錄展示卡片 -->
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="nav-Court" role="tabpanel" aria-labelledby="nav-Court-tab" tabindex="0">
                                    <div class="table-responsive dashboard-table-responsive">
                                        <table class="table dashboard-card-table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="academy-info">
                                                            <a href="/user-bookings.html" class="academy-img">
                                                                <img src="~/assets/img/booking/booking-02.jpg" alt="Booking">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6><a href="/#" data-bs-toggle="modal" data-bs-target="#upcoming-court">跑跑泡步團</a></h6>
                                                                <span>團主: 泡一條根</span>
                                                                <ul>
                                                                    <li>活動人數上限 : 4</li>
                                                                    <li>目前人數: 2</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <h6>活動時間</h6>
                                                        <p>星期一, 7月 11日</p>
                                                        <p>06:00 PM - 08:00 PM</p>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> 審核中</span>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown dropdown-action">
                                                            <a href="/#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-end" data-popper-placement="bottom-end" data-popper-escaped="" style="position: absolute; inset: 0px 0px auto auto; margin: 0px; transform: translate3d(-1440px, 2px, 0px);" data-popper-reference-hidden="">
                                                                <a class="dropdown-item" href="/javascript:void(0);">
                                                                    <i class="feather-x-circle"></i> Cancel
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- /參團區塊標題欄_報名紀錄展示卡片 -->
                                                <!-- 參團區塊標題欄_報名紀錄充滿卡片 -->
                                                <tr>
                                                    <td>
                                                        <div class="academy-info">
                                                            <a href="/user-bookings.html" class="academy-img">
                                                                <img src="~/assets/img/booking/booking-03.jpg" alt="Booking">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6><a data-bs-toggle="modal" data-bs-target="#upcoming-court">考前跑Party!!!</a></h6>
                                                                <span>Court 2</span>
                                                                <ul>
                                                                    <li>Guests : 3</li>
                                                                    <li>1 Hr</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <h6>Date &amp; Time</h6>
                                                        <p>Tue, Jul 12</p>
                                                        <p>07:00 PM - 08:00 PM</p>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> Paid</span>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown dropdown-action">
                                                            <a href="/#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="/javascript:void(0);">
                                                                    <i class="feather-x-circle"></i> Cancel
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="academy-info">
                                                            <a href="/user-bookings.html" class="academy-img">
                                                                <img src="~/assets/img/booking/booking-04.jpg" alt="Booking">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6><a data-bs-toggle="modal" data-bs-target="#upcoming-court">Feather Badminton</a></h6>
                                                                <span>Court 1</span>
                                                                <ul>
                                                                    <li>Guests : 1</li>
                                                                    <li>4 Hrs</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <h6>Date &amp; Time</h6>
                                                        <p>Wen, Jul 13</p>
                                                        <p>10:00 PM - 11:00 PM</p>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> Paid</span>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown dropdown-action">
                                                            <a href="/#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="/javascript:void(0);">
                                                                    <i class="feather-x-circle"></i> Cancel
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="academy-info">
                                                            <a href="/user-bookings.html" class="academy-img">
                                                                <img src="~/assets/img/booking/booking-05.jpg" alt="Booking">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6><a data-bs-toggle="modal" data-bs-target="#upcoming-court">Bwing Sports Academy</a></h6>
                                                                <span>Court 3</span>
                                                                <ul>
                                                                    <li>Guests : 5</li>
                                                                    <li>6 Hrs</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <h6>Date &amp; Time</h6>
                                                        <p>Thu, Jul 14</p>
                                                        <p>09:00 AM - 10:00 AM</p>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> Paid</span>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown dropdown-action">
                                                            <a href="/#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="/javascript:void(0);">
                                                                    <i class="feather-x-circle"></i> Cancel
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="academy-info">
                                                            <a href="/user-bookings.html" class="academy-img">
                                                                <img src="~/assets/img/booking/booking-06.jpg" alt="Booking">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6><a data-bs-toggle="modal" data-bs-target="#upcoming-court">Marsh Academy</a></h6>
                                                                <span>Court 2</span>
                                                                <ul>
                                                                    <li>Guests : 3</li>
                                                                    <li>2 Hrs</li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <h6>Date &amp; Time</h6>
                                                        <p>Fri, Jul 15</p>
                                                        <p>11:00 AM - 12:00 PM</p>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> Paid</span>
                                                    </td>
                                                    <td>
                                                        <div class="dropdown dropdown-action">
                                                            <a href="/#" class="action-icon dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-ellipsis"></i></a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="/javascript:void(0);">
                                                                    <i class="feather-x-circle"></i> Cancel
                                                                </a>
                                                            </div>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <!-- /參團區塊標題欄_報名紀錄充滿卡片 -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- 心願單標頭 -->
                    <div class="col-xl-5 col-lg-12 d-flex flex-fill">
                        <div class="card dashboard-card academy-card.flex-fill">
                            <div class="card-header card-header-info">
                                <div class="card-header-inner">
                                    <h4>心願單</h4>
                                    <p>My favourite court lists </p>
                                </div>
                                <div class="card-header-btns">
                                    <nav>
                                        <div class="nav nav-tabs" role="tablist">
                                        </div>
                                    </nav>
                                </div>
                                <div class="col-md-6">
                                    <div class="tab-footer" id="tablepage">
                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                            <ul class="pagination">
                                                <li class="paginate_button page-item previous disabled" id="DataTables_Table_1_previous">
                                                    <a href="#" aria-controls="DataTables_Table_1" data-dt-idx="0" tabindex="0" class="page-link">
                                                        <i class="feather-chevrons-left"></i>
                                                    </a>
                                                </li>
                                                <li class="paginate_button page-item active">
                                                    <a href="#" aria-controls="DataTables_Table_1" data-dt-idx="1" tabindex="0" class="page-link">1</a>
                                                </li>
                                                <li class="paginate_button page-item next disabled" id="DataTables_Table_1_next">
                                                    <a href="#" aria-controls="DataTables_Table_1" data-dt-idx="2" tabindex="0" class="page-link">
                                                        <i class="feather-chevrons-right"></i>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="nav-Favourites" role="tabpanel" aria-labelledby="nav-Favourites-tab" tabindex="0">
                                    <div class="table-responsive dashboard-table-responsive">
                                        <table class="table dashboard-card-table">
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <div class="academy-info academy-info">
                                                            <a href="/user-bookings.html" class="academy-img">
                                                                <img src="~/assets/img/booking/booking-03.jpg" alt="Booking">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6><a href="/user-bookings.html">粉紅泡泡破滅Party</a></h6>
                                                                <p>尚餘可參加人數: 1人</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> 報名中</span>
                                                    </td>
                                                    <td>
                                                        <div class="academy-icon">
                                                            <a href="/user-bookings.html">
                                                                <i class="feather-chevron-right"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="academy-info academy-info">
                                                            <a href="/user-bookings.html" class="academy-img">
                                                                <img src="~/assets/img/booking/booking-03.jpg" alt="Booking">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6><a href="/user-bookings.html">Wing Sports Academy</a></h6>
                                                                <p>10 Bookings</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> Paid</span>
                                                    </td>
                                                    <td>
                                                        <div class="academy-icon">
                                                            <a href="/user-bookings.html">
                                                                <i class="feather-chevron-right"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="academy-info academy-info">
                                                            <a href="/user-bookings.html" class="academy-img">
                                                                <img src="~/assets/img/booking/booking-03.jpg" alt="Booking">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6><a href="/user-bookings.html">Wing Sports Academy</a></h6>
                                                                <p>10 Bookings</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> Paid</span>
                                                    </td>
                                                    <td>
                                                        <div class="academy-icon">
                                                            <a href="/user-bookings.html">
                                                                <i class="feather-chevron-right"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="academy-info academy-info">
                                                            <a href="/user-bookings.html" class="academy-img">
                                                                <img src="~/assets/img/booking/booking-04.jpg" alt="Booking">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6><a href="/user-bookings.html">Feather Badminton</a></h6>
                                                                <p>20 Bookings</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> Paid</span>
                                                    </td>
                                                    <td>
                                                        <div class="academy-icon">
                                                            <a href="/user-bookings.html">
                                                                <i class="feather-chevron-right"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <div class="academy-info academy-info">
                                                            <a href="/user-bookings.html" class="academy-img">
                                                                <img src="~/assets/img/booking/booking-05.jpg" alt="Booking">
                                                            </a>
                                                            <div class="academy-content">
                                                                <h6><a href="/user-bookings.html">Bwing Sports Academy</a></h6>
                                                                <p>30 Bookings</p>
                                                            </div>
                                                        </div>
                                                    </td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i> Paid</span>
                                                    </td>
                                                    <td>
                                                        <div class="academy-icon">
                                                            <a href="/user-bookings.html">
                                                                <i class="feather-chevron-right"></i>
                                                            </a>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /參團區塊標題欄_報名紀錄 -->
                <!-- 參團區塊標題欄_過去活動-->
                <!--分頁選單過去活動-->
                <div class="row" id="idPastJoinAGroupCard2">
                    <div class="col-lg-12">
                        <div class="card dashboard-card mb-0">
                            <div class="card-header card-header-info border-0">
                                <div class="card-header-inner">
                                    <h4>參團紀錄</h4>
                                    <p>Access recent invoices related to court bookings </p>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="nav-Recent" role="tabpanel" aria-labelledby="nav-Recent-tab" tabindex="0">
                                    <div class="table-responsive table-datatble">
                                        <table class="table table-borderless dashboard-card-table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>過去活動</th>
                                                    <th>日期 &amp; 時間</th>
                                                    <th>參加人數</th>
                                                    <th>活動地區</th>
                                                    <th>開團狀態</th>
                                                    <th></th>
                                                </tr>
                                            </thead>
                                            <!-- /參團區塊標題欄-->
                                            <!-- 過去參團卡片-->
                                            <tbody>
                                                <tr v-for="(card, index) in filterCard" :key="index">
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="/#" data-bs-toggle="modal" data-bs-target="#upcoming-court" class="avatar avatar-sm flex-shrink-0">
                                                                <img class="avatar-img" src="~/assets/img/booking/booking-02.jpg" alt="Booking">
                                                            </a>
                                                            <span class="table-head-name flex-grow-1">
                                                                <a data-bs-toggle="modal" data-bs-target="#upcoming-court">{{card.activityName}}</a>
                                                                <span>團主: {{card.nickName}}</span>
                                                            </span>
                                                        </h2>
                                                    </td>
                                                    <td>
                                                        <p>{{card.startTime}}</p>
                                                    </td>
                                                    <td>
                                                        <h6>{{card.currentPeople}}人</h6>
                                                    </td>
                                                    <td>{{card.activityCity}}</td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i>{{card.activityStatus}}</span>
                                                    </td>
                                                    <td>
                                                        <!-- 下拉圓形選單評團主 -->
                                                        <div class="dropdown dropdown-action">
                                                            <a href="#" class="action-icon dropdown-toggle"
                                                               data-bs-toggle="dropdown" aria-expanded="false">
                                                                <i class="fas fa-ellipsis"></i>
                                                            </a>
                                                            <div class="dropdown-menu dropdown-menu-end">
                                                                <a class="dropdown-item" href="javascript:;" data-bs-toggle="modal"
                                                                   data-bs-target="#request-reject">
                                                                    <a href="javascript:;" class="btn cancel-table-btn" data-bs-toggle="modal" data-bs-target="#request-coche">評分</a>
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <!-- 下拉圓形選單評團主 -->
                                                    </td>
                                                </tr>
                                                <!-- /過去參團卡片-->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!-- 分頁選單老師修改-參團-->
                            <div class="tab-footer" style="margin-top: 10px;">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div id="tablepage">
                                            <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                                <!--分頁按鈕-->
                                                    <paginate :page-count="total"
                                                    @* :prev-text="'上一頁'"
                                                              :next-text="'下一頁'" *@
                                                              :click-handler="pageClick">
                                                        <span slot="prevContent"><i class="feather-chevrons-left"></i></span>
                                                        <span slot="nextContent"><i class="feather-chevrons-right"></i></span>
                                                    </paginate>
                                                <!--/分頁按鈕-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--/分業選單老師修改-參團-->
                        </div>
                    </div>
                </div>
                <!--分頁選單過去活動-->
                <!-- /參團區塊標題欄_過去活動 -->
            </div>
        </div>
        <!-- /Page Content -->
        <!-- 有分數星星的彈跳視窗V1.1 -->
        <div class="modal custom-modal fade request-modal" id="request-coche" style="display: none;" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-md">
                <div class="modal-content">
                    <div class="modal-header">
                        <div class="form-header modal-header-title">
                            <h4 class="mb-0">團主評分</h4>
                        </div>
                        <a class="close" data-bs-dismiss="modal" aria-label="Close">
                            <span class="align-center" aria-hidden="true"><i class="feather-x"></i></span>
                        </a>
                    </div>
                    <div class="modal-body">
                        <!-- Court Request -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card dashboard-card court-information">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="card-header">
                                            <h4>評分注意事項:<br>送出後就無法再進行更改</h4>
                                        </div>
                                        <div class="appointment-info">
                                            <!-- 訊息欄位 -->
                                            <ul>
                                                <li>
                                                    <div class="appointment-item">
                                                        <div class="appointment-img">
                                                            <img src="~/assets/img/booking/booking-01.jpg" alt="User">
                                                        </div>
                                                        <div class="appointment-content">
                                                            <h6>頁頁頁一頁ㄝ團</h6>
                                                            <p class="color-green">參加人數: 2人</p>
                                                        </div>
                                                    </div>
                                                </li>
                                                <li>
                                                    <h6>活動時間</h6>
                                                    <p>2023, 5月 11日</p>
                                                </li>
                                                <li>
                                                    <h6>活動地點</h6>
                                                    <p>台北市</p>
                                                </li>
                                            </ul>
                                            <!-- 訊息欄位 -->
                                        </div>
                                        <div class="ratings-info corner-radius-10 text-center">
                                            <!-- 分數星星 -->
                                            <div class="ratings-info corner-radius-10 text-center">
                                                <div class="rating">
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                    <i class="fas fa-star filled"></i>
                                                </div>
                                            </div>
                                            <!-- 分數星星 -->
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /Court Request -->
                    </div>
                    <div class="modal-footer">
                        <div class="table-accept-btn">
                            <a href="javascript:;" class="btn accept-btn me-0">送出</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- 有分數星星的彈跳視窗V1.1  -->
    </main>
</div>

@section Scripts
{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vuejs-paginate-next@latest/dist/vuejs-paginate-next.umd.js"></script>
    <script>

        // 過去活動卡片顯示
        const app2 = Vue.createApp({
            data() {
                return {
                    pastJoinAGroupCard: [],
                    countPerPage:1,
                    pageNumber:1
                };
            },
            mounted() {
                this.axiosPastJoinAGroupCard();
            },
            computed: {
                total() {
                    return Math.ceil(this.pastJoinAGroupCard.length / this.countPerPage);
                },
                filterCard() {
                    var start = (this.pageNumber - 1) * this.countPerPage;
                    var end = start + this.countPerPage;
                    return this.pastJoinAGroupCard.slice(start, end);
                }
            },
            methods: {
                axiosPastJoinAGroupCard: function () {
                    let _this = this;
                    axios.get(`/PastJoinAGroupApi/GetPastJoinAGroupAll`)
                    .then((response) =>_this.pastJoinAGroupCard = response.data)
                    .catch((error) => alert(`發生錯誤: ${error}`));
                },
                pageClick(num) {
                    this.pageNumber = num;
                }
            },
        }).component("paginate", VuejsPaginateNext).mount("#idPastJoinAGroupCard2");
    </script>
}
