@{
    int VerifyMemberId = ViewBag.VerifyMemberId;
}
<partial name="_BreadcrumbPartial" />
<partial name="_DashboardMenuPartial" />
@* MemberCenter/launchATeam *@
<div b-q7camsv0h8="" class="container" id="record">
    <main b-q7camsv0h8="" role="main" class="pb-3">
        <div id="global-loader" style="display: none;">
            <div class="loader-img">
                <img src="/assets/img/loader.png" class="img-fluid" alt="Global">
            </div>
        </div>
        <!-- Main Wrapper -->
        <div class="main-wrapper">
@*             <!-- Header -->
            <header class="header header-sticky fixed-top">
            </header> *@
            <!-- Page Content -->
            <div class="content" style="padding-top:">
                <div class="container">
                    <!-- Statistics Card -->
                    @* <div class="row">
                    </div> *@
                    <!-- /Statistics Card -->
                    <!-- Appointment -->
                    <div class="row">
                        <div class="col-lg-12">
                        </div>
                    </div>
                    <!-- /Appointment -->
                    <!-- Dashboard Table -->
                    @* 開團紀錄版面 *@
                    <div class="content court-bg" style="padding-top: 10px">
                        <div class="container">
                            @* 篩選單 *@
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="sortby-section court-sortby-section">
                                        <div class="sorting-info" style="
											margin-bottom: 10px;">
                                            <div class="row d-flex align-items-center">
                                                <div class="col-xl-12 col-sm-12 col-auto">
                                                    <div class="sortby-filter-group court-sortby">
                                                        <div class="sortbyset">
                                                            <span class="sortbytitle">活動時間排序</span>
                                                            <div class="sorting-select">
                                                                <select id="selectSort" v-model="sortOrder" class="form-select">
                                                                    <option value="asc">近到遠</option>
                                                                    <option value="desc">遠到近</option>
                                                                </select>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            @* 開團標題欄&搜尋頁  *@
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="court-tab-content">
                                        <div class="card card-tableset">
                                            <div class="card-body">
                                                <div class="coache-head-blk">
                                                    <div class="row align-items-center">
                                                        <div class="col-lg-6">
                                                            <div class="court-table-head">
                                                                <h4>開團紀錄</h4>
                                                            </div>
                                                        </div>
                                                        <div class="col-lg-6">
                                                            <div class="coach-active-blk">
                                                                <div id="tablefilter">
                                                                    <div id="DataTables_Table_0_filter"
                                                                         class="dataTables_filter">
                                                                    </div>
                                                                    <div id="DataTables_Table_1_filter"
                                                                         class="dataTables_filter">
                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="tab-content">
                                                    <div class="tab-pane fade active show" id="nav-Recent"
                                                         role="tabpanel" aria-labelledby="nav-Recent-tab"
                                                         tabindex="0">
                                                        <div class="table-responsive">
                                                            <div id="DataTables_Table_0_wrapper"
                                                                 class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-6"></div>
                                                                    <div class="col-sm-12 col-md-6"></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <table class="table table-borderless no-footer"
                                                                               id="DataTables_Table_0" role="grid">
                                                                            <thead class="thead-light">
                                                                                <tr role="row">
                                                                                    <th class="sorting_asc"
                                                                                        tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Court Name: activate to sort column descending"
                                                                                        style="width: 208.688px;">
                                                                                        開團名稱
                                                                                    </th>

                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="Date &amp;amp; Time : activate to sort column ascending"
                                                                                        style="width: 121.615px;">
                                                                                        活動時間
                                                                                    </th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="Additional Guests: activate to sort column ascending"
                                                                                        style="width: 128.396px;">
                                                                                        目前參加人數
                                                                                    </th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="Payment: activate to sort column ascending"
                                                                                        style="width: 64.7917px;">
                                                                                        尚餘可參加人數
                                                                                    </th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="Status: activate to sort column ascending"
                                                                                        style="width: 46.3229px;">
                                                                                        開團狀態
                                                                                    </th>
                                                                                    <th class="sorting" tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label=": activate to sort column ascending"
                                                                                        style="width: 193.062px;">
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                            <tr role="row" class="odd" v-for="item in filterNowCard" v-if="filterNowCard.length > 0">
                                                                                <td class="sorting_1">
                                                                                    <h2 class="table-avatar">
                                                                                        <a :href='"/Activity/ActivityPage/"+item.activityId'
                                                                                           class="avatar avatar-sm  flex-shrink-0">
                                                                                            <img class="avatar-img" :src='item.imageName' alt="Image">
                                                                                        </a>
                                                                                        <span class="table-head-name flex-grow-1">
                                                                                            <a :href='"/Activity/ActivityPage/"+item.activityId'>
                                                                                                @* 點擊後有error *@
                                                                                                {{item.activityName}}
                                                                                            </a>
                                                                                        </span>
                                                                                    </h2>
                                                                                </td>
                                                                                <td class="table-date-time">
                                                                                    <h4>
                                                                                        <p>{{item.dateConvert}}</p>
                                                                                        <p> {{item.timeConvert}}</p>
                                                                                    </h4>
                                                                                </td>
                                                                                <td>
                                                                                    <!-- 連接參團人數 -->@* 改 *@
                                                                                    <button type="button" class="btn btn-secondary"
                                                                                            data-bs-toggle="modal"
                                                                                            data-bs-target="#add-particpate-check" @@click="keepId2(item.memberId,item.activityId);Current()">
                                                                                        <i class="feather-eye"></i>查看詳細狀態

                                                                                    </button>
                                                                                    @* 改 *@
                                                                                    <!-- /連接參團人數 -->
                                                                                </td>
                                                                                <td>
                                                                                    <span class="pay-dark">{{item.result}}</span>
                                                                                </td>
                                                                                <td class="paid-edit">
                                                                                    <span>
                                                                                        <i class="feather-edit">{{item.activityStatus}}</i>
                                                                                    </span>
                                                                                </td>
                                                                                <td class="table-accept-btn text-end">
                                                                                    @* submit *@
                                                                                    <form action="/ActivityLeader/LeaderEdit" method="post">
                                                                                        <input type="hidden" name="id" :value="item.activityId">
                                                                                        <button type="submit" class="btn btn-primary w-100">
                                                                                            <i class="feather-check-circle"></i>編輯開團
                                                                                        </button>
                                                                                    </form>
                                                                                    @* submit *@
                                                                                    @* <a href="/home/leaderedit" class="btn accept-btn"><i class="feather-check-circle"></i>編輯開團</a> *@
                                                                                    <a class="btn cancel-table-btn" data-bs-toggle="modal" data-bs-target="#request-coche" @@click="keepId(item.activityId)">
                                                                                        <i class="feather-x-circle"></i>取消開團
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr v-else>
                                                                                <td class="sorting_1">
                                                                                    <h2 class="table-avatar">
                                                                                        <span class="table-head-name flex-grow-1" align=left>
                                                                                            <p>尚未擁有開團紀錄</p>
                                                                                        </span>
                                                                                    </h2>
                                                                                </td>
                                                                            </tr>
                                                                            </tbody>
                                                                        </table>
                                                                        <div class="tab-footer" style="margin-top: 10px;">
                                                                            <div class="row">
                                                                                <div class="col-md-12">
                                                                                    <div id="tablePage">
                                                                                        <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate1">
                                                                                            <!--分頁按鈕-->
                                                                                            <paginate :page-count="total"
                                                                                                      :prev-text="'<'"
                                                                                                      :next-text="'>'"
                                                                                                      :click-handler="pageClick">
                                                                                                <span slot="prevContent"><i class="feather-chevrons-left"></i></span>
                                                                                                <span slot="nextContent"><i class="feather-chevrons-right"></i></span>
                                                                                            </paginate>
                                                                                            <!--/分頁按鈕-->
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-5"></div>
                                                                    <div class="col-sm-12 col-md-7"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    @* 開團歷史紀錄版面 *@
                    @* 篩選單 *@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="sortby-section court-sortby-section">
                                <div class="sorting-info" style="margin-bottom: 10px;">
                                    <div class="row d-flex align-items-center">
                                        <div class="col-xl-12 col-sm-12 col-auto">
                                            <div class="sortby-filter-group court-sortby">
                                                <div class="sortbyset">
                                                    <span class="sortbytitle">活動時間排序</span>
                                                    <div class="sorting-select">
                                                        <select id="selectSort" v-model="sortOrdertwo" class="form-select">
                                                            <option value="asc">近到遠</option>
                                                            <option value="desc">遠到近</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @* 篩選單 *@
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card-header card-header-info border-0">
                                <div class="card-header-inner">
                                    <h4>開團歷史紀錄</h4>
                                </div>
                                <div class="col-lg-6">
                                    <div class="coach-active-blk">
                                        <div id="tableFilter">
                                            <div id="DataTables_Table_1_filter" class="dataTables_filter">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade active show" id="nav-Recent" role="tabpanel"
                                     aria-labelledby="nav-Recent-tab" tabindex="0">
                                    <div class="table-responsive table-datatble">
                                        <table class="table table-borderless dashboard-card-table">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>過去活動名稱</th>
                                                    <th>活動時間</th>
                                                    <th>參加人數</th>
                                                    <th>建團日期</th>
                                                    <th>開團狀態</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="item in filteroldCard" v-if="filteroldCard.length > 0">
                                                <td>
                                                    <h2 class="table-avatar">
                                                        <a :href='"/Activity/ActivityPage/"+item.activityId'
                                                           class="avatar avatar-sm  flex-shrink-0">
                                                            <img class="avatar-img" :src='item.imageName' alt="Image">
                                                        </a>
                                                        <span class="table-head-name flex-grow-1">
                                                            <a :href='"/Activity/ActivityPage/"+item.activityId' data-bs-toggle="modal"
                                                               data-bs-target="#upcoming-court">{{item.activityName}}</a>
                                                            <span>{{item.MemberId}}</span>
                                                        </span>
                                                    </h2>
                                                </td>
                                                <td>
                                                    <p> {{item.dateConvert}}</p>
                                                    <p> {{item.timeConvert}}</p>

                                                </td>
                                                <td>
                                                    <h6>{{item.currentPeople}}</h6>
                                                </td>
                                                <td>
                                                    <p> {{item.createdDateConvert}}</p>
                                                    <p> {{item.createdTimeConvert}}</p>
                                                </td>
                                                <td class="paid-edit text-start">
                                                    <span><i class="feather-edit"></i>{{item.activityStatus}}</span>
                                                </td>
                                            </tr>
                                            <tr v-else>
                                                <td class="sorting_1">
                                                    <h2 class="table-avatar">
                                                        <span class="table-head-name flex-grow-1" align=left>
                                                            <p>尚未擁有開團歷史紀錄</p>
                                                        </span>
                                                    </h2>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="tab-footer" style="margin-top: 10px;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div id="tablepage">
                                                <div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_1_paginate">
                                                    <!--分頁按鈕-->
                                                    <paginate :page-count="totaltwo"
                                                              :prev-text="'<'"
                                                              :next-text="'>'"
                                                              :click-handler="pageClick2">
                                                        <span slot="prevContent"><i class="feather-chevrons-left"></i></span>
                                                        <span slot="nextContent"><i class="feather-chevrons-right"></i></span>
                                                    </paginate>
                                                    <!--/分頁按鈕-->
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 col-md-5"></div>
                            <div class="col-sm-12 col-md-7"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /Main Wrapper -->
            <!-- 彈跳刪除開團 -->
            <div class="modal custom-modal fade request-modal" id="request-coche" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="form-header modal-header-title">
                                <h4 class="mb-0">刪除開團</h4>
                            </div>
                            <a class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="align-center" aria-hidden="true"><i class="feather-x"></i></span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <!-- Court Request -->
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="card dashboard-card court-information">
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="card-header">
                                                <h4>注意事項:<br>刪除後無法再復原</h4>
                                            </div>
                                            <div class="appointment-info">
                                                <!-- 訊息欄位 -->
                                                <!-- 訊息欄位 -->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /Court Request -->
                        </div>
                        <div class="modal-footer">
                            <div class="table-accept-btn">
                                <button class="btn cancel-table-btn" data-bs-dismiss="modal" @@click="updateno(item)">刪除</button>
                            </div>
                            <div class="table-accept-btn">
                                <a href="javaScript:;" class="btn accept-btn me-0" data-bs-toggle="modal" data-bs-target="#request-reject">取消</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /彈跳刪除開團  -->
            <!-- 彈跳確定參團人數 -->
            <div class="modal custom-modal fade request-modal" id="add-particpate-check" style="display: none;"
                 aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md">
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="form-header modal-header-title">
                                <h4 class="mb-0">確定參團人數</h4>
                            </div>
                            <a class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span class="align-center" aria-hidden="true"><i class="feather-x"></i></span>
                            </a>
                        </div>
                        <div class="modal-body">
                            <!-- 開團標題欄&搜尋頁 -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="court-tab-content">
                                        <div class="card card-tableset">
                                            <div class="card-body">
                                                <div class="tab-content">
                                                    <div class="tab-pane fade active show" id="nav-Recent"
                                                         role="tabpanel" aria-labelledby="nav-Recent-tab"
                                                         tabindex="0">
                                                        <div class="table-responsive">
                                                            <div id="DataTables_Table_0_wrapper"
                                                                 class="dataTables_wrapper dt-bootstrap4 no-footer">
                                                                <div class="row">
                                                                    <div class="col-sm-12 col-md-6"></div>
                                                                    <div class="col-sm-12 col-md-6"></div>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12">
                                                                        <table class="table table-borderless no-footer"
                                                                               id="DataTables_Table_0" role="grid">
                                                                            <thead class="thead-light">
                                                                                <tr role="row">
                                                                                    <th class="sorting_asc"
                                                                                        tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-sort="ascending"
                                                                                        aria-label="Court Name: activate to sort column descending"
                                                                                        style="width: 208.688px;">
                                                                                        申請者名稱
                                                                                    </th>
                                                                                    <th class="sorting"
                                                                                        tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="Date &amp;amp; Time : activate to sort column ascending"
                                                                                        style="width: 121.615px;">
                                                                                        申請時間
                                                                                    </th>
                                                                                    <th class="sorting"
                                                                                        tabindex="0"
                                                                                        aria-controls="DataTables_Table_0"
                                                                                        rowspan="1" colspan="1"
                                                                                        aria-label="Status: activate to sort column ascending"
                                                                                        style="width: 46.3229px;">
                                                                                        申請狀態
                                                                                    </th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                <!-- 參加人數展示卡片 -->
                                                                                <tr v-if="currentData.length > 0" role="row" class="odd" v-for="item in currentData">
                                                                                    <td class="sorting_1">
                                                                                        <h2 class="table-avatar">
                                                                                            <a href="#"
                                                                                               class="avatar avatar-sm  flex-shrink-0">
                                                                                                <img class="avatar-img"
                                                                                                     :src='item.headShot'
                                                                                                     alt="User">
                                                                                            </a>
                                                                                            <span class="table-head-name flex-grow-1">
                                                                                                <p>{{item.nickName}}</p>
                                                                                            </span>
                                                                                        </h2>
                                                                                    </td>
                                                                                    <td class="table-date-time">
                                                                                        <p>
                                                                                            {{item.dateConvert}}
                                                                                            {{item.timeConvert}}
                                                                                        </p>
                                                                                    </td>
                                                                                    <td class="paid-edit">
                                                                                        <span>
                                                                                            <i class="feather-edit"></i>{{item.reviewStatus}}
                                                                                        </span>
                                                                                    </td>
                                                                                </tr>
                                                                                <tr v-else>
                                                                                    <td class="sorting_1">
                                                                                        <h2 class="table-avatar">
                                                                                            <img src="~/profile/noprofile.png" class="avatar avatar-sm  flex-shrink-0" />
                                                                                            <span class="table-head-name flex-grow-1">
                                                                                                <p>目前沒有報名者</p>
                                                                                            </span>
                                                                                        </h2>
                                                                                    </td>
                                                                                </tr>
                                                                            </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <!-- /參加人數展示卡片 -->
                                                              
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 col-md-5"></div>
                                                            <div class="col-sm-12 col-md-7"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /開團標題欄&搜尋頁 -->
                </div>
                <div class="modal-footer">
                    @* 改 *@
                    <div class="table-accept-btn">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    </div>
                    @* 改 *@
                </div>
            </div>
        </div>
    </main>
</div>
<!-- /彈跳確定參團人數  -->
<!-- 彈跳確定刪除參團人員 -->
<div class="modal custom-modal fade request-modal" id="delete-particate-check"
     style="display: none;" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-md" style="max-width: 540px;">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-header modal-header-title">
                    <h4 class="mb-0">確定參團人數</h4>
                </div>
                <a class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="align-center" aria-hidden="true"><i class="feather-x"></i></span>
                </a>
            </div>
            <div class="modal-body">
                <span>確定要取消這個人的資格嗎?</span>
            </div>
            <div class="modal-footer">
                <div class="table-accept-btn">
                    <a href="javascript:;" class="btn cancel-table-btn" data-bs-toggle="modal"
                       data-bs-target="#request-reject">取消資格</a>
                </div>
                <div class="table-accept-btn">
                    <a href="javascript:;" class="btn accept-btn" data-bs-toggle="modal"
                       data-bs-target="#request-reject">上一頁</a>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- /彈跳確定參團人數  -->


<!-- Hot Member -->
@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://unpkg.com/vuejs-paginate-next@latest/dist/vuejs-paginate-next.umd.js"></script>
    <script src="~/assets/js/script.js"></script>
    <script>
        const record = Vue.createApp({
            data() {
                return {
                    axiosBrowsepicture: [],
                    showUpdates: [],
                    cancelTableBtnText: '刪除',
                    sortOrder: 'asc',
                    sortOrdertwo: 'asc',
                    countPerPage: 5,
                    pageNumber: 1,
                    pageNumbertwo: 1,
                    _activityId: "",
                    _activityName: 0,
                    currentData: [],

                    _memberId: 0,
                };
            },
            mounted() {
                let _this = this;
                _this.logBrowsepicture();
                _this.lookUpdates();
            },
            computed: {
                total() {
                    let _this = this;
                    return Math.ceil(_this.showUpdates.length / _this.countPerPage);
                    
                },
                totaltwo() {
                    let _this = this;
                    return Math.ceil(_this.axiosBrowsepicture.length / _this.countPerPage);
                },
                filteroldCard() {
                    let _this = this;
                    var start = (_this.pageNumbertwo - 1) * _this.countPerPage;
                    var end = start + _this.countPerPage;
                    return _this.axiosBrowsepicture.sort(function (x, y) {
                        if (_this.sortOrdertwo == "asc") {
                            return new Date(x.startTime).getTime() - new Date(y.startTime).getTime();
                        }
                        if (_this.sortOrdertwo == "desc") {
                            return new Date(y.startTime).getTime() - new Date(x.startTime).getTime();
                        }
                    }).slice(start, end);
                },
                filterNowCard() {
                    let _this = this;
                    var start = (_this.pageNumber - 1) * _this.countPerPage;
                    var end = start + _this.countPerPage;
                    return _this.showUpdates.sort(function (x, y) {
                        if (_this.sortOrder == "asc") {
                            return new Date(x.startTime).getTime() - new Date(y.startTime).getTime();
                        }
                        if (_this.sortOrder == "desc") {
                            return new Date(y.startTime).getTime() - new Date(x.startTime).getTime();
                        }
                    }).slice(start, end);
                }
            },
            methods: {
                logBrowsepicture() {
                    axios.get(`/LaunchaTeamApi/GetByIdOld/${@VerifyMemberId}`)
                        .then((result) => {
                            this.axiosBrowsepicture = result.data;
                            this.maxPeople = result.data.maxPeople;
                        })
                        .catch((error) => alert(`發生錯誤: ${error}`));
                },
                lookUpdates() {
                    axios.get(`/GroupStartingApi/GetByIdNow/${@VerifyMemberId}`)
                        .then((viewModel) => {
                            this.showUpdates = viewModel.data;
                            for (var i = 0; i < this.showUpdates.length; i++) {
                                var item = this.showUpdates[i];
                                item.result = this.showUpdates[i].maxPeople - this.showUpdates[i].currentPeople;
                            }
                            this.currentPeople = viewModel.data.currentPeople;
                        })
                        .catch((error) => alert(`發生錯誤: ${error}`));
                },
                updateno: function (item) {
                    let _this = this;
                    var form = new FormData();
                    form.append("ActivityStatus", 3);
                    axios.put(`/GroupStartingApi/ActivityStatus/${_this._activityId}`, form,
                        {
                            headers: {
                                "Content-Type": "multipart/form-data"
                            }
                        }).then((response) => {
                            _this.showUpdates = response.data;
                            _this.lookUpdates();
                            _this.logBrowsepicture();
                        })
                        .catch((error) => {
                            alert(`發生錯誤: ${error}`);
                        });
                    // _this._activityId = 0;

                },
                keepId: function (activityId) {
                    let _this = this;
                    _this._activityId = activityId

                },
                pageClick(num) {
                    this.pageNumber = num;
                },
                pageClick2(num) {
                    this.pageNumbertwo = num;
                },
                setCurrentCard(card) {
                    this.currentCard = card;
                },
                Current: function () {
                    let _this = this;
                    axios.get(`/GroupStartingApi/CurrentById/${_this._memberId}/${_this._activityId}`).then((res) => {
                        // alert(_this.currentData.length);
                        _this.currentData = res.data
                    }).catch((error) => alert(`發生錯誤: ${error}`));
                
                },
                keepId2: function (memberId, activityId) {
                    let _this = this;
                    _this._memberId = memberId
                    _this._activityId = activityId
                },
            }
        }).component("paginate", VuejsPaginateNext).mount("#record");

    </script>
}