
<partial name="_BreadcrumbPartial" />
@* MemberCenter/launchATeam *@
<div b-q7camsv0h8="" class="container">
	<main b-q7camsv0h8="" role="main" class="pb-3">

		<div id="global-loader" style="display: none;">
			<div class="loader-img">
				<img src="/assets/img/loader.png" class="img-fluid" alt="Global">
			</div>
		</div>

		<!-- Main Wrapper -->
		<div class="main-wrapper">

			<!-- Header -->
			<header class="header header-sticky fixed-top">
			</header>
			<!-- Page Content -->
			<div class="content" style="padding-top: 10px;">
				<div class="container">

					<!-- Statistics Card -->
					<div class="row">
					</div>
					<!-- /Statistics Card -->
					<!-- Appointment -->
					<div class="row">
						<div class="col-lg-12">
						</div>
					</div>
					<!-- /Appointment -->
					<!-- Dashboard Table -->
					@* 開團紀錄版面 *@
					<div class="content court-bg" style="padding-top: 10px">
						<div class="container">

							<@* 篩選單 *@
							<div class="row">
								<div class="col-lg-12">
									<div class="sortby-section court-sortby-section">
										<div class="sorting-info" style="~
											margin-bottom: 10px;">
											<div class="row d-flex align-items-center">
												<div class="col-xl-12 col-sm-12 col-auto">
													<div class="sortby-filter-group court-sortby">
														<div class="sortbyset">
															<span class="sortbytitle">Sort By</span>
															<div class="sorting-select">
																<select class="form-control select select2-hidden-accessible"
																		data-select2-id="4" tabindex="-1"
																		aria-hidden="true">
																	<option data-select2-id="6">Relevance</option>
																	<option>Price</option>
																</select><span class="select2 select2-container select2-container--default"
																			   dir="ltr" data-select2-id="5"
																			   style="~width: 100%;">
																	<span class="selection">
																		<span class="select2-selection select2-selection--single"
																			  role="combobox" aria-haspopup="true"
																			  aria-expanded="false" tabindex="0"
																			  aria-disabled="false"
																			  aria-labelledby="select2-ywtr-container">
																			<span class="select2-selection__rendered"
																				  id="select2-ywtr-container"
																				  role="textbox" aria-readonly="true"
																				  title="Relevance">Relevance</span><span class="select2-selection__arrow"
																				  role="presentation">
																				<b role="presentation"></b>
																			</span>
																		</span>
																	</span><span class="dropdown-wrapper"
																				 aria-hidden="true"></span>
																</span>
															</div>
														</div>
													</div>
												</div>
											</div>

										</div>
									</div>
								</div>
							</div>
							@* 開團標題欄&搜尋頁  *@

							<div class="row">
								<div class="col-sm-12">
									<div class="court-tab-content">
										<div class="card card-tableset">
											<div class="card-body">
												<div class="coache-head-blk">
													<div class="row align-items-center">
														<div class="col-lg-6">
															<div class="court-table-head">
																<h4>開團紀錄</h4>
																<p>
																	Efficiently manage and respond to booking
																	requests
																</p>
															</div>
														</div>
														<div class="col-lg-6">
															<div class="coach-active-blk">
																<div id="tablefilter">
																	<div id="DataTables_Table_0_filter"
																		 class="dataTables_filter">
																		<label>
																			<input type="search"
																				   class="form-control form-control-sm"
																				   placeholder="Search"
																				   aria-controls="DataTables_Table_0">
																		</label>
																	</div>
																	<div id="DataTables_Table_1_filter"
																		 class="dataTables_filter">
																		<label>
																			<input type="search"
																				   class="form-control form-control-sm"
																				   placeholder="Search"
																				   aria-controls="DataTables_Table_1">
																		</label>
																	</div>
																</div>
															</div>

														</div>
													</div>
												</div>
												<div class="tab-content">
													<div class="tab-pane fade active show" id="nav-Recent"
														 role="tabpanel" aria-labelledby="nav-Recent-tab"
														 tabindex="0">
														<div class="table-responsive">
															<div id="DataTables_Table_0_wrapper"
																 class="dataTables_wrapper dt-bootstrap4 no-footer">
																<div class="row">
																	<div class="col-sm-12 col-md-6"></div>
																	<div class="col-sm-12 col-md-6"></div>
																</div>
																<div class="row">
																	<div class="col-sm-12">
																		<table class="table table-borderless datatable dataTable no-footer"
																			   id="DataTables_Table_0" role="grid">
																			<thead class="thead-light">
																				<tr role="row">
																					<th class="sorting_asc"
																						tabindex="0"
																						aria-controls="DataTables_Table_0"
																						rowspan="1" colspan="1"
																						aria-sort="ascending"
																						aria-label="Court Name: activate to sort column descending"
																						style="~width: 208.688px;">
																						開團名稱
																					</th>

																					<th class="sorting" tabindex="0"
																						aria-controls="DataTables_Table_0"
																						rowspan="1" colspan="1"
																						aria-label="Date &amp;amp; Time : activate to sort column ascending"
																						style="~width: 121.615px;">
																						活動時間
																					</th>
																					<th class="sorting" tabindex="0"
																						aria-controls="DataTables_Table_0"
																						rowspan="1" colspan="1"
																						aria-label="Additional Guests: activate to sort column ascending"
																						style="~width: 128.396px;">
																						目前參加人數
																					</th>
																					<th class="sorting" tabindex="0"
																						aria-controls="DataTables_Table_0"
																						rowspan="1" colspan="1"
																						aria-label="Payment: activate to sort column ascending"
																						style="~width: 64.7917px;">
																						尚餘可參加人數
																					</th>
																					<th class="sorting" tabindex="0"
																						aria-controls="DataTables_Table_0"
																						rowspan="1" colspan="1"
																						aria-label="Status: activate to sort column ascending"
																						style="~width: 46.3229px;">
																						開團狀態
																					</th>
																					<th class="sorting" tabindex="0"
																						aria-controls="DataTables_Table_0"
																						rowspan="1" colspan="1"
																						aria-label=": activate to sort column ascending"
																						style="~width: 193.062px;">
																					</th>
																				</tr>
																			</thead>
																			<tbody>
																				<tr role="row" class="odd">
																					<td class="sorting_1">
																						<h2 class="table-avatar">
																							<a href="~#"
																							   class="avatar avatar-sm  flex-shrink-0">
																								<img class="avatar-img"
																									 src="assets/img/booking/booking-04.jpg"
																									 alt="User">
																							</a>
																							<span class="table-head-name flex-grow-1">
																								<a href="~javascript:;"
																								   data-bs-toggle="modal"
																								   data-bs-target="#request-court">GOGO跑步團</a>
																								<span>
																									團主:
																									千里型男
																								</span>
																							</span>
																						</h2>
																					</td>
																					<td class="table-date-time">
																						<h4>
																							星期三, 六月 11日<span>
																								06:00
																								PM - 08:00 PM
																							</span>
																						</h4>
																					</td>
																					<td>2</td>
																					<td>
																						<span class="pay-dark">10人</span>
																					</td>
																					<td class="paid-edit">
																						<span>
																							<i class="feather-edit"></i>報名中
																						</span>
																					</td>
																					<td class="table-accept-btn text-end">
																						<a href="~javascript:;"
																						   class="btn accept-btn">
																							<i class="feather-check-circle"></i>編輯開團
																						</a>
																						<a href="~javascript:;"
																						   class="btn cancel-table-btn"
																						   data-bs-toggle="modal"
																						   data-bs-target="#request-reject">
																							<i class="feather-x-circle"></i>取消開團
																						</a>
																					</td>
																				</tr>
																				<tr role="row" class="even">
																					<td class="sorting_1">
																						<h2 class="table-avatar">
																							<a href="~#"
																							   class="avatar avatar-sm  flex-shrink-0">
																								<img class="avatar-img"
																									 src="assets/img/booking/booking-01.jpg"
																									 alt="User">
																							</a>
																							<span class="table-head-name flex-grow-1">
																								<a href="~javascript:;"
																								   data-bs-toggle="modal"
																								   data-bs-target="#request-court">
																									Feather
																									Badminton
																								</a>
																								<span>Court 2</span>
																							</span>
																						</h2>
																					</td>

																					<td class="table-date-time">
																						<h4>
																							Mon, Jul 11<span>
																								06:00
																								PM - 08:00 PM
																							</span>
																						</h4>
																					</td>
																					<td>2</td>
																					<td>
																						<span class="pay-dark">$150</span>
																					</td>
																					<td class="paid-edit">
																						<span>
																							<i class="feather-edit"></i>Paid
																						</span>
																					</td>
																					<td class="table-accept-btn text-end">
																						<a href="~javascript:;"
																						   class="btn accept-btn">
																							<i class="feather-check-circle"></i>Accept
																						</a>
																						<a href="~javascript:;"
																						   class="btn cancel-table-btn"
																						   data-bs-toggle="modal"
																						   data-bs-target="#request-reject">
																							<i class="feather-x-circle"></i>Cancel
																						</a>
																					</td>
																				</tr>
																				<tr role="row" class="odd">
																					<td class="sorting_1">
																						<h2 class="table-avatar">
																							<a href="~#"
																							   class="avatar avatar-sm  flex-shrink-0">
																								<img class="avatar-img"
																									 src="assets/img/booking/booking-05.jpg"
																									 alt="User">
																							</a>
																							<span class="table-head-name flex-grow-1">
																								<a href="~javascript:;"
																								   data-bs-toggle="modal"
																								   data-bs-target="#request-court">
																									Marsh
																									Academy
																								</a>
																								<span>Court 4</span>
																							</span>
																						</h2>
																					</td>

																					<td class="table-date-time">
																						<h4>
																							Wed, Jul 11<span>
																								06:00
																								PM - 08:00 PM
																							</span>
																						</h4>
																					</td>
																					<td>2</td>
																					<td>
																						<span class="pay-dark">$120</span>
																					</td>
																					<td class="paid-edit">
																						<span>
																							<i class="feather-edit"></i>Paid
																						</span>
																					</td>
																					<td class="table-accept-btn text-end">
																						<a href="~javascript:;"
																						   class="btn accept-btn">
																							<i class="feather-check-circle"></i>Accept
																						</a>
																						<a href="~javascript:;"
																						   class="btn cancel-table-btn"
																						   data-bs-toggle="modal"
																						   data-bs-target="#request-reject">
																							<i class="feather-x-circle"></i>Cancel
																						</a>
																					</td>
																				</tr>
																				<tr role="row" class="even">
																					<td class="sorting_1">
																						<h2 class="table-avatar">
																							<a href="~#"
																							   class="avatar avatar-sm  flex-shrink-0">
																								<img class="avatar-img"
																									 src="assets/img/booking/booking-01.jpg"
																									 alt="User">
																							</a>
																							<span class="table-head-name flex-grow-1">
																								<a href="~javascript:;"
																								   data-bs-toggle="modal"
																								   data-bs-target="#request-court">
																									Wing
																									Sports
																									Academy
																								</a>
																								<span>Court 1</span>
																							</span>
																						</h2>
																					</td>

																					<td class="table-date-time">
																						<h4>
																							Fri, Jul 11<span>
																								06:00
																								PM - 08:00 PM
																							</span>
																						</h4>
																					</td>
																					<td>2</td>
																					<td>
																						<span class="pay-dark">$250</span>
																					</td>
																					<td class="paid-edit">
																						<span>
																							<i class="feather-edit"></i>Paid
																						</span>
																					</td>
																					<td class="table-accept-btn text-end">
																						<a href="~javascript:;"
																						   class="btn accept-btn">
																							<i class="feather-check-circle"></i>Accept
																						</a>
																						<a href="~javascript:;"
																						   class="btn cancel-table-btn"
																						   data-bs-toggle="modal"
																						   data-bs-target="#request-reject">
																							<i class="feather-x-circle"></i>Cancel
																						</a>
																					</td>
																				</tr>
																			</tbody>
																		</table>
																	</div>
																</div>
																<div class="row">
																	<div class="col-sm-12 col-md-5"></div>
																	<div class="col-sm-12 col-md-7"></div>
																</div>
															</div>
														</div>
													</div>

												</div>
											</div>
										</div>
										<div class="tab-footer" style="~
											margin-top: 10px;">
											<div class="row">
												<div class="col-md-6">
													<div id="tablelength">
														<div class="dataTables_length"
															 id="DataTables_Table_1_length">
															<label>
																Show
																<select name="DataTables_Table_1_length"
																		aria-controls="DataTables_Table_1"
																		class="custom-select custom-select-sm form-control form-control-sm">
																	<option value="10">10</option>
																	<option value="25">25</option>
																	<option value="50">50</option>
																	<option value="-1">All</option>
																</select>
															</label>
														</div>
														<div class="dataTables_length"
															 id="DataTables_Table_0_length">
															<label>
																Show
																<select name="DataTables_Table_0_length"
																		aria-controls="DataTables_Table_0"
																		class="custom-select custom-select-sm form-control form-control-sm">
																	<option value="10">10</option>
																	<option value="25">25</option>
																	<option value="50">50</option>
																	<option value="-1">All</option>
																</select>
															</label>
														</div>
													</div>
												</div>
												<div class="col-md-6">
													<div id="tablepage">
														<div class="dataTables_paginate paging_simple_numbers"
															 id="DataTables_Table_1_paginate">
															<ul class="pagination">
																<li class="paginate_button page-item previous disabled"
																	id="DataTables_Table_1_previous">
																	<a href="~#"
																	   aria-controls="DataTables_Table_1"
																	   data-dt-idx="0" tabindex="0"
																	   class="page-link">
																		<i class="feather-chevrons-left"></i>
																	</a>
																</li>
																<li class="paginate_button page-item active">
																	<a href="~#" aria-controls="DataTables_Table_1"
																	   data-dt-idx="1" tabindex="0"
																	   class="page-link">1</a>
																</li>
																<li class="paginate_button page-item next disabled"
																	id="DataTables_Table_1_next">
																	<a href="~#"
																	   aria-controls="DataTables_Table_1"
																	   data-dt-idx="2" tabindex="0"
																	   class="page-link">
																		<i class="feather-chevrons-right"></i>
																	</a>
																</li>
															</ul>
														</div>
														<div class="dataTables_paginate paging_simple_numbers"
															 id="DataTables_Table_0_paginate">
															<ul class="pagination">
																<li class="paginate_button page-item previous disabled"
																	id="DataTables_Table_0_previous">
																	<a href="~#"
																	   aria-controls="DataTables_Table_0"
																	   data-dt-idx="0" tabindex="0"
																	   class="page-link">
																		<i class="feather-chevrons-left"></i>
																	</a>
																</li>
																<li class="paginate_button page-item active">
																	<a href="~#" aria-controls="DataTables_Table_0"
																	   data-dt-idx="1" tabindex="0"
																	   class="page-link">1</a>
																</li>
																<li class="paginate_button page-item next disabled"
																	id="DataTables_Table_0_next">
																	<a href="~#"
																	   aria-controls="DataTables_Table_0"
																	   data-dt-idx="2" tabindex="0"
																	   class="page-link">
																		<i class="feather-chevrons-right"></i>
																	</a>
																</li>
															</ul>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>

						</div>
					</div>
					@* 開團歷史紀錄版面 *@
					<div class="row">
						<div class="col-lg-12">
							<div class="card dashboard-card mb-0">
								<div class="card-header card-header-info border-0">
									<div class="card-header-inner">
										<h4>開團歷史紀錄</h4>
										<p>Access recent invoices related to court bookings </p>
									</div>
									<div class="col-lg-6">
										<div class="coach-active-blk">
											<div id="tablefilter">
												<div id="DataTables_Table_1_filter" class="dataTables_filter">
													<label>
														<input type="search" class="form-control form-control-sm"
															   placeholder="Search" aria-controls="DataTables_Table_1">
													</label>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="tab-content">
									<div class="tab-pane fade active show" id="nav-Recent" role="tabpanel"
										 aria-labelledby="nav-Recent-tab" tabindex="0">
										<div class="table-responsive table-datatble">
											<table class="table table-borderless dashboard-card-table">
												<thead class="thead-light">
													<tr>
														<th>過去活動名稱</th>
														<th>活動時間</th>
														<th>參加人數</th>
														<th>建團日期</th>
														<th>開團狀態</th>
														<th></th>
													</tr>
												</thead>
												<tbody>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a href="~/#" data-bs-toggle="modal"
																   data-bs-target="#upcoming-court"
																   class="avatar avatar-sm flex-shrink-0">
																	<img class="avatar-img"
																		 src="/assets/img/booking/booking-02.jpg"
																		 alt="Booking">
																</a>
																<span class="table-head-name flex-grow-1">
																	<a data-bs-toggle="modal"
																	   data-bs-target="#upcoming-court">ChaseChase團</a>
																	<span>團主: 半夜加班郎</span>
																</span>
															</h2>
														</td>
														<td>
															<p>2023, 七月 11日</p>
															<p>06:00 PM - 08:00 PM</p>
														</td>
														<td>
															<h6>5人</h6>
														</td>
														<td>2023, 六月 11日</td>
														<td class="paid-edit">
															<span><i class="feather-edit"></i> 已開團</span>
														</td>
														<td>
															<div class="dropdown dropdown-action">
																<a href="~/#" class="action-icon dropdown-toggle"
																   data-bs-toggle="dropdown"
																   aria-expanded="false">
																	<i class="fas fa-ellipsis"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-end">
																	<a class="dropdown-item"
																	   href="~/javascript:void(0);">
																		<i class="feather-download"></i> Download
																	</a>
																	<a class="dropdown-item"
																	   href="~/javascript:void(0);">
																		<i class="feather-trash"></i> Delete
																	</a>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a href="~/#" data-bs-toggle="modal"
																   data-bs-target="#upcoming-court"
																   class="avatar avatar-sm flex-shrink-0">
																	<img class="avatar-img"
																		 src="/assets/img/booking/booking-03.jpg"
																		 alt="Booking">
																</a>
																<span class="table-head-name flex-grow-1">
																	<a data-bs-toggle="modal"
																	   data-bs-target="#upcoming-court">
																		Wing Sports
																		Academy
																	</a>
																	<span>Court 2</span>
																</span>
															</h2>
														</td>
														<td>
															<p>Tue, Jul 12</p>
															<p>05:00 PM - 06:00 PM</p>
														</td>
														<td>
															<h6>$120</h6>
														</td>
														<td>Jul 12, 2023</td>
														<td class="paid-edit">
															<span><i class="feather-edit"></i> Paid</span>
														</td>
														<td>
															<div class="dropdown dropdown-action">
																<a href="~/#" class="action-icon dropdown-toggle"
																   data-bs-toggle="dropdown"
																   aria-expanded="false">
																	<i class="fas fa-ellipsis"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-end">
																	<a class="dropdown-item"
																	   href="~/javascript:void(0);">
																		<i class="feather-download"></i> Download
																	</a>
																	<a class="dropdown-item"
																	   href="~/javascript:void(0);">
																		<i class="feather-trash"></i> Delete
																	</a>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a href="~/#" data-bs-toggle="modal"
																   data-bs-target="#upcoming-court"
																   class="avatar avatar-sm flex-shrink-0">
																	<img class="avatar-img"
																		 src="/assets/img/booking/booking-04.jpg"
																		 alt="Booking">
																</a>
																<span class="table-head-name flex-grow-1">
																	<a data-bs-toggle="modal"
																	   data-bs-target="#upcoming-court">
																		Feather
																		Badminton
																	</a>
																	<span>Court 3</span>
																</span>
															</h2>
														</td>
														<td>
															<p>Wed, Jul 13</p>
															<p>10:00 AM - 11:00 AM</p>
														</td>
														<td>
															<h6>$470</h6>
														</td>
														<td>Jul 13, 2023</td>
														<td class="paid-edit">
															<span><i class="feather-edit"></i> Paid</span>
														</td>
														<td>
															<div class="dropdown dropdown-action">
																<a href="~/#" class="action-icon dropdown-toggle"
																   data-bs-toggle="dropdown"
																   aria-expanded="false">
																	<i class="fas fa-ellipsis"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-end">
																	<a class="dropdown-item"
																	   href="~/javascript:void(0);">
																		<i class="feather-download"></i> Download
																	</a>
																	<a class="dropdown-item"
																	   href="~/javascript:void(0);">
																		<i class="feather-trash"></i> Delete
																	</a>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a href="~/#" data-bs-toggle="modal"
																   data-bs-target="#upcoming-court"
																   class="avatar avatar-sm flex-shrink-0">
																	<img class="avatar-img"
																		 src="/assets/img/booking/booking-05.jpg"
																		 alt="Booking">
																</a>
																<span class="table-head-name flex-grow-1">
																	<a href="~/#" data-bs-toggle="modal"
																	   data-bs-target="#upcoming-court">
																		Bwing
																		Sports Academy
																	</a>
																	<span>Court 4</span>
																</span>
															</h2>
														</td>
														<td>
															<p>Thu, Jul 14</p>
															<p>12:00 PM - 01:00 PM</p>
														</td>
														<td>
															<h6>$200</h6>
														</td>
														<td>Jul 14, 2023</td>
														<td class="paid-edit">
															<span><i class="feather-edit"></i> Paid</span>
														</td>
														<td>
															<div class="dropdown dropdown-action">
																<a href="~/#" class="action-icon dropdown-toggle"
																   data-bs-toggle="dropdown"
																   aria-expanded="false">
																	<i class="fas fa-ellipsis"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-end">
																	<a class="dropdown-item"
																	   href="~/javascript:void(0);">
																		<i class="feather-download"></i> Download
																	</a>
																	<a class="dropdown-item"
																	   href="~/javascript:void(0);">
																		<i class="feather-trash"></i> Delete
																	</a>
																</div>
															</div>
														</td>
													</tr>
													<tr>
														<td>
															<h2 class="table-avatar">
																<a href="~/#" data-bs-toggle="modal"
																   data-bs-target="#upcoming-court"
																   class="avatar avatar-sm flex-shrink-0">
																	<img class="avatar-img"
																		 src="/assets/img/booking/booking-06.jpg"
																		 alt="Booking">
																</a>
																<span class="table-head-name flex-grow-1">
																	<a href="~/#" data-bs-toggle="modal"
																	   data-bs-target="#upcoming-court">
																		Marsh
																		Academy
																	</a>
																	<span>Court 5</span>
																</span>
															</h2>
														</td>
														<td>
															<p>Fri, Jul 15</p>
															<p>08:00 AM - 09:00 AM</p>
														</td>
														<td>
															<h6>$150</h6>
														</td>
														<td>Jul 15, 2023</td>
														<td class="paid-edit">
															<span><i class="feather-edit"></i> Paid</span>
														</td>
														<td>
															<div class="dropdown dropdown-action">
																<a href="~/#" class="action-icon dropdown-toggle"
																   data-bs-toggle="dropdown"
																   aria-expanded="false">
																	<i class="fas fa-ellipsis"></i>
																</a>
																<div class="dropdown-menu dropdown-menu-end">
																	<a class="dropdown-item"
																	   href="~/javascript:void(0);">
																		<i class="feather-download"></i> Download
																	</a>
																	<a class="dropdown-item"
																	   href="~/javascript:void(0);">
																		<i class="feather-trash"></i> Delete
																	</a>
																</div>
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
							<div class="tab-footer" style="~margin-top: 10px;">
								<div class="tab-footer" style="~margin-top: 10px;">
									<div class="row">
										<div class="col-md-6">
											<div id="tablelength">
												<div class="dataTables_length" id="DataTables_Table_1_length">
													<label>
														Show
														<select name="DataTables_Table_1_length"
																aria-controls="DataTables_Table_1"
																class="custom-select custom-select-sm form-control form-control-sm">
															<option value="10">10</option>
															<option value="25">25</option>
															<option value="50">50</option>
															<option value="-1">All</option>
														</select>
													</label>
												</div>
											</div>
										</div>
										<div class="col-md-6">
											<div id="tablepage">
												<div class="dataTables_paginate paging_simple_numbers"
													 id="DataTables_Table_1_paginate">
													<ul class="pagination">
														<li class="paginate_button page-item previous disabled"
															id="DataTables_Table_1_previous">
															<a href="~#"
															   aria-controls="DataTables_Table_1" data-dt-idx="0"
															   tabindex="0" class="page-link">
																<i class="feather-chevrons-left"></i>
															</a>
														</li>
														<li class="paginate_button page-item active">
															<a href="~#"
															   aria-controls="DataTables_Table_1" data-dt-idx="1"
															   tabindex="0" class="page-link">1</a>
														</li>
														<li class="paginate_button page-item next disabled"
															id="DataTables_Table_1_next">
															<a href="~#"
															   aria-controls="DataTables_Table_1" data-dt-idx="2"
															   tabindex="0" class="page-link">
																<i class="feather-chevrons-right"></i>
															</a>
														</li>
													</ul>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<!-- /Dashboard Table -->
				</div>
			</div>
			<!-- /Footer -->
		</div>
		<!-- /Main Wrapper -->
		<!-- upcoming Modal -->
		<div class="modal custom-modal fade request-modal" id="upcoming-coach" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<div class="form-header modal-header-title">
							<h4 class="mb-0">
								Coach Booking Details<span class="badge bg-info ms-2">Upcoming</span>
							</h4>
						</div>
						<a class="close" data-bs-dismiss="modal" aria-label="Close">
							<span class="align-center" aria-hidden="true"><i class="feather-x"></i></span>
						</a>
					</div>
					<div class="modal-body">

						<!-- Court Request -->
						<div class="row">
							<div class="col-lg-12">
								<div class="card dashboard-card court-information">
									<div class="card-header">
										<h4>Court Information</h4>
									</div>
									<div class="appointment-info">
										<ul class="appointmentset">
											<li>
												<div class="appointment-item">
													<div class="appointment-img">
														<img src="/assets/img/featured/featured-06.jpg" alt="Venue">
													</div>
													<div class="appointment-content">
														<h6>Angela Roudrigez</h6>
														<div class="table-rating">
															<div class="rating-point">
																<i class="fas fa-star filled"></i>
																<i class="fas fa-star filled"></i>
																<i class="fas fa-star filled"></i>
																<i class="fas fa-star filled"></i>
																<i class="fas fa-star filled"></i>
																<span>30 Reviews</span>
															</div>
														</div>
													</div>
												</div>
											</li>
											<li>
												<h6>Location</h6>
												<p>Santa Monica, CA</p>
											</li>
											<li>
												<h6>Price Per Hour</h6>
												<p>$200.00 / hr</p>
											</li>
											<li>
												<h6>Rank</h6>
												<p>Expert</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="card dashboard-card court-information">
									<div class="card-header">
										<h4>Appointment Information</h4>
									</div>
									<div class="appointment-info appoin-border">
										<ul class="appointmentset">
											<li>
												<h6>Booked On</h6>
												<p>Mon, Jul 14</p>
											</li>
											<li>
												<h6>Booking Type</h6>
												<p>Onetime</p>
											</li>
											<li>
												<h6>Date &amp; Time</h6>
												<p>
													Mon, Jul 14
													<span>05:00 PM - 08:00 PM</span>
												</p>

											</li>
											<li>
												<h6>Total Number of Hours</h6>
												<p>2</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="card dashboard-card court-information">
									<div class="card-header">
										<h4>Payment Details</h4>
									</div>
									<div class="appointment-info appoin-border double-row">
										<ul class="appointmentset">
											<li>
												<h6>Coaching Booking Amount</h6>
												<p>$200</p>
											</li>
											<li>
												<h6>Number of Hours</h6>
												<p>2</p>
											</li>
											<li>
												<h6>Service Charge</h6>
												<p>$20</p>
											</li>
										</ul>
									</div>
									<div class="appointment-info appoin-border ">
										<ul class="appointmentset">
											<li>
												<h6>Total Amount Paid</h6>
												<p class="color-green">$180</p>
											</li>
											<li>
												<h6>Paid On</h6>
												<p>Mon, Jul 14</p>
											</li>
											<li>
												<h6>Transaction ID</h6>
												<p>#5464164445676781641</p>
											</li>
											<li>
												<h6>Payment type</h6>
												<p>Wallet</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /Court Request -->

					</div>
					<div class="modal-footer">
						<div class="table-accept-btn">
							<a href="~/javascript:;" data-bs-dismiss="modal" class="btn cancel-table-btn">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /upcoming Modal -->
		<!-- upcoming Modal -->
		<div class="modal custom-modal fade request-modal" id="upcoming-court" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<div class="form-header modal-header-title">
							<h4 class="mb-0">
								Court Booking Details<span class="badge bg-info ms-2">Upcoming</span>
							</h4>
						</div>
						<a class="close" data-bs-dismiss="modal" aria-label="Close">
							<span class="align-center" aria-hidden="true"><i class="feather-x"></i></span>
						</a>
					</div>
					<div class="modal-body">

						<!-- Court Request -->
						<div class="row">
							<div class="col-lg-12">
								<div class="card dashboard-card court-information">
									<div class="card-header">
										<h4>Court Information</h4>
									</div>
									<div class="appointment-info">
										<ul class="appointmentset">
											<li>
												<div class="appointment-item">
													<div class="appointment-img">
														<img src="/assets/img/booking/booking-03.jpg"
															 alt="Appointment">
													</div>
													<div class="appointment-content">
														<h6>Wing Sports Academy</h6>
														<p class="color-green">Court 1</p>
													</div>
												</div>
											</li>
											<li>
												<h6>Booked On</h6>
												<p>$150 Upto 2 guests</p>
											</li>
											<li>
												<h6>Price Per Guest</h6>
												<p>$15</p>
											</li>
											<li>
												<h6>Maximum Number of Guests</h6>
												<p>2</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="card dashboard-card court-information">
									<div class="card-header">
										<h4>Appointment Information</h4>
									</div>
									<div class="appointment-info appoin-border">
										<ul class="appointmentset">
											<li>
												<h6>Booked On</h6>
												<p>$150 Upto 2 guests</p>
											</li>
											<li>
												<h6>Price Per Guest</h6>
												<p>$15</p>
											</li>
											<li>
												<h6>Maximum Number of Guests</h6>
												<p>2</p>
											</li>
										</ul>
									</div>
								</div>
								<div class="card dashboard-card court-information">
									<div class="card-header">
										<h4>Payment Details</h4>
									</div>
									<div class="appointment-info appoin-border double-row">
										<ul class="appointmentset">
											<li>
												<h6>Court Booking Amount</h6>
												<p>$150</p>
											</li>
											<li>
												<h6>Additional Guests</h6>
												<p>2</p>
											</li>
											<li>
												<h6>Amount Additional Guests</h6>
												<p>$30</p>
											</li>
											<li>
												<h6>Service Charge</h6>
												<p>$20</p>
											</li>
										</ul>
									</div>
									<div class="appointment-info appoin-border ">
										<ul class="appointmentsetview">
											<li>
												<h6>Total Amount Paid</h6>
												<p class="color-green">$180</p>
											</li>
											<li>
												<h6>Paid On</h6>
												<p>Mon, Jul 14</p>
											</li>
											<li>
												<h6>Transaction ID</h6>
												<p>#5464164445676781641</p>
											</li>
											<li>
												<h6>Payment type</h6>
												<p>Wallet</p>
											</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<!-- /Court Request -->

					</div>
					<div class="modal-footer">
						<div class="table-accept-btn">
							<a href="~/javascript:;" data-bs-dismiss="modal" class="btn cancel-table-btn">Cancel</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /upcoming Modal -->
		<!-- Request Modal -->
		<div class="modal custom-modal fade payment-modal" id="add-payment" role="dialog">
			<div class="modal-dialog modal-dialog-centered modal-md">
				<div class="modal-content">
					<div class="modal-header">
						<div class="form-header modal-header-title">
							<h4 class="mb-0">Add Payment to Wallet</h4>
						</div>
						<a class="close" data-bs-dismiss="modal" aria-label="Close">
							<span class="align-center" aria-hidden="true"><i class="feather-x"></i></span>
						</a>
					</div>
					<div class="modal-body">
						<div class="wallet-wrap wallet-modal">
							<div class="wallet-amt">
								<h5>Your Wallet Balance</h5>
								<h2>$4,544</h2>
							</div>
						</div>
						<form>
							<div class="input-space">
								<label class="form-label">Amount</label>
								<input type="text" class="form-control" placeholder="Enter Amount">
							</div>
							<div class="or-div">
								<h6>OR</h6>
							</div>
							<div class="add-wallet-amount form-check">
								<ul>
									<li class="active">
										<div class="add-wallet-checkbox">
											<input type="checkbox" class="form-check-input" id="value" checked="">
											<label for="value">Add Value 1</label>
										</div>
										<div class="add-wallet-price">
											<span>+ $80</span>
										</div>
									</li>
									<li>
										<div class="add-wallet-checkbox">
											<input type="checkbox" class="form-check-input" id="value1">
											<label for="value1">Add Value 2</label>
										</div>
										<div class="add-wallet-price">
											<span>+ $60</span>
										</div>
									</li>
									<li>
										<div class="add-wallet-checkbox">
											<input type="checkbox" class="form-check-input" id="value2">
											<label for="value2">Add Value 3</label>
										</div>
										<div class="add-wallet-price">
											<span>+ $120</span>
										</div>
									</li>
									<li>
										<div class="add-wallet-checkbox">
											<input type="checkbox" class="form-check-input" id="value3">
											<label for="value3">Add Value 4</label>
										</div>
										<div class="add-wallet-price">
											<span>+ $120</span>
										</div>
									</li>
								</ul>
							</div>
							<div class="radio-setview">
								<h6>Select Payment Gateway</h6>
								<div class="radio">
									<div class="form-check form-check-inline mb-3">
										<input class="form-check-input default-check me-1" type="radio"
											   name="inlineRadioOptions" id="inlineRadio3" value="Credit Card">
										<label class="form-check-label" for="inlineRadio3">Credit Card</label>
									</div>
									<div class="form-check form-check-inline mb-0">
										<input class="form-check-input default-check me-1" type="radio"
											   name="inlineRadioOptions" id="inlineRadio4" value="Paypal" checked="">
										<label class="form-check-label" for="inlineRadio4">Paypal</label>
									</div>
								</div>
							</div>
						</form>
					</div>
					<div class="modal-footer">
						<div class="table-accept-btn">
							<a href="~/javascript:;" class="btn btn-secondary" data-bs-dismiss="modal"
							   aria-label="Close">Reset</a>
							<a href="~/javascript:;" class="btn btn-primary" data-bs-dismiss="modal"
							   aria-label="Close">Submit</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>



