@{
    ViewData["Title"] = "團主建團頁面";
}

<partial name="_BreadcrumbPartial" />

<!-- Bootstrap DateTime Picker -->
@* <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css"> *@

<div id="app" class="main-wrapper authendication-pages">
    <div class="content book-cage" data-select2-id="16">
        <div class="container" data-select2-id="15">

            <div class="row" data-select2-id="14">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12" data-select2-id="13">
                    <section class="card booking-form" data-select2-id="12">
                        <h3 class="border-bottom" style="font-size: 35px; text-align: center;">開團內容</h3>
                        <form data-select2-id="11">
                            <div class="mb-3">
                                <label for="date" class="form-label">會員編號</label>
                                <div class="form-icon">
                                    <input type="text" class="form-control" id="MemberId" v-model="activityBuild.memberId">
                                    <span name="ActivityName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="date" class="form-label">開團名稱</label>
                                <div class="form-icon">
                                    <input type="text" class="form-control" id="ActivityName" v-model="activityBuild.activityName">
                                    <span name="ActivityName" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="date" class="form-label">舉辦縣/市</label>
                                <div class="form-icon">
                                    <input type="text" class="form-control" id="ActivityCity" v-model="activityBuild.activityCity">
                                    <span name="ActivityCity" class="text-danger"></span>
                                </div>
                            </div>

                            <div class="mb-3">
                                <label for="date" class="form-label">舉辦區域</label>
                                <div class="form-icon">
                                    <input type="text" class="form-control" id="ActivityArea" v-model="activityBuild.activityArea">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="date" class="form-label">舉辦地點</label>
                                <div class="form-icon">
                                    <input type="text" class="form-control" id="ActivityLocation" v-model="activityBuild.activityLocation">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="date" class="form-label">活動開始日期</label>
                                <div class="form-icon">
                                    <input type="text" class="form-control" v-model="activityBuild.startTime">
                                    <span class="cus-icon">
                                        <i class="feather-calendar icon-date"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="empty-field" class="form-label">最高人數</label>
                                <div class="form-icon">
                                    <input type="text" class="form-control" id="MaxPeople" v-model="activityBuild.maxPeople">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="court" class="form-label">活動類型</label>
                                <select class="select select2" id="mainCategory" aria-label="Default select example" v-model="activityBuild.categoryId">
                                    <option value="" disabled selected>請選擇活動類型</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="court" class="form-label">活動項目</label>
                                <select class="select select2" id="subCategory" aria-label="Default select example" v-model="activityBuild.categoryTypeId">
                                    <option value="" disabled selected>請選擇活動項目</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="endterdate" class="form-label">報名截止日</label>
                                <div class="form-icon">
                                    <input type="text" class="form-control" v-model="activityBuild.joinDeadLine">
                                    <span class="cus-icon">
                                        <i class="feather-calendar icon-date"></i>
                                    </span>
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="empty-field" class="form-label">活動花費</label>
                                <div class="form-icon">
                                    <input type="text" class="form-control" id="JoinFee" v-model="activityBuild.joinFee">
                                </div>
                            </div>
                            <div class="mb-3">
                                <label for="court" class="form-label">付款方式</label>
                                <select class="select select2" id="paymentMethod" aria-label="Default select example" v-model="activityBuild.payment">
                                    <option value="" disabled selected>請選擇付款方式</option>
                                </select>
                            </div>
                            <div class="mb-3">
                                <label for="empty-field" class="form-label">活動說明</label>
                                <div class="form-icon">
                                    <textarea class="form-control" id="ActivityNotes" rows="4" maxlength="300" v-model="activityBuild.activityNotes"></textarea>
                                </div>
                            </div>
                            <div class="mb-3">
                            </div>
                            <div class="col-md-12">
                                <div class="appoint-head coach-top">上傳圖片</div>
                                <div class="row" data-select2-id="25">
                                    <div class="col-md-12">
                                        <div class="file-upload-text">
                                            <div class="file-upload" style="position:relative ; display: inline-block; width: 300px; height: 200px ; margin-right: 20px;">
                                                <img :src="defaultPicOne" style="width:100%;height:100%;position:absolute;top:0%;left:0%;object-fit:contain">
                                                <p>請上傳圖片</p>
                                                <span>
                                                    <i class="feather-edit-3"></i>
                                                    <input type="file" id="file-input" v-on:change="uploadPicOne">
                                                </span>
                                            </div>
                                            <div class="file-upload" style="position:relative; display: inline-block; width: 300px; height: 200px; margin-right: 20px;">
                                                <img :src="defaultPicTwo" style="width:100%;height:100%;position:absolute;top:0%;left:0%;object-fit:contain">
                                                <p>請上傳活動圖片</p>
                                                <span>
                                                    <i class="feather-edit-3"></i>
                                                    <input type="file" id="file-input" v-on:change="uploadPicTwo">
                                                </span>
                                            </div>
                                            <div class="file-upload" style="position:relative; display: inline-block; width: 300px; height: 200px; margin-right: 20px;">
                                                <img :src="defaultPicThree" style="width:100%;height:100%;position:absolute;top:0%;left:0%;object-fit:contain">
                                                <p>請上傳活動圖片</p>
                                                <span>
                                                    <i class="feather-edit-3"></i>
                                                    <input type="file" id="file-input" v-on:change="uploadPicThree">
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </section>
                </div>
            </div>
            <div class="text-center btn-row">
                <button class="btn btn-primary me-3 btn-icon" style="padding: 10px; width: 100px; justify-content: center;" v-on:click="leaderBuild">確認</button>
                <button class="btn btn-secondary btn-icon" href="/" style="padding: 10px;  width: 100px; justify-content: center;">取消 </button>
            </div>
        </div>
        <!-- /Container -->
    </div>
    <!-- /Page Content -->
    <!-- Footer -->
    <!-- /Footer -->
</div>
<!-- /Main Wrapper -->

<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="~/js/jhobbyselect2component.js"></script>
<script src="~/js/taiwancity.js"></script>

<script>
    Vue.createApp({
        data() {
            return {
                defaultPicOne: "/images/NoImage.jpg",
                defaultPicTwo: "/images/NoImage.jpg",
                defaultPicThree: "/images/NoImage.jpg",

                // 存儲所選擇的檔案
                fileOne: null,
                fileTwo: null,
                fileThree: null,

                activityBuild: {
                    memberId: "1",
                    payment: "1",
                    activityName: "麥噹噹團",
                    activityCity: "台北市",
                    activityArea: "中山區",
                    activityLocation: "麥當勞",
                    startTime: "2023-12-25",
                    maxPeople: "10",
                    categoryId: "5",
                    categoryTypeId: "1",
                    joinDeadLine: "2023-12-20",
                    joinFee: "10000",
                    payment: "1",
                    activityNotes: "吃貨團"
                },
            }
        },

        computed: {
            cityList() {
                return taiwanCity.map(x => {
                    return {
                        id: x.CityName,
                        text: x.CityName
                    }
                })
            },
            areaList() {
                let area = taiwanCity.filter(x => x.CityName == this.activityBuild.activeCity);
                if (area.length < 1) return [];
                return area[0].AreaList.map(x => {
                    return {
                        id: x.AreaName,
                        text: x.AreaName
                    }
                })
            }
        },

        methods: {
            uploadPicOne(e) {
                console.log(URL.createObjectURL(e.target.files[0]));
                this.fileOne = e.target.files[0];
                this.defaultPicOne = URL.createObjectURL(e.target.files[0]);
            },

            uploadPicTwo(e) {
                console.log(URL.createObjectURL(e.target.files[0]));
                this.fileTwo = e.target.files[0];
                this.defaultPicTwo = URL.createObjectURL(e.target.files[0]);
            },

            uploadPicThree(e) {
                console.log(URL.createObjectURL(e.target.files[0]));
                this.fileThree = e.target.files[0];
                this.defaultPicThree = URL.createObjectURL(e.target.files[0]);
            },

            leaderBuild() {
                var formData = new FormData();
                if (this.fileOne) formData.append('file', this.fileOne);
                if (this.fileTwo) formData.append('file', this.fileTwo);
                if (this.fileThree) formData.append('file', this.fileThree);

                formData.append('activityName', this.activityBuild.activityName);
                formData.append('activityCity', this.activityBuild.activityCity);
                formData.append('activityArea', this.activityBuild.activityArea);
                formData.append('activityLocation', this.activityBuild.activityLocation);
                formData.append('startTime', this.activityBuild.startTime);
                formData.append('maxPeople', this.activityBuild.maxPeople);
                formData.append('categoryId', this.activityBuild.categoryId);
                formData.append('categoryTypeId', this.activityBuild.categoryTypeId);
                formData.append('joinDeadLine', this.activityBuild.joinDeadLine);
                formData.append('joinFee', this.activityBuild.joinFee);
                formData.append('activityNotes', this.activityBuild.activityNotes);
                formData.append('memberId', this.activityBuild.memberId);
                formData.append('activityStatus', this.activityBuild.activityStatus);
                formData.append('payment', this.activityBuild.payment);
                formData.append('created', this.activityBuild.created);

                let self = this;

                fetch("/ActivityApi/LeaderCreate", {
                    method: "POST",
                    body: formData

                })
                    .then(r => r.json())
                    .then(d => {
                        console.log('Success', d);
                        alert("建立成功,進入預覽編輯畫面");
                    })
            },
        },
    }).component('select2', select2).mount("#app");
</script>