<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>94Hobby</title>
    <!-- Meta Tags -->
    <meta name="twitter:description" content="Elevate your badminton business with Dream Sports template. Empower coaches & players, optimize court performance and unlock industry-leading success for your brand.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Elevate your badminton business with Dream Sports template. Empower coaches & players, optimize court performance and unlock industry-leading success for your brand.">
    <meta name="keywords" content="badminton, coaching, event, players, training, courts, tournament, athletes, courts rent, lessons, court booking, stores, sports faqs, leagues, chat, wallet, invoice">
    <meta name="author" content="Dreamguys - DreamSports">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@dreamguystech">
    <meta name="twitter:title" content="DreamSports -  Booking Coaches, Venue for tournaments, Court Rental template">

    <meta name="twitter:image" content="~/assets/img/meta-image.jpg">
    <meta name="twitter:image:alt" content="DreamSports">

    <meta property="og:url" content="https://dreamsports.dreamguystech.com/">
    <meta property="og:title" content="DreamSports -  Booking Coaches, Venue for tournaments, Court Rental template">
    <meta property="og:description" content="Elevate your badminton business with Dream Sports template. Empower coaches & players, optimize court performance and unlock industry-leading success for your brand.">
    <meta property="og:image" content="/~/assets/img/meta-image.jpg">
    <meta property="og:image:secure_url" content="~/assets/img/meta-image.jpg">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

    <link rel="shortcut icon" type="image/x-icon" href="~/image/whitecaticon.ico">  @* 網站圖標 *@
    <link rel="apple-touch-icon" sizes="120x120" href="~/image/whitecaticon.ico">      @* n *@
    <link rel="apple-touch-icon" sizes="152x152" href="~/image/whitecaticon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/assets/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/plugins/owl-carousel/owl.theme.default.min.css">

    <!-- Aos CSS -->
    <link rel="stylesheet" href="~/assets/plugins/aos/aos.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Select CSS -->
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/assets/css/feather.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">

    @await RenderSectionAsync("Styles", required: false)
</head>
<body>
    <div id="global-loader">
        <div class="loader-img">
            <!-- 旋轉圖標 -->
            <img src="~/image/loader.jpg" style="width: 50px;height: 50px" class="img-fluid" alt="Global">
        </div>
    </div>

	<div class="main-wrapper">
		<!-- Header  網站導覽列內容 -->
		<header class="header header-sticky">
			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="/" class="navbar-brand logo">
							<img src="~/image/logo.svg" style="width: 300px;height: 80px" class="rounded float-left"
								 alt="Logo" > <!-- 左邊Logo -->
						</a>
					</div>				
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="~/image/loader.jpg" class="img-fluid" alt="Logo">  @* n *@
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu">
								<a href="#">網站介紹 <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="/Home/Newcomer">新手上路</a></li>
									<li><a href="/Home/Conceptpage">經營理念</a></li>
                                    </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">食 <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li>
                                        <form name="eat_buy" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="1" />
                                            <input type="hidden" name="categoryTypeId" value="1" />
                                            <a href="javascript:document.eat_buy.submit();">團購</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">住 <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li>
                                        <form name="live_camping" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="2" />
                                            <input type="hidden" name="categoryTypeId" value="2" />
                                            <a href="javascript:document.live_camping.submit();">露營</a>
                                        </form>
                                    </li>
                                    <li>
                                        <form name="live_cooperate" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="2" />
                                            <input type="hidden" name="categoryTypeId" value="3" />
                                            <a href="javascript:document.live_cooperate.submit();">合租</a>
                                        </form>
                                    </li>
                                    <li>
                                        <form name="live_share" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="2" />
                                            <input type="hidden" name="categoryTypeId" value="4" />
                                            <a href="javascript:document.live_share.submit();">共生公寓</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">行 <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li>
                                        <form name="traffic_share" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="3" />
                                            <input type="hidden" name="categoryTypeId" value="5" />
                                            <a href="javascript:document.traffic_share.submit();">共乘</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">育 <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li>
                                        <form name="edu_book" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="4" />
                                            <input type="hidden" name="categoryTypeId" value="6" />
                                            <a href="javascript:document.edu_book.submit();">讀書會</a>
                                        </form>
                                    </li>
                                    <li>
                                        <form name="edu_change" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="4" />
                                            <input type="hidden" name="categoryTypeId" value="7" />
                                            <a href="javascript:document.edu_change.submit();">技能交換</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">樂<i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li>
                                        <form name="play_inhouse" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="5" />
                                            <input type="hidden" name="categoryTypeId" value="8" />
                                            <a href="javascript:document.play_inhouse.submit();">室內運動</a>
                                        </form>
                                    </li>
                                    <li>
                                        <form name="play_outdoor" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="5" />
                                            <input type="hidden" name="categoryTypeId" value="10" />
                                            <a href="javascript:document.play_outdoor.submit();">戶外運動</a>
                                        </form>
                                    </li>
                                    <li>
                                        <form name="play_water" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="5" />
                                            <input type="hidden" name="categoryTypeId" value="9" />
                                            <a href="javascript:document.play_water.submit();">水上運動</a>
                                        </form>
                                    </li>
                                </ul>
                            </li>
                            <li class="has-submenu">
                                <a href="#">會員中心 <i class="fas fa-chevron-down"></i></a>
                                <ul class="submenu">
                                    <li class="has-submenu">
                                        <a href="/MemberCenter/MemberProfile/@ViewBag.VerifyMemberId">個人介紹</a>
                                        <ul class="submenu inner-submenu">
                                            <li><a href="/MemberCenter/ProfileSetting">編輯資訊</a></li>
                                            <li><a href="/MemberCenter/ChangePwd">修改密碼</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/MemberCenter/LaunchATeam">開團管理</a></li>
                                    <li><a href="/MemberCenter/JoinAGroup">參團管理</a></li>
                                    <li><a href="/MemberCenter/Apply">報名審核</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <ul class="nav header-navbar-rht">
                        <partial name="_LayoutPartial" />
                    </ul>
                </nav>
            </div>
        </header>

        <!-- /Header -->
        @RenderBody()
        <!-- Footer -->
        <footer class="footer">
            <div class="container">
                <!-- Footer Top -->
                <div class="footer-top">
                    <div class="row">
                        <div class="col-lg-3 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h4 class="footer-title">網站介紹</h4>
                                <ul>
                                    <li>
                                        <a href="/Home/Newcomer">新手上路</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="/Home/Conceptpage">經營理念</a>
                                    </li>
                                </ul>
                                <div class="social-icon">
                                    <ul>
                                        <li>
                                            <a href="https://www.facebook.com/TibaMe/?locale=zh_TW" class="facebook"><i class="fab fa-facebook-f"></i> </a>
                                        </li>
                                        <li>
                                            <a href="https://www.instagram.com/tibame_wiedu/" class="instagram"><i class="fab fa-instagram"></i></a>
                                        </li>
                                        <li>
                                            <a href="https://www.linkedin.com/company/wieducorp/" class="linked-in"><i class="fab fa-linkedin-in"></i></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                        <div class="col-lg-1 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h4 class="footer-title">食</h4>
                                <ul>
                                    <li>
                                        <form name="foot_eat_buy" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="2" />
                                            <input type="hidden" name="categoryTypeId" value="2" />
                                            <a href="javascript:document.foot_eat_buy.submit();">團購</a>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                        <div class="col-lg-1 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h4 class="footer-title">住</h4>
                                <ul>
                                    <li>
                                        <form name="foot_live_camping" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="2" />
                                            <input type="hidden" name="categoryTypeId" value="2" />
                                            <a href="javascript:document.foot_live_camping.submit();">露營</a>
                                        </form>
                                    </li>
                                    <li>
                                        <form name="foot_live_cooperate" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="2" />
                                            <input type="hidden" name="categoryTypeId" value="3" />
                                            <a href="javascript:document.foot_live_cooperate.submit();">合租</a>
                                        </form>
                                    </li>
                                    <li>
                                        <form name="foot_live_share" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="2" />
                                            <input type="hidden" name="categoryTypeId" value="4" />
                                            <a href="javascript:document.foot_live_share.submit();">共生公寓</a>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                        <div class="col-lg-1 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h4 class="footer-title">行</h4>
                                <ul>
                                    <li>
                                        <form name="foot_traffic_share" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="3" />
                                            <input type="hidden" name="categoryTypeId" value="5" />
                                            <a href="javascript:document.foot_traffic_share.submit();">共乘</a>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                        <div class="col-lg-1 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h4 class="footer-title">育</h4>
                                <ul>
                                    <li>
                                        <form name="foot_edu_book" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="4" />
                                            <input type="hidden" name="categoryTypeId" value="6" />
                                            <a href="javascript:document.foot_edu_book.submit();">讀書會</a>
                                        </form>
                                    </li>
                                    <li>
                                        <form name="foot_edu_change" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="4" />
                                            <input type="hidden" name="categoryTypeId" value="7" />
                                            <a href="javascript:document.foot_edu_change.submit();">技能交換</a>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                            <!-- /Footer Widget -->
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <!-- Footer Widget -->
                            <div class="footer-widget footer-menu">
                                <h4 class="footer-title">樂</h4>
                                <ul>
                                    <li>
                                        <form name="foot_play_inhouse" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="5" />
                                            <input type="hidden" name="categoryTypeId" value="8" />
                                            <a href="javascript:document.foot_play_inhouse.submit();">室內運動</a>
                                        </form>
                                    </li>
                                    <li>
                                        <form name="foot_play_outdoor" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="5" />
                                            <input type="hidden" name="categoryTypeId" value="10" />
                                            <a href="javascript:document.foot_play_outdoor.submit();">戶外運動</a>
                                        </form>
                                    </li>
                                    <li>
                                        <form name="foot_play_water" action="/Middle/ActivityCenter" method="post">
                                            <input type="hidden" name="categoryId" value="5" />
                                            <input type="hidden" name="categoryTypeId" value="9" />
                                            <a href="javascript:document.foot_play_water.submit();">水上運動</a>
                                        </form>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 ">
                            <div class="footer-widget footer-menu">
                                <h4 class="footer-title">會員中心</h4>
                                <ul>
                                    <li>
                                        <a href="/MemberCenter/ProfileSetting">個人資料</a>
                                    </li>
                                    <li>
                                        <a href="/MemberCenter/LaunchATeam">開團管理</a>
                                    </li>
                                    <li>
                                        <a href="/MemberCenter/JoinAGroup">參團管理</a>
                                    </li>
                                    <li>
                                        <a href="/MemberCenter/Apply">報名審核</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!-- /Footer Widget -->
                    </div>
                </div>
            </div>
            <!-- /Footer Top -->
            <!-- Footer Bottom -->
            <div class="footer-bottom">
                <div class="container">
                    <!-- Copyright -->
                    <div class="copyright">
                        <div class="row align-items-center">
                            <div class="col-md-6">
                                <div class="copyright-text">
                                    <p class="mb-0">&copy; 2023 - 94HOBBY - 版權所有</p>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <!-- Copyright Menu -->
                                <!-- /Copyright Menu -->
                            </div>
                        </div>
                    </div>
                    <!-- /Copyright -->
                </div>
            </div>
            <!-- /Footer Bottom -->

        </footer>
        <!-- /Footer -->
    </div>
    <!-- scrollToTop start -->
    <div class="progress-wrap active-progress">
        <svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
            <path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
        </svg>
    </div>
    <!-- scrollToTop end -->
	<!-- scrollToTop end -->
    <script src="~/js/site.js" asp-append-version="true"></script>
    <!-- jQuery -->
    <script src="~/assets/js/jquery-3.7.0.min.js"></script>
    <!-- Bootstrap Core JS -->
    <script src="~/assets/js/bootstrap.bundle.min.js"></script>
    <!-- Select JS -->
    <script src="~/assets/plugins/select2/js/select2.min.js"></script>
    <!-- Owl Carousel JS -->
    <script src="~/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
    <!-- Aos -->
    <script src="~/assets/plugins/aos/aos.js"></script>
    <!-- Counterup JS -->
    <script src="~/assets/js/jquery.waypoints.js"></script>
    <script src="~/assets/js/jquery.counterup.min.js"></script>
    <!-- Top JS -->
    <script src="~/assets/js/backToTop.js"></script>
    <!-- Custom JS -->
    <script src="~/assets/js/script.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        Jhobby_Animation()
    </script>
</body>
</html>