<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
	<title>94Hobby</title>
    <!-- Meta Tags -->
    <meta name="twitter:description" content="Elevate your badminton business with Dream Sports template. Empower coaches & players, optimize court performance and unlock industry-leading success for your brand.">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="Elevate your badminton business with Dream Sports template. Empower coaches & players, optimize court performance and unlock industry-leading success for your brand.">
    <meta name="keywords" content="badminton, coaching, event, players, training, courts, tournament, athletes, courts rent, lessons, court booking, stores, sports faqs, leagues, chat, wallet, invoice">
    <meta name="author" content="Dreamguys - DreamSports">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@@dreamguystech">
    <meta name="twitter:title" content="DreamSports -  Booking Coaches, Venue for tournaments, Court Rental template">

    <meta name="twitter:image" content="~/assets/img/meta-image.jpg">
    <meta name="twitter:image:alt" content="DreamSports">

    <meta property="og:url" content="https://dreamsports.dreamguystech.com/">
    <meta property="og:title" content="DreamSports -  Booking Coaches, Venue for tournaments, Court Rental template">
    <meta property="og:description" content="Elevate your badminton business with Dream Sports template. Empower coaches & players, optimize court performance and unlock industry-leading success for your brand.">
    <meta property="og:image" content="/~/assets/img/meta-image.jpg">
    <meta property="og:image:secure_url" content="~/assets/img/meta-image.jpg">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="600">

	<link rel="shortcut icon" type="image/x-icon" href="~/image/whitecaticon.ico">  @* 網站圖標 *@
	<link rel="apple-touch-icon" sizes="120x120" href="~/image/whitecaticon.ico">      @* n *@
	<link rel="apple-touch-icon" sizes="152x152" href="~/image/whitecaticon.ico">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.min.css">

    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="~/assets/plugins/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/assets/plugins/owl-carousel/owl.theme.default.min.css">

    <!-- Aos CSS -->
    <link rel="stylesheet" href="~/assets/plugins/aos/aos.css">

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/fontawesome.min.css">
    <link rel="stylesheet" href="~/assets/plugins/fontawesome/css/all.min.css">

    <!-- Select CSS -->
    <link rel="stylesheet" href="~/assets/plugins/select2/css/select2.min.css">

    <!-- Feathericon CSS -->
    <link rel="stylesheet" href="~/assets/css/feather.css">

    <!-- Main CSS -->
    <link rel="stylesheet" href="~/assets/css/style.css">
	@await RenderSectionAsync("Styles", required: false)
</head>
<body>
	<div id="global-loader">
		<div class="loader-img"> <!-- 旋轉圖標 -->
			<img src="~/image/loader.jpg" style="width: 50px;height: 50px" class="img-fluid" alt="Global">
        </div>
	</div>

	<div class="main-wrapper">
		<!-- Header  網站導覽列內容 -->
		<header class="header header-sticky">
			<div class="container-fluid">
				<nav class="navbar navbar-expand-lg header-nav">
					<div class="navbar-header">
						<a id="mobile_btn" href="javascript:void(0);">
							<span class="bar-icon">
								<span></span>
								<span></span>
								<span></span>
							</span>
						</a>
						<a href="index.html" class="navbar-brand logo">
							<img src="~/image/logo.svg" style="width: 300px;height: 95px" class="rounded float-left"
                                 alt="Logo"> <!-- 左邊Logo -->
						</a>
					</div>
					<div class="main-menu-wrapper">
						<div class="menu-header">
							<a href="index.html" class="menu-logo">
								<img src="assets/img/loader.jpg" class="img-fluid" alt="Logo">  @* n *@
							</a>
							<a id="menu_close" class="menu-close" href="javascript:void(0);">
								<i class="fas fa-times"></i>
							</a>
						</div>
						<ul class="main-nav">
							<li class="has-submenu">
								<a href="#">網站介紹 <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="coaches-map.html">新手上路</a></li>
									<li><a href="coaches-map-sidebar.html">經營理念</a></li>

								</ul>

							</li>
							<li class="has-submenu">
								<a href="#">食 <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="user-dashboard.html">團購</a></li>
								</ul>

							</li>
							<li class="has-submenu">
								<a href="#">住 <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="about-us.html">露營</a></li>
									<li><a href="our-teams.html">合租</a></li>
									<li><a href="services.html">共生公寓</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">行 <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="blog-list.html">共乘</a></li>

								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">育 <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="user-dashboard.html">讀書會</a></li>
									<li><a href="user-bookings.html">技能交換</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">樂<i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li><a href="user-dashboard.html">休閒</a></li>
									<li><a href="user-bookings.html">運動</a></li>
								</ul>
							</li>
							<li class="has-submenu">
								<a href="#">會員中心 <i class="fas fa-chevron-down"></i></a>
								<ul class="submenu">
									<li class="has-submenu">
										<a href="#">個人資料</a>
										<ul class="submenu inner-submenu">
											<li><a href="coaches-map.html">編輯資料</a></li>
											<li><a href="coaches-map-sidebar.html">修改密碼</a></li>
										</ul>
									</li>
									<li><a href="user-dashboard.html">開團管理</a></li>
									<li><a href="user-bookings.html">參團管理</a></li>
									<li><a href="user-bookings.html">報名審核</a></li>
								</ul>
								</li>
						</ul>
					</div>
					<ul class="nav header-navbar-rht">
						<partial name="_LayoutPartial" />
						<li>&nbsp;</li>
						<li class="nav-item">
							<a class="nav-link btn btn-secondary" href="add-court.html">
								<span>
									<i class="feather-check-circle"></i>
								</span>立即開團
							</a>
						</li>
					</ul>
				</nav>
			</div>
		</header>
		<!-- /Header -->
            @RenderBody()
	<!-- Footer -->
		<footer class="footer">
		<div class="container">
			<!-- Footer Join -->
			<div class="footer-join aos" data-aos="fade-up">
					<h2>無論是交友、聚會，還是各種體驗活動，我們的揪團網站應有盡有。</h2>
					<p class="sub-title">快來加入 JHobby，立刻享受完整功能，打造屬於你的精彩社交時刻。</p>
				<a href="register.html" class="btn btn-primary"><i class="feather-user-plus"></i> 加入我們</a>
			</div>
			<!-- /Footer Join -->
			<!-- Footer Top -->
			<div class="footer-top">
				<div class="row">
					<div class="col-lg-2 col-md-6">
						<!-- Footer Widget -->
						<div class="footer-widget footer-menu">
								<h4 class="footer-title">聯絡我們</h4>
							<div class="footer-address-blk">
								<div class="footer-call">
									<span>免費客戶服務熱線</span>
									<p>02 2712 0589</p>
								</div>
								<div class="footer-call">
									<span>聯絡信箱</span>
									<p>service@tibame.com</p>
								</div>
							</div>
							<div class="social-icon">
								<ul>
									<li>
										<a href="javascript:void(0);" class="facebook"><i class="fab fa-facebook-f"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0);" class="twitter"><i class="fab fa-twitter"></i> </a>
									</li>
									<li>
										<a href="javascript:void(0);" class="instagram"><i class="fab fa-instagram"></i></a>
									</li>
									<li>
										<a href="javascript:void(0);" class="linked-in"><i class="fab fa-linkedin-in"></i></a>
									</li>
								</ul>
							</div>
						</div>
						<!-- /Footer Widget -->
					</div>
					<div class="col-lg-2 col-md-6">
						<!-- Footer Widget -->
						<div class="footer-widget footer-menu">
							<h4 class="footer-title">快速連結</h4>
							<ul>
								<li>
									<a href="about-us.html">關於我們</a>
								</li>
								<li>
									<a href="services.html">服務</a>
								</li>
								<li>
									<a href="events.html">活動</a>
								</li>
								<li>
									<a href="blog-grid.html">部落格</a>
								</li>
								<li>
									<a href="contact-us.html">聯絡我們</a>
								</li>
							</ul>
						</div>
						<!-- /Footer Widget -->
					</div>
					<div class="col-lg-2 col-md-6">
						<!-- Footer Widget -->
						<div class="footer-widget footer-menu">
							<h4 class="footer-title">幫助中心</h4>
							<ul>
								<li>
									<a href="contact-us.html">聯絡我們</a>
								</li>
								<li>
									<a href="faq.html">常見問題</a>
								</li>
								<li>
									<a href="privacy-policy.html">隱私政策</a>
								</li>
								<li>
									<a href="terms-condition.html">使用條款</a>
								</li>
								<li>
									<a href="pricing.html">價格</a>
								</li>
							</ul>
						</div>
						<!-- /Footer Widget -->
					</div>
					<div class="col-lg-2 col-md-6">
						<!-- Footer Widget -->
						<div class="footer-widget footer-menu">
							<h4 class="footer-title">其他連結</h4>
							<ul>
								<li>
									<a href="coaches-grid.html">團主(原教練)</a>
								</li>
								<li>
										<a href="listing-grid.html">聚會場地(運動場地)</a>
								</li>
								<li>
									<a href="coach-details.html">成為團主</a>
								</li>
								<li>
									<a href="coaches-map.html">新增場地</a>
								</li>
								<li>
									<a href="my-profile.html">我的帳戶</a>
								</li>
							</ul>
						</div>
						<!-- /Footer Widget -->
					</div>
					<div class="col-lg-2 col-md-6">
						<!-- Footer Widget -->
						<div class="footer-widget footer-menu">
							<h4 class="footer-title">聚會地點</h4>
							<ul>
								<li>
									<a href="javascript:void(0);">台北</a>
								</li>
								<li>
									<a href="javascript:void(0);">板橋</a>
								</li>
								<li>
									<a href="javascript:void(0);">桃園</a>
								</li>
								<li>
									<a href="javascript:void(0);">新竹</a>
								</li>
								<li>
									<a href="javascript:void(0);">台中</a>
								</li>
							</ul>
						</div>
						<!-- /Footer Widget -->
					</div>
					<div class="col-lg-2 col-md-6">
						<!-- Footer Widget -->
						<div class="footer-widget footer-menu">
							<h4 class="footer-title">下載</h4>
							<ul>
								<li>
									<a href="#"><img src="/assets/img/icons/icon-apple.svg" alt="Apple"></a>
								</li>
								<li>
									<a href="#"><img src="/assets/img/icons/google-icon.svg" alt="Google"></a>
								</li>
							</ul>
						</div>
						<!-- /Footer Widget -->
					</div>
				</div>
			</div>
			<!-- /Footer Top -->
		</div>

		<!-- Footer Bottom -->
		<div class="footer-bottom">
			<div class="container">
				<!-- Copyright -->
				<div class="copyright">
					<div class="row align-items-center">
						<div class="col-md-6">
							<div class="copyright-text">
								<p class="mb-0">&copy; 2023 JHobby  - 版權所有</p>
							</div>
						</div>
						<div class="col-md-6">
							<!-- Copyright Menu -->
							<div class="dropdown-blk">
								<ul class="navbar-nav selection-list">
									<li class="nav-item dropdown">
										<div class="lang-select">
											<span class="select-icon"><i class="feather-globe"></i></span>
											<select class="select">
												<option>台灣</option>
												<option>美國</option>
											</select>
										</div>
									</li>
									<li class="nav-item dropdown">
										<div class="lang-select">
											<span class="select-icon"></span>
											<select class="select">
												<option>$ 台幣</option>
												<option>$ 美金</option>
											</select>
										</div>
									</li>
								</ul>
							</div>
							<!-- /Copyright Menu -->
						</div>
					</div>
				</div>
				<!-- /Copyright -->
			</div>
		</div>
		<!-- /Footer Bottom -->

	</footer>
	<!-- /Footer -->
	</div>
	<!-- scrollToTop start -->
	<div class="progress-wrap active-progress">
		<svg class="progress-circle svg-content" width="100%" height="100%" viewBox="-1 -1 102 102">
			<path d="M50,1 a49,49 0 0,1 0,98 a49,49 0 0,1 0,-98" style="transition: stroke-dashoffset 10ms linear 0s; stroke-dasharray: 307.919px, 307.919px; stroke-dashoffset: 228.265px;"></path>
		</svg>
	</div>
	<!-- scrollToTop end -->


    <script src="~/js/site.js" asp-append-version="true"></script>
	<!-- jQuery -->
	<script src="~/assets/js/jquery-3.7.0.min.js"></script>
	<!-- Bootstrap Core JS -->
	<script src="~/assets/js/bootstrap.bundle.min.js"></script>
	<!-- Select JS -->
	<script src="~/assets/plugins/select2/js/select2.min.js"></script>
	<!-- Owl Carousel JS -->
	<script src="~/assets/plugins/owl-carousel/owl.carousel.min.js"></script>
	<!-- Aos -->
	<script src="~/assets/plugins/aos/aos.js"></script>
	<!-- Counterup JS -->
	<script src="~/assets/js/jquery.waypoints.js"></script>
	<script src="~/assets/js/jquery.counterup.min.js"></script>
	<!-- Top JS -->
	<script src="~/assets/js/backToTop.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
	<!-- Custom JS -->
	<script src="~/assets/js/script.js"></script>

</body>
</html>
