@{
    if (ViewData["BookMark"].ToString() == "ProfileSetting")
    {
        <div class="content court-bg">
            <div class="container">
                <div class="coach-court-list profile-court-list">
                    <ul id="MessageTop" class="nav">
                        <li><a class="active" href="/MemberCenter/ProfileSetting" style="display: inline-block;">編輯資訊</a></li>
                        @* <li><a class="active" href="changePassword" style="display: inline-block; ">修改密碼</a></li> *@
                        <li><a href="/MemberCenter/changePwd" style="display: inline-block; ">修改密碼</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="content court-bg">
            <div class="container">
                <div class="coach-court-list profile-court-list">
                    <ul id="MessageTop" class="nav">
                        <li><a href="/MemberCenter/ProfileSetting" style="display: inline-block;">編輯資訊</a></li>
                        @* <li><a class="active" href="changePassword" style="display: inline-block; ">修改密碼</a></li> *@
                        <li><a class="active" href="/MemberCenter/changePwd" style="display: inline-block; ">修改密碼</a></li>
                    </ul>
                </div>
            </div>
        </div>
    }
}


