@model ProfileViewModel
<div>
    <h4>OrderDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MemberId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NickName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AcitveCity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PersonalProfile)
        </dd>
        
    </dl>
</div>