@model ProfileTestViewModel
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <form asp-controller="Profile" asp-action="Profile">
        <select asp-for="MemberId" asp-items="new SelectList(new[] { 1, 2, 3 })"></select>
        <button type="submit">Submit</button>
        @* <select asp-for="MemberId">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            
        </select>
        
        <button type="submit">OK</button> *@
    </form>
