@{
    ViewData["Title"] = "經營理念";
}
@section Styles
    {
    <style>
        .JhobbyColor {
            color: black;
        }
    </style>
}
<partial name="_BreadcrumbPartial" />

<div class="content">
    <div class="container">
        <h3>94HOBBY：串連熱情，共創無限可能</h3>
        <div class="condition-details">
            <p>"Alone we can do so little; together we can do so much." — Helen Keller</p>
            <p>
                在這個快速變化的世界裡，94HOBBY 不僅是一個平台，它是一場全新的體驗。無論是美食的探索、時尚的追求，還是旅行的冒險與居家的舒適，94HOBBY 都能讓你的每一個愛好與志同道合的夥伴相遇。

                我們相信，每個人都應該有機會分享他們的熱情，並從中發現新的樂趣。無論是一頓共享的晚餐、一場共同參與的時裝秀，還是一次異國旅行的計劃，94HOBBY 都能助你一臂之力。

                讓我們一起在94HOBBY 的世界裡，將日常的每一刻轉變為不平凡的回憶。因為在這裡，每一次的揪團，都不僅是活動，而是一場與世界共享的夢想。
            </p>
            <p>94HOBBY —— 讓每一次相遇，都變成值得珍藏的故事。</p>
        </div>
    </div>
</div>

<section id="team" class="section ourteam dull-bg" style="background-color:white">
    <div class="container">
        <div class="section-heading">
            <h2>關於 <span>我們</span></h2>
            <p class="sub-title">我們的團隊因熱情而團結，以卓越為動力</p>
        </div>
        <div class="featured-slider-group p-0">
            <div class="owl-carousel team-slider owl-theme">
                <div class="team-item" v-for="item in teamList">
                    <div class="info text-center">
                        <div class="wrap">
                            <div class="prfile-pic">
                                <img style="width:306px;height:472px;object-fit: cover" v-bind:src='"/teamimg/" + item.img' class="img-fluid" alt="Team-01">
                            </div>
                            <div class="short-info" style="background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));color: white;">
                                <h4>{{item.Name}}</h4>
                            </div>
                        </div>
                        <div class="more">
                            <div class="short-info">
                                <h4>{{item.Name}}</h4>
                            </div>
                            <p>
                                {{item.Text}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.min.js"></script>
    <script src="~/js/teamus.js"></script>
    <script>
        const teamId = Vue.createApp({
            data() {
                return {
                    teamList: teamUs
                }
            },

            mounted() {
                let self = this;

                self.shuffle(self.teamList);
            },

            methods: {
                shuffle(array) {
                    for (let i = array.length - 1; i > 0; i--) {
                        const j = Math.floor(Math.random() * (i + 1));
                        [array[i], array[j]] = [array[j], array[i]];
                    }
                }
            },
        }).mount("#team");
    </script>
}