@{
    ViewData["Title"] = "經營理念";
}
@section Styles
{
	<style>
		.JhobbyColor {
			color:black;
		}
	</style>	
}
<partial name="_BreadcrumbPartial" />

<div class="content">
    <div class="container">
        <h3>94HOBBY：串連熱情，共創無限可能</h3>
        <div class="condition-details">
            <p>"Alone we can do so little; together we can do so much." — Helen Keller</p>
            <p>
                在這個快速變化的世界裡，94HOBBY 不僅是一個平台，它是一場全新的體驗。無論是美食的探索、時尚的追求，還是旅行的冒險與居家的舒適，94HOBBY 都能讓你的每一個愛好與志同道合的夥伴相遇。

                我們相信，每個人都應該有機會分享他們的熱情，並從中發現新的樂趣。無論是一頓共享的晚餐、一場共同參與的時裝秀，還是一次異國旅行的計劃，94HOBBY 都能助你一臂之力。

                讓我們一起在94HOBBY 的世界裡，將日常的每一刻轉變為不平凡的回憶。因為在這裡，每一次的揪團，都不僅是活動，而是一場與世界共享的夢想。
            </p>
            <p>94HOBBY —— 讓每一次相遇，都變成值得珍藏的故事。</p>
        </div>
    </div>
</div>

<section class="section ourteam dull-bg" style="background-color:white">
	<div class="container">
		<div class="section-heading">
			<h2>關於 <span>我們</span></h2>
			<p class="sub-title">我們的團隊因熱情而團結，以卓越為動力</p>
		</div>
		<div class="featured-slider-group p-0">
			<div class="owl-carousel team-slider owl-theme">
				<div class="team-item">
					<div class="info text-center">
						<div class="wrap">
							<div class="prfile-pic">
								<img src="~/assets/img/aboutus/team-01.jpg" class="img-fluid" alt="Team-01">
							</div>
							<div class="short-info">
								<h4 style="color:black">郭家祥</h4>
							</div>
						</div>
						<div class="more">
							<div class="short-info">
									<h4>郭家祥</h4>
									<h6>組長</h6>
							</div>
							<p>Results-driven CEO, Ms. Caterine, fosters innovation and drives growth with proven success. Her strategic vision, collaborative leadership, and financial acumen consistently deliver excellence, value, and strong stakeholder relationships.</p>
						</div>
					</div>
				</div>
				<div class="team-item">
					<div class="info text-center">
						<div class="wrap">
							<div class="prfile-pic">
								<img  src="~/teamimg/henry.jpg" class="img-fluid" alt="Team-02">
							</div>
							<div class="short-info">
								<h4 style="color:black">張富翔</h4>
							</div>
						</div>
						<div class="more">
							<div class="short-info">
								<h4>張富翔</h4>
								<h6>副組長</h6>
							</div>
							<p>
								Mr. Anto, our Marketing Manager, passionately drives impactful marketing campaigns, expanding the reach of badminton. With expertise in brand management and digital marketing, he elevates our presence and engages our target audience.
							</p>
						</div>
					</div>
				</div>
				<div class="team-item">
					<div class="info text-center">
						<div class="wrap">
							<div class="prfile-pic">
								<img src="~/assets/img/aboutus/team-03.jpg" class="img-fluid" alt="Team-03">
							</div>
							<div class="short-info">
								<h4>Lucas Finn</h4>
								<h6>Team Leader</h6>
							</div>
						</div>
						<div class="more">
							<div class="short-info">
								<h4>Lucas Finn</h4>
								<h6>Team Leader</h6>
							</div>
							<p>Introducing Mr. Lucas Finn, our inspiring Team Leader in badminton. Lucas's commitment to excellence ensures seamless project execution and success in the sport.</p>
							<ul class="social-medias d-inline-flex">
								<li class="facebook"><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li class="instagram"><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
								<li class="twitter"><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
								<li class="pinterest"><a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="team-item">
					<div class="info text-center">
						<div class="wrap">
							<div class="prfile-pic">
								<img src="~/assets/img/aboutus/team-04.jpg" class="img-fluid" alt="Team-04">
							</div>
							<div class="short-info">
								<h4>Andrew</h4>
								<h6>Designer</h6>
							</div>
						</div>
						<div class="more">
							<div class="short-info">
								<h4>Andrew</h4>
								<h6>Designer</h6>
							</div>
							<p>Mr. Andrew is a skilled badminton designer known for transforming courts, creating striking packaging, designing stylish apparel, and developing captivating tournament branding.</p>
							<ul class="social-medias d-inline-flex">
								<li class="facebook"><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li class="instagram"><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
								<li class="twitter"><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
								<li class="pinterest"><a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="team-item">
					<div class="info text-center">
						<div class="wrap">
							<div class="prfile-pic">
								<img src="~/assets/img/aboutus/team-05.jpg" class="img-fluid" alt="Team-05">
							</div>
							<div class="short-info">
								<h4>Adrian</h4>
								<h6>Business Head</h6>
							</div>
						</div>
						<div class="more">
							<div class="short-info">
								<h4>Adrian</h4>
								<h6>Business Head</h6>
							</div>
							<p>Introducing Mr. Lucas Finn, our inspiring Team Leader in badminton. Lucas's commitment to excellence ensures seamless project execution and success in the sport.</p>
							<ul class="social-medias d-inline-flex">
								<li class="facebook"><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li class="instagram"><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
								<li class="twitter"><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
								<li class="pinterest"><a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="team-item">
					<div class="info text-center">
						<div class="wrap">
							<div class="prfile-pic">
								<img src="~/assets/img/aboutus/team-06.jpg" class="img-fluid" alt="Team-06">
							</div>
							<div class="short-info">
								<h4>Lucas Finn</h4>
								<h6>Team Leader</h6>
							</div>
						</div>
						<div class="more">
							<div class="short-info">
								<h4>Lucas Finn</h4>
								<h6>Team Leader</h6>
							</div>
							<p>Introducing Mr. Lucas Finn, our inspiring Team Leader in badminton. Lucas's commitment to excellence ensures seamless project execution and success in the sport.</p>
							<ul class="social-medias d-inline-flex">
								<li class="facebook"><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li class="instagram"><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
								<li class="twitter"><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
								<li class="pinterest"><a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="team-item">
					<div class="info text-center">
						<div class="wrap">
							<div class="prfile-pic">
								<img src="~/assets/img/aboutus/team-07.jpg" class="img-fluid" alt="Team-07">
							</div>
							<div class="short-info">
								<h4>Adrian</h4>
								<h6>Business Head</h6>
							</div>
						</div>
						<div class="more">
							<div class="short-info">
								<h4>Adrian</h4>
								<h6>Business Head</h6>
							</div>
							<p>Introducing Mr. Lucas Finn, our inspiring Team Leader in badminton. Lucas's commitment to excellence ensures seamless project execution and success in the sport.</p>
							<ul class="social-medias d-inline-flex">
								<li class="facebook"><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li class="instagram"><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
								<li class="twitter"><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
								<li class="pinterest"><a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="team-item">
					<div class="info text-center">
						<div class="wrap">
							<div class="prfile-pic">
								<img src="~/assets/img/aboutus/team-08.jpg" class="img-fluid" alt="Team-08">
							</div>
							<div class="short-info">
								<h4>Andrew</h4>
								<h6>Designer</h6>
							</div>
						</div>
						<div class="more">
							<div class="short-info">
								<h4>Andrew</h4>
								<h6>Designer</h6>
							</div>
							<p>
								Mr. Andrew is a skilled badminton designer known for transforming courts, creating striking packaging, designing stylish apparel, and developing captivating tournament branding.
							</p>
							<ul class="social-medias d-inline-flex">
								<li class="facebook"><a href="javascript:void(0);"><i class="fa-brands fa-facebook-f"></i></a></li>
								<li class="instagram"><a href="javascript:void(0);"><i class="fa-brands fa-instagram"></i></a></li>
								<li class="twitter"><a href="javascript:void(0);"><i class="fa-brands fa-twitter"></i></a></li>
								<li class="pinterest"><a href="javascript:void(0);"><i class="fa-brands fa-pinterest"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>