<partial name="_BreadcrumbPartial" />
@section Styles
{
	<style>
		.ask-questions p {
			color: #6B7385;
			font-size: 20px;
			font-weight: 600;
			max-width: 1500px;
		}

		.content {
			padding: 30px 0;
		}
	</style>
}
<!-- <div class="content"> -->
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-12 offset-sm-12 offset-md-1 col-md-10 col-lg-10">
				<p class="text-center fs-1">快速上手</p>
				<div class="ask-questions">
					<div class="faq-info">
						<div class="accordion" id="accordionExample">
							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOneOne">
									<a class="accordion-button" data-bs-toggle="collapse"
									   data-bs-target="#collapseOneOne" aria-expanded="true"
									   aria-controls="collapseOneOne">
										94Hobby是一個什麼樣的網站呢?
									</a>
								</h2>
								<div id="collapseOneOne" class="accordion-collapse collapse show"
									 aria-labelledby="headingOneOne" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>
												我們是一個提供大家揪任何您想到的活動平台，不管您是想要揪吃飯、揪旅遊、揪運動、揪唱歌等活動或想參與這些活動都可以透過我們平台都可以滿足您的需求!
											</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->
							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingTwoTwo">
									<a class="accordion-button collapsed"
									   data-bs-toggle="collapse" data-bs-target="#collapseTwoTwo"
									   aria-expanded="false" aria-controls="collapseTwoTwo">
										該如何快速上手呢?
									</a>
								</h2>
								<div id="collapseTwoTwo" class="accordion-collapse collapse"
									 aria-labelledby="headingTwoTwo" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>首先您可以先註冊我們平台的會員並填寫完整會員資料，接著就可以創建或參加你想要的活動囉!</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-12 offset-sm-12 offset-md-1 col-md-10 col-lg-10">
				<p class="text-center fs-1">我是參團者</p>
				<div class="ask-questions">
					<div class="faq-info">
						<div class="accordion" id="accordionExample">
							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne1">
									<a class="accordion-button" data-bs-toggle="collapse"
									   data-bs-target="#collapseOne1" aria-expanded="true"
									   aria-controls="collapseOne1">
										如果我想參加活動該如何報名呢?
									</a>
								</h2>
								<div id="collapseOne1" class="accordion-collapse collapse show"
									 aria-labelledby="headingOne1" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>
												選擇到您喜歡的活動，確認活動相關內容後並按下報名按鍵，即完成報名，接著等待團主審核您的資格!
											</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->
							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingTwo2">
									<a class="accordion-button collapsed"
									   data-bs-toggle="collapse" data-bs-target="#collapseTwo2"
									   aria-expanded="false" aria-controls="collapseTwo2">
										如果審核通過我該做甚麼準備?
									</a>
								</h2>
								<div id="collapseTwo2" class="accordion-collapse collapse"
									 aria-labelledby="headingTwo2" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>當您已經通過團主的審核後，您只要在活動指定的時間、地點集合就可以囉!</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingFive5">
									<a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive5" aria-expanded="false" aria-controls="collapseFive5">
										如果審核未通過呢?
									</a>
								</h2>
								<div id="collapseFive5" class="accordion-collapse collapse" aria-labelledby="headingFive5" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>沒有關係，我們平台還有其他團主開的有趣好玩的活動可以多多報名喔!</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="content">
	<div class="container">
		<div class="row">
			<div class="col-12 offset-sm-12 offset-md-1 col-md-10 col-lg-10">
				<p class="text-center fs-1">我是開團者</p>
				<div class="ask-questions">
					<div class="faq-info">
						<div class="accordion" id="accordionExample">
							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingOne11">
									<a class="accordion-button" data-bs-toggle="collapse"
									   data-bs-target="#collapseOne11" aria-expanded="true"
									   aria-controls="collapseOne11">
										如果我想舉辦活動該如何呢?
									</a>
								</h2>
								<div id="collapseOne11" class="accordion-collapse collapse show"
									 aria-labelledby="headingOne11" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>
												只要到首頁或會員中心按下我要開團按鍵，就可以開始創建您想要揪團的活動了!
											</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->
							<!-- FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingTwo22">
									<a class="accordion-button collapsed"
									   data-bs-toggle="collapse" data-bs-target="#collapseTwo22"
									   aria-expanded="false" aria-controls="collapseTwo22">
										資格審核是做什麼用的呢?
									</a>
								</h2>
								<div id="collapseTwo22" class="accordion-collapse collapse"
									 aria-labelledby="headingTwo22" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>資格審核就是開團者由自己決定是否要讓想參加活動的申請者加入活動!</p>
										</div>
									</div>
								</div>
							</div>
							<!-- /FAQ Item -->
							<div class="accordion-item">
								<h2 class="accordion-header" id="headingFive">
									<a class="accordion-button collapsed" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
										如何讓更多人參與我舉辦的活動?
									</a>
								</h2>
								<div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#accordionExample">
									<div class="accordion-body">
										<div class="accordion-content">
											<p>當您將活動的說明(包括時間、地點、規範等等)寫得越詳細越有機會讓更多人想參與!</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>