<partial name="_BreadcrumbPartial" />
<partial name="_DashboardMenuPartail" />
<partial name="_Personalcrumb" />
<div id="global-loader" style="display: none;">
	<div class="loader-img">
		<img src="~/assets/img/loader.png" class="img-fluid" alt="Global">
	</div>
</div>

<!-- Main Wrapper -->
<div class="main-wrapper" data-select2-id="22">

	<!-- Header -->
	<header class="header header-sticky">
		<div class="container-fluid"></div>

	</header>
	<!-- /Header -->
	<!-- Breadcrumb -->
	<!-- /Breadcrumb -->
	<!-- Dashboard Menu -->
	<!-- /Dashboard Menu -->
	<!-- Page Content -->
	<div class="content court-bg" data-select2-id="18">
		<div class="container" data-select2-id="17">
			<div class="row" data-select2-id="16">
				<div class="col-sm-12" data-select2-id="15">
					<div class="profile-detail-group" data-select2-id="14">
						<div class="card " data-select2-id="26">
							<form data-select2-id="13">
								<div class="row" data-select2-id="25">
									<div class="col-md-12">
										<div class="file-upload-text">
											<div class="file-upload">
												<img src="~/assets/img/icons/img-icon.svg" class="img-fluid"
													 alt="Upload">
												<p>請上傳您的個人照片</p>
												<span>
													<i class="feather-edit-3"></i>
													<input type="file" id="file-input">
												</span>
											</div>
											<h5>請上傳一個最小尺寸為 150 * 150 像素的圖檔（JPG、PNG、SVG）</h5>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-6">
									<div class="input-space">
										<label class="form-label">會員編號</label>
										<input type="text" class="form-control" id="name" placeholder="系統帶入" v-model="ProfileSetting.MemberId"
											   readonly>
									</div>
								</div>
								<div class="col-lg-12 col-md-6">
									<div class="input-space">
										<label class="form-label">身份別</label>
										<input type="text" class="form-control" id="name" placeholder="系統帶入" v-model="ProfileSetting.status"
											   readonly>
									</div>
								</div>
								<div class="col-lg-12 col-md-6">
									<div class="input-space">
										<label class="form-label">姓名</label>
										<input type="text" class="form-control" id="name" placeholder="系統帶入"
											   readonly>
									</div>
								</div>
								<div class="col-lg-12 col-md-6">
									<div class="input-space">
										<label class="form-label">暱稱(前端設定必填)</label>
										<input type="text" class="form-control" id="name" placeholder="可編輯">
									</div>
								</div>
								<div class="col-lg-12 col-md-6">
									<div class="input-space">
										<label class="form-label">性別</label>
										<input type="text" class="form-control" id="name" placeholder="系統帶入"
											   readonly>
										<hr>

									</div>
								</div>
								<div class="col-lg-12 col-md-6">
									<div class="input-space">
										<label class="form-label">身份證</label>
										<input type="text" class="form-control" id="name" placeholder="系統帶入"
											   readonly>
									</div>
								</div>
								<div class="col-lg-12 col-md-6">
									<div class="input-space">
										<label class="form-label">出生年月日</label>
										<input type="datetime" class="form-control" id="name" placeholder="系統帶入"
											   readonly>
									</div>
								</div>
								<div class="col-lg-12 col-md-6">
									<div class="input-space">
										<label class="form-label">手機號碼</label>
										<input type="text" class="form-control" id="phone"
											   placeholder="請輸入您的手機號碼">
									</div>
								</div>

								<div class="col-lg-12 col-md-4">
									<div class="input-space">
										<label class="form-label">請選擇縣市</label>
										<select class="select select2-hidden-accessible"
												data-select2-id="1" tabindex="-1" aria-hidden="true">
											<option data-select2-id="3">台北市</option>
											<option data-select2-id="19">新北市</option>
										</select>
										<label class="form-label">請選擇鄉鎮市區</label>
										<select class="select select2-hidden-accessible"
												tabindex="-1" aria-hidden="true">
											<option data-select2-id="20">中山區</option>
											<option data-select2-id="21">永和區</option>
										</select>
									</div>
								</div>
								<div class="col-lg-12 col-md-6">
									<div class="input-space">
										<label class="form-label">請輸入地址</label>
										<input type="text" class="form-control" id="city" placeholder="請輸入地址(範例:南京東路三段219號5樓)">
									</div>
								</div>

								<div class="col-lg-12 col-md-12">
									<div class="info-about">
										<label for="comments" class="form-label">個人簡介</label>
										<textarea class="form-control" id="comments" rows="3"
												  placeholder="請填寫自我介紹"></textarea>
									</div>
								</div>
							</form>
						</div>

					</div>
					<div class="save-changes text-end">
						<a href="javascript:;" class="btn btn-primary reset-profile">重置</a>
						<a href="javascript:;" class="btn btn-secondary save-profile">儲存</a>
					</div>
				</div>
			</div>
		</div>

	</div>
</div>

<script>
	Vue.createApp({
		data() {
			return {
				ProfileSetting: {
					MemberId: "",
					IdentityType: "",
					Name: "",
					NickName: "",
					Gender: "",
					IdentityCard: "",
					Birthday: "",
					Phone: "",
					City: "",
					Area: "",
					Address: "",
					PersonalProfile: ""
				}
			};
		},
		mounted() {
			let self = this;

			// 使用 fetch API 來取得 API 的回應
			fetch("/ProfileSettingApi/GetProfileSettingViewAll")
				.then(r => r.json())
				.then(d => { self.ProfileSetting = d[0]; }); // 注意這裡是 d[0]
		}
	}).mount("#app");
</script>