@{
    int verifyMemberId = ViewBag.VerifyMemberId;
}
<partial name="_BreadcrumbPartial" />
<partial name="_DashboardMenuPartial" />
<partial name="_PersonalcrumbPartial" />
@section styles{
    <style>
        .mark-label {
            color: #ff9999;
        }

        .message-label {
            color: red;
            font-weight: bold;
            font-size: 20px;
        }

        .warntext-label {
            color: red;
            font-size: 20px;
        }
    </style>
}

<!-- Page Content -->
@* 一般會員 *@
<div id="profileSet">
    @*     <div class="content court-bg" data-select2-id="18"> *@
    <div class="container" data-select2-id="17">
        <label class="message-label">{{message}}</label>
        <template v-if="blnStatus">
            <div class="row" data-select2-id="16">
                <div class="col-sm-12" data-select2-id="15">
                    <div class="profile-detail-group" data-select2-id="14">
                        <div class="card " data-select2-id="26">
                            <form data-select2-id="13">
                                <div class="row" data-select2-id="25">
                                    <div class="col-md-12">
                                        <div class="file-upload-text">
                                            <div class="file-upload" style="position:relative">
                                                <img :src="defaultPic" style="width:100%;height:100%;position:absolute;top:0%;left:0%;object-fit:contain"
                                                     alt="">
                                                <span>
                                                    <i class="feather-edit-3"></i>
                                                    <input type="file" accept=".jpeg,.png,.jpg,.svg" id="file-input" @@change="UploadPic">
                                                </span>
                                            </div>
                                            <h5>請上傳一個最小尺寸為 150 * 150 像素的個人照片（JPG、PNG、SVG）</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label bold-label">會員帳號</label>
                                        <input type="text" class="form-control" id="name" v-model="ProfileSetting.account" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">身份別</label>
                                        <input type="text" class="form-control" id="name" placeholder="系統帶入" :value="statusType" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">姓名</label>
                                        <input type="text" class="form-control" id="name" v-model="ProfileSetting.memberName" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">暱稱</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <input type="text" maxlength="16" class="form-control" id="name" v-model="ProfileSetting.nickName">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">性別</label>
                                        <select2 disabled style="width:100%" :options="genderList" v-model:value="ProfileSetting.gender">
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">身份證</label>
                                        <input readonly type="text" maxlength="10" class="form-control" v-model="ProfileSetting.identityCard">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">出生年月日</label>
                                        <input readonly id="datatest" type="date" class="form-control" v-model="ProfileSetting.birthday">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">手機號碼</label>
                                        <input readonly type="text" maxlength="10" oninput="value=value.replace(/[^\d]/g,'')" class="form-control" id="phone" v-model="ProfileSetting.phone" placeholder="請輸入您的手機號碼" />
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-4">
                                    <div class="input-space">
                                        <label class="form-label">請選擇縣市</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <select2 style="width:100%" :options="cityList" v-model:value="ProfileSetting.activeCity">
                                        </select2>
                                        <label class="form-label">請選擇鄉鎮市區</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <select2 style="width:100%" :options="areaList" v-model:value="ProfileSetting.activeArea">
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">請輸入地址</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <input type="text" maxlength="70" class="form-control" id="city" placeholder="請輸入地址(範例:南京東路三段219號5樓)" v-model="ProfileSetting.address" />
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="info-about">
                                        <label for="comments" class="form-label">個人簡介</label>
                                        <textarea class="form-control" id="comments" rows="3" v-model="ProfileSetting.personalProfile" placeholder="請填寫自我介紹"></textarea>
                                    </div>
                                </div>
                            </form>
                            <div class="save-changes text-end">
                                <a href="#MessageTop" class="btn btn-primary reset-profile" @@click="Reset">重置</a>
                                <a href="#MessageTop" class="btn btn-primary reset-profile" @@click="Send">儲存</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </template>
        @* 快速會員 *@
        <template v-else>
            <div id="app" class="row" data-select2-id="16">
                <div class="col-sm-12" data-select2-id="15">
                    <div class="profile-detail-group" data-select2-id="14">
                        <div class="card " data-select2-id="26">
                            <form data-select2-id="13">
                                <div class="row" data-select2-id="25">
                                    <div class="col-md-12">
                                        <div class="file-upload-text">
                                            <div class="file-upload" style="position:relative">
                                                <img :src="defaultPic" style="width:100%;height:100%;position:absolute;top:0%;left:0%;object-fit:contain"
                                                     alt="">
                                                <span>
                                                    <i class="feather-edit-3"></i>
                                                    <input type="file" accept=".jpeg,.png,.jpg,.svg" id="file-input" @@change="UploadPic">
                                                </span>
                                            </div>
                                            <label class="mark-label">(*必填欄位)</label>
                                            <h5>請上傳一個最小尺寸為 150 * 150 像素的個人照片（JPG、PNG、SVG）</h5>
                                            <label class="warntext-label">欄位內不可輸入空白字元，若無法成功儲存，請檢查欄位是否存在空白字元！</label>
                                            <label class="warntext-label">(*必填欄位)【姓名、性別、身分證、出生年月日、手機號碼】儲存後無法修改，請務必填寫正確資訊！</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">會員帳號</label>
                                        <input type="text" class="form-control" id="name" v-model="ProfileSetting.account" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">身份別</label>
                                        <input type="text" class="form-control" id="name" placeholder="系統帶入" :value="statusType" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">姓名</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <input type="text" maxlength="16" class="form-control" id="name" v-model="ProfileSetting.memberName">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">暱稱</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <input type="text" maxlength="16" class="form-control" id="name" v-model="ProfileSetting.nickName">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">性別</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <select2 style="width:100%" :options="genderList" v-model:value="ProfileSetting.gender">
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">身份證</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <input type="text" maxlength="10" class="form-control" v-model="ProfileSetting.identityCard" id="identityCardInput" @@input="checkChineseInput">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">出生年月日</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <input id="datatest" type="date" class="form-control" v-model="ProfileSetting.birthday">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">手機號碼</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <input type="text" maxlength="10" oninput="value=value.replace(/[^\d]/g,'')" class="form-control" id="phone" v-model="ProfileSetting.phone" placeholder="請輸入您的手機號碼" />
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-4">
                                    <div class="input-space">
                                        <label class="form-label">請選擇縣市</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <select2 style="width:100%" :options="cityList" v-model:value="ProfileSetting.activeCity">
                                        </select2>
                                        <label class="form-label">請選擇鄉鎮市區</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <select2 style="width:100%" :options="areaList" v-model:value="ProfileSetting.activeArea">
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">請輸入地址</label>
                                        <label class="mark-label">(*必填欄位)</label>
                                        <input type="text" maxlength="70" class="form-control" id="city" placeholder="請輸入地址(範例:南京東路三段219號5樓)" v-model="ProfileSetting.address" />
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-12">
                                    <div class="info-about">
                                        <label for="comments" class="form-label">個人簡介</label>
                                        <textarea class="form-control" id="comments" rows="3" v-model="ProfileSetting.personalProfile" placeholder="請填寫自我介紹"></textarea>
                                    </div>
                                </div>
                            </form>
                            <div class="save-changes text-end">
                                <a href="#MessageTop" class="btn btn-primary reset-profile" @@click="Reset">重置</a>
                                <a href="#MessageTop" class="btn btn-primary reset-profile" @@click="Send">儲存</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </template>
    </div>
</div>
@* </div> *@

@section Scripts{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="~/js/jhobbyselect2component.js"></script>
    <script src="~/js/taiwancity.js"></script>
    <script>
        const profileSet = Vue.createApp({
            data() {
                return {
                    defaultPic: "",
                    file: null,
                    ProfileSetting: {},
                    GenderOptions: [{ id: '0', text: '女性' }, { id: '1', text: '男性' }, { id: '2', text: '雙性' }],
                    headShotName: "",
                    blnStatus: false,
                    message: "",
                };
            },
            computed: {
                cityList() {
                    return taiwanCity.map(x => {
                        return {
                            id: x.CityName,
                            text: x.CityName
                        }
                    })
                },
                areaList() {
                    let area = taiwanCity.filter(x => x.CityName == this.ProfileSetting.activeCity);
                    if (area.length < 1) return [];
                    return area[0].AreaList.map(x => {
                        return {
                            id: x.AreaName,
                            text: x.AreaName
                        }
                    })
                },
                genderList() {
                    return this.GenderOptions.map(x => {
                        return {
                            id: x.id,
                            text: x.text
                        }
                    })
                },
                statusType() {
                    switch (this.ProfileSetting.status) {
                        case "0":
                            return "快速會員"
                            break;
                        case "1":
                            return "一般會員"
                            break;
                        case "2":
                            return "黑名單"
                            break;
                        case "9":
                            return "管理員"
                            break;
                        default:
                            return "查無資料"
                    }
                }
            },
            methods: {
                checkChineseInput() {
                    // 獲取輸入的身分證字串
                    const identityCard = this.ProfileSetting.identityCard;

                    // 使用正則表達式檢查是否包含中文字符
                    const chineseRegex = /[\u4e00-\u9fa5\u3100-\u312F]/g;

                    // 如果包含中文字符或注音符號
                    if (chineseRegex.test(identityCard)) {
                        // 清除中文字符或注音符號
                        this.ProfileSetting.identityCard = identityCard.replace(chineseRegex, '');

                        // 移除先前的警告訊息
                        const warningElement = identityCardInput.nextElementSibling;
                        if (warningElement && warningElement.tagName === 'DIV') {
                            warningElement.remove();
                        }
                        // 插入一個用來顯示警告的元素
                        identityCardInput.insertAdjacentHTML("afterend", '<div style="color: red;">★請不要輸入中文★</div>');
                    } else {
                        // 如果不包含中文字符，移除警告元素
                        const warningElement = identityCardInput.nextElementSibling;
                        if (warningElement && warningElement.tagName === 'DIV') {
                            warningElement.remove();
                        }
                    }
                },
                GetProfile() {
                    let _this = this;
                    // 使用 fetch API 來取得 API 的回應
                    fetch("/ProfileSettingApi/GetById/@verifyMemberId")
                        .then(r => r.json())
                        .then(d => {
                            _this.ProfileSetting = d
                            if (_this.ProfileSetting.status != "0") { _this.blnStatus = true };
                            _this.defaultPic = _this.ProfileSetting.headShot ? _this.ProfileSetting.headShot : "/assets/img/icons/img-icon.svg"
                        })
                        .catch(error => {
                            console.error("Error fetching data:", error);
                        });
                },
                UploadPic(e) {
                    let _this = this
                    console.log(URL.createObjectURL(e.target.files[0]));
                    _this.file = e.target.files[0];
                    _this.defaultPic = URL.createObjectURL(e.target.files[0]);
                    _this.CheckFileType();
                },
                Send() {
                    _this = this;
                    if (!_this.ProfileSetting.memberName ||
                        !_this.ProfileSetting.nickName ||
                        !_this.ProfileSetting.gender ||
                        !_this.ProfileSetting.identityCard ||
                        !_this.ProfileSetting.birthday ||
                        !_this.ProfileSetting.activeCity ||
                        !_this.ProfileSetting.activeArea ||
                        !_this.ProfileSetting.address ||
                        !_this.ProfileSetting.phone) {
                        alert("請填寫所有必填欄位！");
                        return;
                    }
                    if (
                        /\s/.test(_this.ProfileSetting.memberName) ||
                        /\s/.test(_this.ProfileSetting.nickName) ||
                        /\s/.test(_this.ProfileSetting.gender) ||
                        /\s/.test(_this.ProfileSetting.identityCard) ||
                        /\s/.test(_this.ProfileSetting.birthday) ||
                        /\s/.test(_this.ProfileSetting.activeCity) ||
                        /\s/.test(_this.ProfileSetting.activeArea) ||
                        /\s/.test(_this.ProfileSetting.address) ||
                        /\s/.test(_this.ProfileSetting.phone)
                    ) {
                        alert("請檢查欄位不可包含空白字元！");
                        return;
                    }
                    // 檢查是否有上傳圖片
                    if (!_this.file && !_this.ProfileSetting.headShot) {
                        alert("請上傳您的個人照片");
                        return; // 阻止儲存操作
                    }
                    if (!CheckPhone()) {
                        return;
                    };
                    var form = new FormData();
                    if (_this.file)
                    form.append('file', _this.file);
                    form.append('headShot', _this.ProfileSetting.headShot);
                    form.append('status', _this.CheckStatus((_this.ProfileSetting.status)));
                    form.append('memberName', _this.ProfileSetting.memberName);
                    form.append('nickName', _this.ProfileSetting.nickName);
                    form.append('gender', _this.ProfileSetting.gender);
                    form.append('identityCard', _this.ProfileSetting.identityCard);
                    form.append('birthday', _this.ProfileSetting.birthday);
                    form.append('activeCity', _this.ProfileSetting.activeCity);
                    form.append('activeArea', _this.ProfileSetting.activeArea);
                    form.append('address', _this.ProfileSetting.address);
                    form.append('phone', _this.ProfileSetting.phone);
                    form.append('personalProfile', _this.ProfileSetting.personalProfile);

                    // var form_data = new FormData();
                    // for (var key in this.ProfileSetting) {
                    //     form_data.append(key, this.ProfileSetting[key]);
                    // }

                    axios.put("/ProfileSettingApi/UpdateProfileSetting/@verifyMemberId", form, {
                        headers: {
                            "Content-Type": "multipart/form-data"
                        }
                    })
                        .then(res => {
                            _this.GetProfile();
                            //_this.ProfileSetting = res.data;
                            _this.ProfileSetting = {};
                            _this.message = "儲存完成，請重新登入後再次使用"
                            alert("儲存完成，請重新登入後再次使用");
                            // _this.$forceUpdate();
                            //javascript: location.href = "/Profile/MemberProfile/@verifyMemberId"
                            javascript: location.href = "/Member/Login"
                        })
                        .catch(err => alert("儲存失敗"));
                },
                Reset() {
                    let _this = this;
                    _this.file = null;
                    _this.blnStatus = false;
                    _this.message = "重置完成"
                    alert("重置完成");
                    // 重新發起 API 請求
                    _this.GetProfile();
                },
                ChangName(id) {
                    return "HeadShot" + id;
                },
                CheckFileType() {
                    let _this = this;
                    let validExts = new Array(".jpeg", ".png", ".jpg", ".svg");
                    let fileExt = _this.file.name
                    fileExt = fileExt.substring(fileExt.lastIndexOf('.'))
                    if (validExts.indexOf(fileExt) < 0) {
                        alert("檔案類型錯誤，請重新選擇");
                        _this.Reset();
                    }
                },
                CheckStatus(status) {
                    if (status === "2") {
                        return "2"
                    }
                    return "1"
                }
            },
            mounted() {
                let _this = this;
                _this.GetProfile();
            },
        }).component('select2', select2).mount("#profileSet");
    </script>
}