@{
   int _memberId = ViewBag.memberid;
}

<partial name="_BreadcrumbPartial" />
<partial name="_DashboardMenuPartial" />
<partial name="_PersonalcrumbPartial" />
<div id="global-loader" style="display: none;">
    <div class="loader-img">
        <img src="~/assets/img/loader.png" class="img-fluid" alt="Global">
    </div>
</div>


<!-- Main Wrapper -->
<div class="main-wrapper" data-select2-id="22">

    <!-- Header -->
    <header class="header header-sticky">
        <div class="container-fluid"></div>

	</header>
	<!-- /Header -->
	<!-- Breadcrumb -->
	<!-- /Breadcrumb -->
	<!-- Dashboard Menu -->
	<!-- /Dashboard Menu -->
	<!-- Page Content -->
	<div class="content court-bg" data-select2-id="18">
		<div class="container" data-select2-id="17">
            <div id="app" class="row" data-select2-id="16">
                <div class="col-sm-12" data-select2-id="15">
                    <div class="profile-detail-group" data-select2-id="14">
                        <div class="card " data-select2-id="26">
                            <form data-select2-id="13">
                                <div class="row" data-select2-id="25">
                                    <div class="col-md-12">
                                        <div class="file-upload-text">
                                            <div class="file-upload" style="position:relative">
                                                <img :src="defaultPic" style="width:100%;height:100%;position:absolute;top:0%;left:0%;object-fit:contain"
                                                     alt="">
                                                <p>請上傳您的個人照片</p>
                                                <span>
                                                    <i class="feather-edit-3"></i>
                                                    <input type="file" id="file-input" @@change="uploadPic" >
                                                </span>
                                            </div>
                                            <h5>請上傳一個最小尺寸為 150 * 150 像素的圖檔（JPG、PNG、SVG）</h5>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">會員帳號</label>
                                        <input type="text" class="form-control" id="name" v-model="ProfileSetting.account" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">身份別</label>
                                        <input type="text" class="form-control" id="name" placeholder="系統帶入" v-model="ProfileSetting.status" readonly>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">姓名</label>
                                        <input type="text" class="form-control" id="name" v-model="ProfileSetting.memberName" >
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">暱稱(前端設定必填)</label>
                                        <input type="text" class="form-control" id="name" v-model="ProfileSetting.nickName">
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">請填寫性別(女性、男性、雙性)</label>
                                        <hr>
                                        <label class="form-label">性別</label>
@*                                         <input type="text" class="form-control" id="name" v-model="ProfileSetting.gender" > *@
                                        <select2 style="width:100%" :options="genderList" v-model:value="ProfileSetting.gender">
                                            <option disabled value="XX">請選擇</option>
@*                                             <option v-for="option in GenderOptions" :key="option.id" :value="option.text">{{ option.text }}</option> *@
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">身份證</label>
                                        <input type="text" class="form-control" id="name" v-model="ProfileSetting.identityCard" >
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">出生年月日</label>
                                        <input id="datatest" type="date" class="form-control" id="name" v-model="ProfileSetting.birthday" >
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">手機號碼</label>
                                        <input type="text" class="form-control" id="phone" v-model="ProfileSetting.phone" placeholder="請輸入您的手機號碼" />
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-4">
                                    <div class="input-space">
                                        <label class="form-label">請選擇縣市</label>
                                        <select2 style="width:100%" :options="cityList" v-model:value="ProfileSetting.activeCity">
                                            <option disabled value="0">請選擇</option>
                                        </select2>

                                        <label class="form-label">請選擇鄉鎮市區</label>
                                        <select2 style="width:100%" :options="areaList" v-model:value="ProfileSetting.activeArea">
                                            <option disabled value="1"></option>
                                        </select2>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-6">
                                    <div class="input-space">
                                        <label class="form-label">請輸入地址</label>
                                        <input type="text" class="form-control" id="city" placeholder="請輸入地址(範例:南京東路三段219號5樓)" v-model="ProfileSetting.address" />
                                    </div>
                                </div>

                                <div class="col-lg-12 col-md-12">
                                    <div class="info-about">
                                        <label for="comments" class="form-label">個人簡介</label>
                                        <textarea class="form-control" id="comments" rows="3" v-model="ProfileSetting.personalProfile" placeholder="請填寫自我介紹"></textarea>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                    <div class="save-changes text-end">
                        <button class="btn btn-primary reset-profile" @@click="Reset">重置</button>
                        <button class="btn btn-secondary save-profile" @@click="Send">儲存</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

@section Scripts{
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="~/js/jhobbyselect2component.js"></script>
    <script src="~/js/taiwancity.js"></script>
    <script>
        const app = Vue.createApp({
            data() {
                return {
                    defaultPic: "/assets/img/icons/img-icon.svg",
                    file: null,
                    ProfileSetting: {
                        headShot: "",
                        account:"",
                        status: "",
                        memberId: "",
                        memberName: "",
                        nickName: "",
                        gender: "",
                        identityCard: "",
                        birthday: "",
                        activeCity: "",
                        activeArea: "",
                        address: "",
                        phone: "",
                        personalProfile: ""
                    },
                    GenderOptions: [
                        { id: '0', text: '女性' },
                        { id: '1', text: '男性' },
                        { id: '2', text: '雙性' },
                        // Add more options as needed
                    ],
                    test: ""
                };
            },
            computed: {
                cityList() {
                    return taiwanCity.map(x => {
                        return {
                            id: x.CityName,
                            text: x.CityName
                        }
                    })
                },
                areaList() {
                    let area = taiwanCity.filter(x => x.CityName == this.ProfileSetting.activeCity);
                    if (area.length < 1) return [];
                    return area[0].AreaList.map(x => {
                        return {
                            id: x.AreaName,
                            text: x.AreaName
                        }
                    })
                },
                genderList() {
                    return this.GenderOptions.map(x => {
                        return {
                            id: x.id,
                            text: x.text
                        }
                    })
                },
            },
            methods: {
                uploadPic(e) {
                    console.log(URL.createObjectURL(e.target.files[0]));
                    this.file = e.target.files[0];
                    this.defaultPic = URL.createObjectURL(e.target.files[0]);
                },
                Send() {
                    this.img(this.ProfileSetting.memberId)
                    // 檢查是否有上傳圖片
                    if (!this.file) {
                        alert("請上傳您的個人照片");
                        return; // 阻止儲存操作
                    }
                    var temp;
                    var formData = new FormData();
                    if (this.file) formData.append('file', this.file,this.test);
                    formData.append('headShot', this.ProfileSetting.headShot);
                    // formData.append('status', this.ProfileSetting.status);
                    formData.append('memberName', this.ProfileSetting.memberName);
                    formData.append('nickName', this.ProfileSetting.nickName);
                    formData.append('gender', this.ProfileSetting.gender);
                    formData.append('identityCard', this.ProfileSetting.identityCard);
                    formData.append('birthday', this.ProfileSetting.birthday);
                    formData.append('activeCity', this.ProfileSetting.activeCity);
                    formData.append('activeArea', this.ProfileSetting.activeArea);
                    formData.append('address', this.ProfileSetting.address);
                    formData.append('phone', this.ProfileSetting.phone);
                    formData.append('personalProfile', this.ProfileSetting.personalProfile);

                    // var form_data = new FormData();
                    // for (var key in this.ProfileSetting) {
                    //     form_data.append(key, this.ProfileSetting[key]);
                    // }


                    fetch("/api/ProfileSetting/UpdateProfileSetting/3", {
                        method: "put",
                        body: formData
                    })
                    // fetch("xxx", {
                    //     method: "put",
                    //     body: form_data
                    // })
                },
                    Reset() {
                        this.defaultPic = "/assets/img/icons/img-icon.svg";
                        this.file = null;

                        // 重新發起 API 請求
                    fetch("/api/ProfileSetting/GetById/3")
                            .then(r => r.json())
                            .then(d => {
                                this.ProfileSetting = d;
                            })
                            .catch(error => {
                                console.error('Error fetching data:', error);
                            });
                },
                img(id) {
                    this.test = "HeadShot" + id + ".jpg"
                }

            },
            mounted() {
                let self = this;

                // 使用 fetch API 來取得 API 的回應
                fetch("/api/ProfileSetting/GetById/3")
                    .then(r => r.json())
                    .then(d => {
                        self.ProfileSetting = d;
                        // alert(JSON.stringify(d));
                    }); // 注意這裡是 d[0]
            },

        }).component('select2', select2).mount("#app");
    </script>
}