@{
	ViewData["Title"] = "改密碼頁面";
}

<partial name="_BreadcrumbPartial" />			


		<!-- Page Content -->
		<div class="content court-bg">
			<div class="container">

				<div class="coach-court-list profile-court-list">
					<ul class="nav">
						<li></li>
						<li><a class="active" href="user-setting-password.html" style="font-size: 23px;">修改密碼區</a></li>
						<li></li>
					</ul>
				</div>

				<div class="row">
					<div class="col-sm-12">
						<div class="profile-detail-group">
							<div class="card ">
								<form>
									<div class="row">
										<div class="col-lg-7 col-md-7">
											
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="input-space">
												<label class="form-label" style="font-size: 23px;">新的密碼</label>
												<input type="text" class="form-control" id="new-password" placeholder="請輸入新密碼" style="font-size: 19px;">
											</div>
										</div>
										<div class="col-lg-7 col-md-7">
											<div class="input-space mb-0">
												<label class="form-label" style="font-size: 23px;">新密碼再次確認</label>
												<input type="text" class="form-control" id="confirm-password" placeholder="請再次輸入新密碼" style="font-size: 19px;">
											</div>       
										</div>
									</div>
								</form>
							</div>
							<div class="save-changes text-end">
								<a href="javascript:;" class="btn btn-primary save-profile" style="font-size: 22px;" >儲存</a>
								<a href="javascript:;" class="btn btn-secondary reset-profile" style="font-size: 22px;">取消</a>
								
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Page Content -->

		<!-- Footer -->
		
		

	</div>
