@{
	ViewData["Title"] = "團主建團頁面";
}

<partial name="_BreadcrumbPartial" />


<!-- Bootstrap DateTime Picker -->

@* <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css"> *@


<div id="app" class="main-wrapper authendication-pages">
		<div class="content book-cage" data-select2-id="16">
			<div class="container" data-select2-id="15">

				<div class="row" data-select2-id="14">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12" data-select2-id="13">
						<section class="card booking-form" data-select2-id="12">
							<h3 class="border-bottom" style="font-size: 35px; text-align: center;">開團內容</h3>
							<form data-select2-id="11">


						<div class="mb-3">
							<label for="date" class="form-label" style="font-size: 22px;">開團名稱</label>
							<div class="form-icon">
								<input type="text" class="form-control" placeholder="請輸入開團名稱" id="empty-field" v-model="activityBuild.activityName">
							</div>
						</div>

								<div class="mb-3">
									<label for="date" class="form-label" style="font-size: 22px;">開團縣市</label>
									<div class="form-icon">
								<input type="text" class="form-control" placeholder="請輸入正確縣市" id="empty-field" v-model="activityBuild.activityCity">
									</div>
								</div>

								<div class="mb-3">
									<label for="date" class="form-label" style="font-size: 22px;">開團鄉鎮市區</label>
									<div class="form-icon">
								<input type="text" class="form-control" placeholder="請輸入正確鄉鎮市區" id="empty-field" v-model="activityBuild.activityArea">
									</div>
								</div>

						<div class="mb-3">
							<label for="date" class="form-label" style="font-size: 22px;">開團地址</label>
							<div class="form-icon">
								<input type="text" class="form-control" placeholder="請輸入正確地址" id="empty-field" v-model="activityBuild.activityLocation">

							</div>
						</div>


								<div class="mb-3">
									<label for="date" class="form-label" style="font-size: 22px;">活動開始日期時間</label>
									<div class="form-icon">
								<input type="text" class="form-control datetimepicker" placeholder="請輸入日期時間" v-model="activityBuild.startTime">	
										<span class="cus-icon">
											<i class="feather-calendar icon-date"></i>		
										</span>
									</div>
								</div>
								
								

								<div class="mb-3">
									<label for="empty-field" class="form-label" style="font-size: 22px;">人數限制</label>
									<div class="form-icon">
								<input type="text" class="form-control" placeholder="請輸入有效數值" id="empty-field" v-model="activityBuild.maxPeople">
									</div>
								</div>

						<div class="mb-3">
							<label for="court" class="form-label" style="font-size: 22px;">活動種類(大項)</label>
							<select class="select select2" id="mainCategory" tabindex="-1" aria-hidden="true" v-model="activityBuild.categoryId">
								<option value="" selected>請選擇活動種類</option>
									<option value="1" >食</option>
									<option value="2" >住</option>
									<option value="3" >行</option>
									<option value="4" >育</option>
									<option value="5" >樂</option>
							</select>	
						</div>

						<div class="mb-3">
							<label for="court" class="form-label" style="font-size: 22px;">活動種類(小項)</label>
							<select class="select select2" id="subCategory" tabindex="-1" aria-hidden="true" v-model="activityBuild.categoryTypeId">
								<option value="" selected>請選擇活動種類</option>
									<option value="1" >水上運動</option>
									<option value="2" >室內運動</option>
									<option value="3" >揪團購</option>			
							</select>
						</div>

								<div class="mb-3">
									<label for="endterdate" class="form-label" style="font-size: 22px;">報名截止日期時間</label>
									<div class="form-icon">
								<input type="text" class="form-control datetimepicker" placeholder="請輸入日期時間" v-model="activityBuild.joinDeadLine">
										<span class="cus-icon">
											<i class="feather-calendar icon-date"></i>
										</span>
									</div>
								</div>


								<div class="mb-3">
									<label for="empty-field" class="form-label" style="font-size: 22px;">活動價錢</label>
									<div class="form-icon">
								<input type="text" class="form-control" placeholder="請輸入有效數值" id="empty-field" v-model="activityBuild.joinFee">
									</div>
								</div>					

								<div class="mb-3">
									<label for="empty-field" class="form-label" style="font-size: 22px;">聚會描述</label>
									<div class="form-icon">
								<textarea class="form-control" id="empty-field" rows="4" maxlength="300" v-model="activityBuild.activityNotes"></textarea>
									</div>
								</div>

								

						<div class="col-md-12">
							<div class="appoint-head coach-top">
								<h1 style="font-size: 22px;">上傳活動圖片</h1>
							</div>
							<div class="file-upload-text appointment-upload">
								<div class="file-upload">
									<img src="~/assets/img/icons/upload-icon.svg" class="img-fluid" alt="Upload">
									<p>點此上傳圖片</p>
									<input type="file" id="file-input">			
								</div>
								<div class="upload-show-img">
									<div class="upload-images">
										<img src="~/assets/img/booking/booking-01.jpg" alt="Uploader">
										<a href="javascript:void(0);" class="btn btn-icon logo-hide-btn btn-sm"><i class="far fa-trash-alt"></i></a>
									</div>
									<div class="upload-images">
										<img src="~/assets/img/booking/booking-02.jpg" alt="Uploader">
										<a href="javascript:void(0);" class="btn btn-icon logo-hide-btn btn-sm"><i class="far fa-trash-alt"></i></a>
									</div>
									<div class="upload-images">
										<img src="~/assets/img/booking/booking-03.jpg" alt="Uploader">
										<a href="javascript:void(0);" class="btn btn-icon logo-hide-btn btn-sm "><i class="far fa-trash-alt "></i></a>
									</div>
								</div>
							</div>
						</div>




							</form>
						</section>
					</div>


				</div>
				<div class="text-center btn-row">
				<a class="btn btn-primary me-3 btn-icon"  style="font-size: 22px; padding: 10px; width: 100px; justify-content: center;" v-on:click="leaderBuild">確認</a>
					<a class="btn btn-secondary btn-icon" href="/" style="font-size: 22px; padding: 10px;  width: 100px; justify-content: center;">取消 </a>
				</div>
			</div>
			<!-- /Container -->
		</div>
		<!-- /Page Content -->
		<!-- Footer -->
		<!-- /Footer -->
</div>
	
	<!-- /Main Wrapper -->
	<!-- jQuery -->

	@* <script src="~/assets/js/jquery-3.7.0.min.js"></script>

	<!-- Select JSS -->
	<script src="~/assets/plugins/select2/js/select2.min.js"></script>

	<!-- Bootstrap DateTime Picker -->
	<script src="~/assets/js/moment.min.js"></script>
	<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Custom JS -->
    <script src="~/assets/js/script.js"></script> 
	<div class="sidebar-overlay"></div> *@



<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script>
	Vue.createApp({
		data() {
			return {
				activityBuild: {
					activityName: "",
					activityCity: "",
					activityArea: "",
					activityLocation: "",
			        startTime: "",
					maxPeople:"",
					categoryId:"",
					categoryTypeId:"",
					joinDeadLine:"",
					joinFee:"",
					activityNotes:"",
					memberId:"666",
					activityStatus:"1",
					payment:"1",
					created:"2023-11-21"
				},
			}
		},

		methods: {
			leaderBuild() {
				let self = this;


				// 先獲取 select 元素的值
				let selectedCategoryId = $('#mainCategory').val();
				let selectedSubCategoryId = $('#subCategory').val();

				// 將值設置到 activityBuild 中的相應屬性
				this.activityBuild.categoryId = selectedCategoryId;				
				this.activityBuild.categoryTypeId = selectedSubCategoryId;

				// 其他程式碼...
			


				fetch("/ActivityApi/InsertActivity", {
					method: "POST",
					headers: {
						'Content-Type': 'application/json',
					},
					body: JSON.stringify(this.activityBuild)
					
				})
					.then(r => r.json())		
					.then(d => {
						console.log('Success', d);
						alert(JSON.stringify(this.activityBuild));
						alert("建立成功,進入預覽編輯畫面");
					})
				//alert(123);
			},
		},
	}).mount("#app");
</script>