@{
	ViewData["Title"] = "團主建立頁面";
}

<partial name="_BreadcrumbPartial" />


<!-- Bootstrap DateTime Picker -->

@* <link rel="stylesheet" href="~/assets/css/bootstrap-datetimepicker.min.css"> *@



		<div class="content book-cage" data-select2-id="16">
			<div class="container" data-select2-id="15">

				<div class="row" data-select2-id="14">
					<div class="col-12 col-sm-12 col-md-12 col-lg-12" data-select2-id="13">
						<section class="card booking-form" data-select2-id="12">
							<h3 class="border-bottom" style="font-size: 35px; text-align: center;">開團內容</h3>
							<form data-select2-id="11">


								<div class="mb-3">
									<label for="date" class="form-label" style="font-size: 22px;">開團地區</label>
									<div class="form-icon">
										<input type="text" class="form-control" placeholder="請輸入正確地址" id="empty-field">

									</div>
								</div>


								<div class="mb-3">
									<label for="date" class="form-label" style="font-size: 22px;">活動開始日期</label>
									<div class="form-icon">
										<input type="text" class="form-control datetimepicker" placeholder="請選擇日期" id="date">
										<span class="cus-icon">
											<i class="feather-calendar icon-date"></i>
										</span>
									</div>
								</div>
								<div class="mb-3">
									<label for="start-time" class="form-label" style="font-size: 22px;">活動開始時間</label>
									<div class="form-icon">
										<input type="text" class="form-control timepicker" id="start-time" placeholder="請選擇活動開始時間">
										<span class="cus-icon">
											<i class="feather-clock icon-time"></i>
										</span>
									</div>
								</div>
								<div class="mb-3">
									<label for="end-time" class="form-label" style="font-size: 22px;">活動結束時間</label>
									<div class="form-icon">
										<input type="text" class="form-control timepicker" id="end-time" placeholder="請選擇活動結束時間">
										<span class="cus-icon">
											<i class="feather-clock icon-time"></i>
										</span>
									</div>
								</div>

								<div class="mb-3">
									<label for="empty-field" class="form-label" style="font-size: 22px;">人數限制</label>
									<div class="form-icon">
										<input type="text" class="form-control" placeholder="請輸入有效數值" id="empty-field">
									</div>
								</div>

						<div class="mb-3">
							<label for="court" class="form-label" style="font-size: 22px;">活動種類</label>
							<select class="select select2-hidden-accessible" id="court" tabindex="-1" aria-hidden="true">
								<option value="0" disabled selected>請選擇活動種類</option>
								<option value="1">運動類</option>
								<option value="2">休閒類</option>
							</select>
						</div>

								<div class="mb-3">
									<label for="endterdate" class="form-label" style="font-size: 22px;">報名截止日期</label>
									<div class="form-icon">
										<input type="text" class="form-control datetimepicker" placeholder="請選擇日期" id="date">
										<span class="cus-icon">
											<i class="feather-calendar icon-date"></i>
										</span>
									</div>
								</div>

								<div class="mb-3">
									<label for="start-time" class="form-label" style="font-size: 22px;">報名截止時間</label>
									<div class="form-icon">
										<input type="text" class="form-control timepicker" id="start-time" placeholder="請選擇活動開始時間">
										<span class="cus-icon">
											<i class="feather-clock icon-time"></i>
										</span>
									</div>
								</div>

								<div class="mb-3">
									<label for="empty-field" class="form-label" style="font-size: 22px;">活動價錢</label>
									<div class="form-icon">
										<input type="text" class="form-control" placeholder="請輸入有效數值" id="empty-field">
									</div>
								</div>

								<div class="mb-3">
									<label for="empty-field" class="form-label" style="font-size: 22px;">聚會描述</label>
									<div class="form-icon">
										<textarea class="form-control" id="empty-field" rows="4" maxlength="300"></textarea>
									</div>
								</div>

								<div class="mb-3">
									<label for="upload-image" class="form-label" style="font-size: 22px;">上傳活動圖片</label>
									<div class="form-icon">
										<input type="file" class="form-control" id="upload-image" style="display: none;">
										<div id="image-preview" style="width: 500px; height: 300px; border: 2px dashed #ccc; display: flex; align-items: center; justify-content: center;">
											@* <span style="color: #999;">上傳圖片預覽區</span> *@
											<img style="width:500px;height:300px" src="~/images/NoImage.jpg" />
										</div>
										<button type="button" onclick="document.getElementById('upload-image').click()" style="font-size: 14px; padding: 10px;">上傳圖檔</button>
									</div>
								</div>




							</form>
						</section>
					</div>


				</div>
				<div class="text-center btn-row">
					<a class="btn btn-primary me-3 btn-icon" href="leaderEdit" style="font-size: 22px; padding: 10px;  width: 100px;  justify-content: center;"> 確認</a>
					<a class="btn btn-secondary btn-icon" href="/" style="font-size: 22px; padding: 10px;  width: 100px; justify-content: center;">取消 </a>
				</div>
			</div>
			<!-- /Container -->
		</div>
		<!-- /Page Content -->
		<!-- Footer -->
		<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->
	<!-- jQuery -->

	@* <script src="~/assets/js/jquery-3.7.0.min.js"></script>

	<!-- Select JSS -->
	<script src="~/assets/plugins/select2/js/select2.min.js"></script>

	<!-- Bootstrap DateTime Picker -->
	<script src="~/assets/js/moment.min.js"></script>
	<script src="~/assets/js/bootstrap-datetimepicker.min.js"></script>

	<!-- Custom JS -->
    <script src="~/assets/js/script.js"></script> 
	<div class="sidebar-overlay"></div> *@
  

}