@{
	ViewData["Title"] = "活動";
}
@section Styles
{
	<style>
		.btn-load {
			background: #FFFFFF;
			color: #192335;
			border: 3px solid #EAEDF0;
			border-radius: 5px;
			padding: 16px;
			min-width: 102px;
			display: inline-flex;
		}
	</style>
}
<partial name="_BreadcrumbPartial" />

<!-- Page Content -->
<div class="content">
	<div class="container">

		<!-- Sort By -->
		<div class="row">
			<div class="col-lg-12">
				<div class="sortby-section">
					<div class="sorting-info">
						<div class="row d-flex align-items-center">
							<div class="col-xl-4 col-lg-3 col-sm-12 col-12">
							</div>
							<div class="col-xl-8 col-lg-9 col-sm-12 col-12">
								<div class="sortby-filter-group">
									
									<div class="sortbyset">
										<span class="sortbytitle">排序</span>
										<div class="sorting-select">
											<select class="form-control select">
												<option>近到遠</option>
												<option>遠到近</option>
											</select>
										</div>
									</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- Sort By -->
		<!-- Listing Content -->
		<div class="row justify-content-center">

			<!-- Featured Item -->
			<div class="col-lg-4 col-md-6">
				<div class="wrapper">
					<div class="listing-item listing-item-grid">
						<div class="listing-img">
							<a href="venue-details.html">
								<img src="~/assets/img/venues/venues-01.jpg" alt="Venue">
							</a>
							<div class="fav-item-venues">
								<div class="list-reviews">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="listing-content">
							<h3 class="listing-title">
								<a href="venue-details.html">[活動名稱1]</a>
							</h3>
							<div class="listing-details-group">
								<p>[活動簡述]</p>
								<ul>
									<li>
										<span>
											<i class="feather-map-pin"></i>[活動地點]
										</span>
									</li>
									<li>
										<span>
											<i class="feather-calendar"></i>報名截止日 : <span class="primary-text">[2023-11-30]</span>
										</span>
									</li>
								</ul>
							</div>
							<div class="listing-button">
								<div class="listing-venue-owner">
									<a class="navigation" href="coach-detail.html">
										<img src="~/assets/img/profiles/avatar-01.jpg" alt="Venue">陳O翰
									</a>
								</div>
								<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>參加</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Featured Item -->
			<!-- Featured Item -->
			<div class="col-lg-4 col-md-6">
				<div class="wrapper">
					<div class="listing-item listing-item-grid">
						<div class="listing-img">
							<a href="venue-details.html">
								<img src="~/assets/img/venues/venues-01.jpg" alt="Venue">
							</a>
							<div class="fav-item-venues">
								<div class="list-reviews">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="listing-content">
							<h3 class="listing-title">
								<a href="venue-details.html">[活動名稱2]</a>
							</h3>
							<div class="listing-details-group">
								<p>[活動簡述]</p>
								<ul>
									<li>
										<span>
											<i class="feather-map-pin"></i>[活動地點]
										</span>
									</li>
									<li>
										<span>
											<i class="feather-calendar"></i>報名截止日 : <span class="primary-text">[2023-11-30]</span>
										</span>
									</li>
								</ul>
							</div>
							<div class="listing-button">
								<div class="listing-venue-owner">
									<a class="navigation" href="coach-detail.html">
										<img src="~/assets/img/profiles/avatar-01.jpg" alt="Venue">張O翔
									</a>
								</div>
								<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>參加</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Featured Item -->
			<!-- Featured Item -->
			<div class="col-lg-4 col-md-6">
				<div class="wrapper">
					<div class="listing-item listing-item-grid">
						<div class="listing-img">
							<a href="venue-details.html">
								<img src="~/assets/img/venues/venues-01.jpg" alt="Venue">
							</a>
							<div class="fav-item-venues">
								<div class="list-reviews">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="listing-content">
							<h3 class="listing-title">
								<a href="venue-details.html">[活動名稱3]</a>
							</h3>
							<div class="listing-details-group">
								<p>[活動簡述]</p>
								<ul>
									<li>
										<span>
											<i class="feather-map-pin"></i>[活動地點]
										</span>
									</li>
									<li>
										<span>
											<i class="feather-calendar"></i>報名截止日 : <span class="primary-text">[2023-11-30]</span>
										</span>
									</li>
								</ul>
							</div>
							<div class="listing-button">
								<div class="listing-venue-owner">
									<a class="navigation" href="coach-detail.html">
										<img src="~/assets/img/profiles/avatar-01.jpg" alt="Venue">陳O瑜
									</a>
								</div>
								<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>參加</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Featured Item -->
			<!-- Featured Item -->
			<div class="col-lg-4 col-md-6">
				<div class="wrapper">
					<div class="listing-item listing-item-grid">
						<div class="listing-img">
							<a href="venue-details.html">
								<img src="~/assets/img/venues/venues-01.jpg" alt="Venue">
							</a>
							<div class="fav-item-venues">
								<div class="list-reviews">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="listing-content">
							<h3 class="listing-title">
								<a href="venue-details.html">[活動名稱4]</a>
							</h3>
							<div class="listing-details-group">
								<p>[活動簡述]</p>
								<ul>
									<li>
										<span>
											<i class="feather-map-pin"></i>[活動地點]
										</span>
									</li>
									<li>
										<span>
											<i class="feather-calendar"></i>報名截止日 : <span class="primary-text">[2023-11-30]</span>
										</span>
									</li>
								</ul>
							</div>
							<div class="listing-button">
								<div class="listing-venue-owner">
									<a class="navigation" href="coach-detail.html">
										<img src="~/assets/img/profiles/avatar-01.jpg" alt="Venue">謝O州
									</a>
								</div>
								<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>參加</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Featured Item -->
			<!-- Featured Item -->
			<div class="col-lg-4 col-md-6">
				<div class="wrapper">
					<div class="listing-item listing-item-grid">
						<div class="listing-img">
							<a href="venue-details.html">
								<img src="~/assets/img/venues/venues-01.jpg" alt="Venue">
							</a>
							<div class="fav-item-venues">
								<div class="list-reviews">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="listing-content">
							<h3 class="listing-title">
								<a href="venue-details.html">[活動名稱5]</a>
							</h3>
							<div class="listing-details-group">
								<p>[活動簡述]</p>
								<ul>
									<li>
										<span>
											<i class="feather-map-pin"></i>[活動地點]
										</span>
									</li>
									<li>
										<span>
											<i class="feather-calendar"></i>報名截止日 : <span class="primary-text">[2023-11-30]</span>
										</span>
									</li>
								</ul>
							</div>
							<div class="listing-button">
								<div class="listing-venue-owner">
									<a class="navigation" href="coach-detail.html">
										<img src="~/assets/img/profiles/avatar-01.jpg" alt="Venue">陳O鈞
									</a>
								</div>
								<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>參加</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Featured Item -->
			<!-- Featured Item -->
			<div class="col-lg-4 col-md-6">
				<div class="wrapper">
					<div class="listing-item listing-item-grid">
						<div class="listing-img">
							<a href="venue-details.html">
								<img src="~/assets/img/venues/venues-01.jpg" alt="Venue">
							</a>
							<div class="fav-item-venues">
								<div class="list-reviews">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="listing-content">
							<h3 class="listing-title">
								<a href="venue-details.html">[活動名稱6]</a>
							</h3>
							<div class="listing-details-group">
								<p>[活動簡述]</p>
								<ul>
									<li>
										<span>
											<i class="feather-map-pin"></i>[活動地點]
										</span>
									</li>
									<li>
										<span>
											<i class="feather-calendar"></i>報名截止日 : <span class="primary-text">[2023-11-30]</span>
										</span>
									</li>
								</ul>
							</div>
							<div class="listing-button">
								<div class="listing-venue-owner">
									<a class="navigation" href="coach-detail.html">
										<img src="~/assets/img/profiles/avatar-01.jpg" alt="Venue">蘇O尹
									</a>
								</div>
								<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>參加</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Featured Item -->
			<!-- Featured Item -->
			<div class="col-lg-4 col-md-6">
				<div class="wrapper">
					<div class="listing-item listing-item-grid">
						<div class="listing-img">
							<a href="venue-details.html">
								<img src="~/assets/img/venues/venues-01.jpg" alt="Venue">
							</a>
							<div class="fav-item-venues">
								<div class="list-reviews">
									<a href="javascript:void(0)" class="fav-icon">
										<i class="feather-heart"></i>
									</a>
								</div>
							</div>
						</div>
						<div class="listing-content">
							<h3 class="listing-title">
								<a href="venue-details.html">[活動名稱7]</a>
							</h3>
							<div class="listing-details-group">
								<p>[活動簡述]</p>
								<ul>
									<li>
										<span>
											<i class="feather-map-pin"></i>[活動地點]
										</span>
									</li>
									<li>
										<span>
											<i class="feather-calendar"></i>報名截止日 : <span class="primary-text">[2023-11-30]</span>
										</span>
									</li>
								</ul>
							</div>
							<div class="listing-button">
								<div class="listing-venue-owner">
									<a class="navigation" href="coach-detail.html">
										<img src="~/assets/img/profiles/avatar-01.jpg" alt="Venue">郭O祥
									</a>
								</div>
								<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>參加</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- /Featured Item -->


			<div class="col-12 text-center">
				<div class="more-details">
					<a href="#" class="btn btn-load">查看更多 <img src="~/assets/img/icons/u_plus-square.svg" class="ms-2" alt="img"></a>
				</div>
			</div>
		</div>
		<!-- /Listing Content -->
	</div>

</div>
<!-- /Page Content -->