<body data-select2-id="19">
	<div id="global-loader" style="display: none;">
		<div class="loader-img">
			<img src="assets/img/loader.png" class="img-fluid" alt="Global">
		</div>
	</div>

	<!-- Main Wrapper -->
	<div class="main-wrapper" data-select2-id="22">

		<!-- Header -->
		<header class="header header-sticky">
			<div class="container-fluid">

			</div>
		</header>
		<!-- /Header -->

		<!-- Breadcrumb -->

		<!-- /Breadcrumb -->

		<!-- Dashboard Menu -->
		<div class="dashboard-section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="dashboard-menu">
							<ul>
								<li>
									<a href="user-dashboard.html">
										<img src="assets/img/icons/dashboard-icon.svg" alt="Icon">
										<span>Dashboard</span>
									</a>
								</li>
								<li>
									<a href="user-bookings.html">
										<img src="assets/img/icons/booking-icon.svg" alt="Icon">
										<span>My Bookings</span>
									</a>
								</li>
								<li>
									<a href="user-chat.html">
										<img src="assets/img/icons/chat-icon.svg" alt="Icon">
										<span>Chat</span>
									</a>
								</li>
								<li>
									<a href="user-invoice.html">
										<img src="assets/img/icons/invoice-icon.svg" alt="Icon">
										<span>Invoices</span>
									</a>
								</li>
								<li>
									<a href="user-wallet.html">
										<img src="assets/img/icons/wallet-icon.svg" alt="Icon">
										<span>Wallet</span>
									</a>
								</li>
								<li>
									<a href="user-profile.html" class="active">
										<img src="assets/img/icons/profile-icon.svg" alt="Icon">
										<span>Profile Setting</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /Dashboard Menu -->

		<!-- Page Content -->
		<div class="content court-bg" data-select2-id="18">
			<div class="container" data-select2-id="17">

				<div class="coach-court-list profile-court-list">
					<ul class="nav">
						<li><a class="active" href="user-profile.html">Profile</a></li>
						<li><a href="user-setting-password.html">Change Password</a></li>
						<li><a href="user-profile-othersetting.html">Other Settings</a></li>
					</ul>
				</div>

				<div class="row" data-select2-id="16">
					<div class="col-sm-12" data-select2-id="15">
						<div class="profile-detail-group" data-select2-id="14">
							<div class="card " data-select2-id="26">
								<form data-select2-id="13">
									<div class="row" data-select2-id="25">
										<div class="col-md-12">
											<div class="file-upload-text">
												<div class="file-upload">
													<img src="assets/img/icons/img-icon.svg" class="img-fluid"
														alt="Upload">
													<p>Upload Photo</p>
													<span>
														<i class="feather-edit-3"></i>
														<input type="file" id="file-input">
													</span>
												</div>
												<h5>Upload a logo with a minimum size of 150 * 150 pixels (JPG, PNG,
													SVG).</h5>
											</div>
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="input-space">
											<label class="form-label">會員編號</label>
											<input type="text" class="form-control" id="name" placeholder="系統帶入"
												readonly>
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="input-space">
											<label class="form-label">身份別</label>
											<input type="text" class="form-control" id="name" placeholder="系統帶入"
												readonly>
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="input-space">
											<label class="form-label">姓名</label>
											<input type="text" class="form-control" id="name" placeholder="系統帶入"
												readonly>
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="input-space">
											<label class="form-label">暱稱</label>
											<input type="text" class="form-control" id="name" placeholder="可編輯">
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="input-space">
											<label class="form-label">性別</label>
											<input type="text" class="form-control" id="name" placeholder="系統帶入"
												readonly>
											<hr>

										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="input-space">
											<label class="form-label">身份證</label>
											<input type="text" class="form-control" id="name" placeholder="系統帶入"
												readonly>
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="input-space">
											<label class="form-label">出生年月日</label>
											<input type="datetime" class="form-control" id="name" placeholder="系統帶入"
												readonly>
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="input-space">
											<label class="form-label">信箱</label>
											<input type="email" class="form-control" id="email"
												placeholder="Enter Email Address">
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="input-space">
											<label class="form-label">手機號碼</label>
											<input type="text" class="form-control" id="phone"
												placeholder="Enter Phone Number">
										</div>
									</div>

									<div class="col-lg-12 col-md-4">
										<div class="input-space">
											<label class="form-label">請選擇縣市</label>
											<select class="select select2-hidden-accessible" id="citySelect"
												data-select2-id="1" tabindex="-1" aria-hidden="true">
												<option data-select2-id="3">台北市</option>
												<option data-select2-id="19">新北市</option>
											</select>
											<label class="form-label">請選擇鄉鎮市區</label>
											<select class="select select2-hidden-accessible" id="districtSelect"
												tabindex="-1" aria-hidden="true">

											</select>
										</div>
									</div>
									<div class="col-lg-12 col-md-6">
										<div class="input-space">
											<label class="form-label">請輸入詳細地址</label>
											<input type="text" class="form-control" id="city" placeholder="Enter City">
										</div>
									</div>

									<div class="col-lg-12 col-md-12">
										<div class="info-about">
											<label for="comments" class="form-label">個人簡介</label>
											<textarea class="form-control" id="comments" rows="3"
												placeholder="PersonalProfile"></textarea>
										</div>
									</div>
							</div>
							</form>
						</div>
						<div class="save-changes text-end">
							<a href="javascript:;" class="btn btn-primary reset-profile">Reset</a>
							<a href="javascript:;" class="btn btn-secondary save-profile">Save Change</a>
						</div>
					</div>
				</div>
			</div>

		</div>
	</div>
	<!-- /Page Content -->

	<!-- Footer -->

	<!-- /Footer -->

	</div>
	<!-- /Main Wrapper -->



	</div>


</body>

@section Scripts
{
	<!-- jQuery -->
	<script src="assets/js/jquery-3.7.0.min.js"></script>

	<!-- Bootstrap Core JS -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<script src="assets/plugins/datatables/jquery.dataTables.min.js"></script>
	<script src="assets/plugins/datatables/datatables.min.js"></script>

	<!-- Select JS -->
	<script src="assets/plugins/select2/js/select2.min.js"></script>

	<!-- Custom JS -->
	<script src="assets/js/script.js"></script>
	<div class="sidebar-overlay">

		<script>
			$(document).ready(function () {
				// 監聽選擇縣市的變更事件
				$('#citySelect').on('change', function () {
					// 獲取選擇的縣市的值
					var selectedCity = $(this).val();

					// 根據選擇的縣市值，動態更新選擇鄉鎮市區的選項
					updateDistrictOptions(selectedCity);
				});

				// 初始化時觸發一次，以確保初始狀態正確
				$('#citySelect').trigger('change');
			});

			// 函數：根據選擇的縣市值，動態更新選擇鄉鎮市區的選項
			function updateDistrictOptions(selectedCity) {
				// 根據選擇的縣市值，這裡可以根據需要添加更多的邏輯
				// 這裡只是一個簡單的例子
				var districtOptions = [];
				if (selectedCity === '台北市') {
					districtOptions = ['信義區', '大安區', '中山區', /*...*/];
				} else if (selectedCity === '新北市') {
					districtOptions = ['板橋區', '新莊區', '中和區', /*...*/];
				}

				// 清空原有選項
				$('#districtSelect').empty();

				// 根據新的區域選項重新填充
				districtOptions.forEach(function (option) {
					$('#districtSelect').append($('<option>').text(option));
				});
			}
		</script>
}