@{
    ViewData["Title"] = "報名審核";
}
@section Styles{
    <style>
        .request-modal.modal .modal-dialog {
            max-width: 540px;
        }
    </style>
    
}
<partial name="_BreadcrumbPartial" />
<partial name="_DashboardMenuPartail" />
<div class="content court-bg">
    <div class="container">

        <!-- Sort By -->
        <div class="row">
            <div class="col-lg-12">
                <div class="sortby-section court-sortby-section">
                    <div class="sorting-info">
                        <div class="row d-flex align-items-center">
                            <div class="col-xl-12 col-sm-12 col-auto">
                                <div class="sortby-filter-group court-sortby">
                                    <div class="sortbyset week-bg">
                                        <div class="sorting-select">
                                            <select class="form-control select">
                                                <option>This Week</option>
                                                <option>One Day</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="sortbyset">
                                        <span class="sortbytitle">Sort By</span>
                                        <div class="sorting-select">
                                            <select class="form-control select">
                                                <option>Relevance</option>
                                                <option>Price</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- Sort By -->

        <div class="row">
            <div class="col-sm-12">
                <div class="court-tab-content">
                    <div class="card card-tableset">
                        <div class="card-body">
                            <div class="coache-head-blk">
                                <div class="row align-items-center">
                                    <div class="col-lg-6">
                                        <div class="court-table-head">
                                            <h4>資格審核</h4>
                                            <p>活動報名審核</p>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="coach-active-blk">
                                            <div id="tablefilter"></div>
                                            <div class="card-header-btns">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-content">
                                <div class="tab-pane fade show active" id="nav-Recent" role="tabpanel"
                                     aria-labelledby="nav-Recent-tab" tabindex="0">
                                    <div class="table-responsive">
                                        <table class="table table-borderless datatable">
                                            <thead class="thead-light">
                                                <tr>
                                                    <th>活動名稱</th>
                                                    <th>報名申請者</th>
                                                    <th>報名申請時間</th>
                                                    <th>價錢</th>
                                                    <th>目前申請狀態</th>
                                                    <th>接受/拒絕</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="#" class="avatar avatar-sm  flex-shrink-0"><img class="avatar-img" src="~/assets/img/booking/booking-01.jpg" alt="User"></a>
                                                            <span class="table-head-name flex-grow-1">
                                                                <a href="javascript:;" data-bs-toggle="modal"
                                                                   data-bs-target="#request-court">Wing Sports Academy</a>
                                                            </span>
                                                        </h2>
                                                    </td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="my-profile.html"
                                                               class="avatar avatar-sm  flex-shrink-0"><img class="avatar-img" src="~/assets/img/profiles/avatar-01.jpg" alt="User"></a>
                                                            <span class="table-head-name table-name-user flex-grow-1">
                                                                <a href="my-profile.html">Johnson</a>
                                                            </span>
                                                        </h2>
                                                    </td>
                                                    <td class="table-date-time">
                                                        <h4>Fri, Jul 11<span>06:00 PM - 08:00 PM</span></h4>
                                                    </td>

                                                    <td><span class="pay-dark">$250</span></td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i>Paid</span>
                                                    </td>
                                                    <td class="table-accept-btn text-end">
                                                        <a href="javascript:;" class="btn accept-btn"><i class="feather-check-circle"></i>接受</a>
                                                        <a href="javascript:;" class="btn cancel-table-btn" data-bs-toggle="modal" data-bs-target="#request-reject"><i class="feather-x-circle"></i>拒絕</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="#" class="avatar avatar-sm  flex-shrink-0"><img class="avatar-img" src="~/assets/img/booking/booking-01.jpg" alt="User"></a>
                                                            <span class="table-head-name flex-grow-1">
                                                                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#request-court">Feather Badminton</a>

                                                            </span>
                                                        </h2>
                                                    </td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="my-profile.html" class="avatar avatar-sm  flex-shrink-0"><img class="avatar-img" src="~/assets/img/profiles/avatar-02.jpg" alt="User"></a>
                                                            <span class="table-head-name table-name-user flex-grow-1">
                                                                <a href="my-profile.html">Andy</a>
                                                            </span>
                                                        </h2>
                                                    </td>
                                                    <td class="table-date-time">
                                                        <h4>Mon, Jul 11<span>06:00 PM - 08:00 PM</span></h4>
                                                    </td>

                                                    <td><span class="pay-dark">$150</span></td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i>Paid</span>
                                                    </td>
                                                    <td class="table-accept-btn text-end">
                                                        <a href="javascript:;" class="btn accept-btn"><i class="feather-check-circle"></i>接受</a>
                                                        <a href="javascript:;" class="btn cancel-table-btn" data-bs-toggle="modal" data-bs-target="#request-reject"><i class="feather-x-circle"></i>拒絕</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="#"
                                                               class="avatar avatar-sm  flex-shrink-0"><img class="avatar-img" src="~/assets/img/booking/booking-04.jpg" alt="User"></a>
                                                            <span class="table-head-name flex-grow-1">
                                                                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#request-court">Bwing Sports Academy</a>

                                                            </span>
                                                        </h2>
                                                    </td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="my-profile.html"
                                                               class="avatar avatar-sm  flex-shrink-0"><img class="avatar-img" src="~/assets/img/profiles/avatar-06.jpg" alt="User"></a>
                                                            <span class="table-head-name table-name-user flex-grow-1">
                                                                <a href="my-profile.html">Pranika</a>
                                                            </span>
                                                        </h2>
                                                    </td>
                                                    <td class="table-date-time">
                                                        <h4>Wed, Jul 11<span>06:00 PM - 08:00 PM</span></h4>
                                                    </td>

                                                    <td><span class="pay-dark">$130</span></td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i>Paid</span>
                                                    </td>
                                                    <td class="table-accept-btn text-end">
                                                        <a href="javascript:;" class="btn accept-btn"><i class="feather-check-circle"></i>接受</a>
                                                        <a href="javascript:;" class="btn cancel-table-btn" data-bs-toggle="modal" data-bs-target="#request-reject"><i class="feather-x-circle"></i>拒絕</a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="#"
                                                               class="avatar avatar-sm  flex-shrink-0"><img class="avatar-img" src="~/assets/img/booking/booking-05.jpg" alt="User"></a>
                                                            <span class="table-head-name flex-grow-1">
                                                                <a href="javascript:;" data-bs-toggle="modal" data-bs-target="#request-court">Marsh Academy</a>

                                                            </span>
                                                        </h2>
                                                    </td>
                                                    <td>
                                                        <h2 class="table-avatar">
                                                            <a href="my-profile.html" class="avatar avatar-sm  flex-shrink-0"><img class="avatar-img" src="~/assets/img/profiles/avatar-03.jpg" alt="User"></a>
                                                            <span class="table-head-name table-name-user flex-grow-1">
                                                                <a href="my-profile.html">Ariyan</a>
                                                            </span>
                                                        </h2>
                                                    </td>
                                                    <td class="table-date-time">
                                                        <h4>Wed, Jul 11<span>06:00 PM - 08:00 PM</span></h4>
                                                    </td>

                                                    <td><span class="pay-dark">$120</span></td>
                                                    <td class="paid-edit">
                                                        <span><i class="feather-edit"></i>Paid</span>
                                                    </td>
                                                    <td class="table-accept-btn text-end">
                                                        <a href="javascript:;" class="btn accept-btn"><i class="feather-check-circle"></i>接受</a>
                                                        <a href="javascript:;" class="btn cancel-table-btn" data-bs-toggle="modal" data-bs-target="#request-reject"><i class="feather-x-circle"></i>拒絕</a>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-footer">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="tablelength"></div>
                            </div>
                            <div class="col-md-6">
                                <div id="tablepage"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Request Reject -->
<div class="modal custom-modal fade request-modal " id="request-reject" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-sm ">
        <div class="modal-content">
            <div class="modal-header">
                <div class="form-header modal-header-title">
                    <h4 class="mb-0">拒絕申請確認</h4>
                </div>
                <a class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span class="align-center" aria-hidden="true"><i class="feather-x"></i></span>
                </a>
            </div>
            <div class="modal-body">

                <!-- Court Request -->
                <div class="row">
                    <div class="col-lg-12 ">
                        <div class="card dashboard-card court-information">
                            <div class="appointment-info ">
                                <h3>確定拒絕參團者申請嗎?</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /Court Request -->

            </div>
            <div class="modal-footer">
                <div class="table-accept-btn">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">關閉</button>
                    <a href="javascript:;" class="btn cancel-table-btn">確定拒絕</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- /Request Reject -->
