@{
	var search = ViewBag.search;
	ViewData["Title"] = "活動";
}
@section Styles
	{
	<style>
		.btn-load {
			background: #FFFFFF;
			color: #192335;
			border: 3px solid #EAEDF0;
			border-radius: 5px;
			padding: 16px;
			min-width: 102px;
			display: inline-flex;
		}
	</style>
}
<partial name="_BreadcrumbPartial" />

<!-- Page Content -->
<div id="activity" class="content">
	<div class="container">
		<!-- Sort By -->
		<template v-if="blnData==true">
			<div class="row">
				<div class="col-lg-12">
					<div class="sortby-section">
						<div class="sorting-info">
							<div class="row d-flex align-items-center">
								<div class="col-xl-4 col-lg-3 col-sm-12 col-12">
								</div>
								<div class="col-xl-8 col-lg-9 col-sm-12 col-12">
									<div class="sortby-filter-group">

										<div class="sortbyset">
											<span class="sortbytitle">報名截止日排序</span>
											<div class="sorting-select">
												<select id="selectSort" v-model="sort" v-on:change="Sort()" class="form-select">
													<option value="asc">近到遠</option>
													<option value="desc">遠到近</option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</template>
		<!-- Sort By -->
		<!-- Listing Content -->
		<div  data-aos="fade-up" class="row justify-content-center">
				<!-- Featured Item -->
					<div class="col-lg-4 col-md-6" v-for="item in activityList">
						<div class="wrapper">
						<div class="listing-item listing-item-grid">
							<div class="listing-img">
								<a href="venue-details.html">
									<img src="~/assets/img/venues/venues-01.jpg" alt="Venue">
								</a>
								<div class="fav-item-venues">
									<div class="list-reviews">
										<a href="javascript:void(0)" v-on:click="Fav(item.activityId)" v-bind:class="wish.includes(item.activityId)? 'fav-icon selected':'fav-icon'">
											<i class="feather-heart"></i>
										</a>
									</div>
								</div>
							</div>
							<div class="listing-content">
								<h3 class="listing-title">
									<a href="venue-details.html">{{item.activityName}}</a>
								</h3>
								<div class="listing-details-group">
									<p>[活動簡述]</p>
									<ul>
										<li>
											<span>
													<i class="feather-map-pin"></i>{{item.activityLocation}}
											</span>
										</li>
										<li>
											<span>
													<i class="feather-calendar"></i>報名截止日 : <span class="primary-text">{{item.joinDeadLine}}</span>
											</span>
										</li>
									</ul>
								</div>
								<div class="listing-button">
									<div class="listing-venue-owner">
										<a class="navigation" href="coach-detail.html">
												<img src="~/assets/img/profiles/avatar-01.jpg" alt="Venue">{{item.nickName}}
										</a>
									</div>
									<a href="venue-details.html" class="user-book-now"><span><i class="feather-calendar me-2"></i></span>參加</a>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!-- /Featured Item -->
			<template v-if="blnData==true">
				<div class="col-12 text-center">
					<div class="more-details">
						<a v-on:click="More()" class="btn btn-load">查看更多 <img src="~/assets/img/icons/u_plus-square.svg" class="ms-2" alt="img"></a>
					</div>
				</div>
			</template>
			<template v-else>
				<div class="row">
					<div class="col-sm-12 col-md-6 col-lg-5 mx-auto text-center">
						<h3>查無符合您需求的活動</h3>
						<p>請等等，很快就有揪團主建立活動</p>
						<a href="/" class="btn btn-primary d-inline-flex align-items-center">返回首頁<i class="feather-arrow-right-circle ms-2"></i></a>
					</div>
				</div>
			</template>
		</div>
		<!-- /Listing Content -->
	</div>
</div>
<!-- /Page Content -->
@section Scripts
	{
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.3.4/vue.global.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.0/axios.min.js" integrity="sha512-WrdC3CE9vf1nBf58JHepuWT4x24uTacky9fuzw2g/3L9JkihgwZ6Cfv+JGTtNyosOhEmttMtEZ6H3qJWfI7gIQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script>
		const activity = Vue.createApp({
			data() {
				return {
					activityList: [],
					wish: [],
					top: 6,
					sort: "asc",
					blnData: true,
				}
			},
			mounted() {
				let _this = this;
				_this.GetCategoryTypeList();
			},
			methods: {
				GetCategoryTypeList() {
					let _this = this;
					var form = new FormData();
					form.append("categoyId", @search.categoyId);
					form.append("categoryTypeId", @search.categoryTypeId);
					form.append("top", _this.top);
					form.append("city", @search.city);
					form.append("area", @search.area);
					form.append("sort", _this.sort);
					axios.post("/MiddleCenterApi/GetCategoryTypeList", form, {
						headers: {
							"Content-Type": "multipart/form-data"
							}
						})
						.then(res => {
							_this.activityList = res.data;
							if (_this.activityList.length === 0) {
								_this.blnData = false;
							}
						})
						.catch(err => alert(err));
					_this.QueryWish();
				},
				QueryWish() {
					let _this = this;
					axios.get("/WishApi/GetWishList")
						.then(res => _this.wish = res.data)
						.catch(err => alert(err));
				},
				Fav(id) {
					let _this = this;
					if (_this.wish.includes(id)) {
						axios.delete(`/WishApi/DeleteWish/${id}`)
							.then()
							.catch(err => alert(err));
					}
					else {
						//目前寫死會員ID_1，等待網頁狀態實作
						let _this = this;
						var form = new FormData();
						form.append("memberId", 1);
						form.append("activityId", id);
						form.append("addTime", GetDateTime());
						axios.post("/WishApi/InsertWish", form, {
							headers: {
								"Content-Type": "multipart/form-data"
							}
						})
							.then()
							.catch(err => alert(err));
					}
					_this.GetCategoryTypeList();
				},
				More() {
					let _this = this;
					_this.top += 6;
					_this.GetCategoryTypeList();
					Jhobby_Animation()
				},
				Sort() {
					let _this = this;
					_this.GetCategoryTypeList()
					_this.QueryWish();
				}
			}
		}).mount("#activity")



	</script>
}